Repository ansys/pymechanical, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, ci/cd

check for revision being none
  src/ansys/mechanical/core/ide_config.py
Labels: none

update doc
  doc/source/getting_started/docker.rst
Labels: documentation

fix dockerignore file name
  doc/source/getting_started/docker.rst
  docker/251/.dockerignore
  docker/252/.dockerignore
Labels: documentation, ci/cd

review suggestions
  doc/source/getting_started/docker.rst
Labels: documentation

DOCS: Update ``CONTRIBUTORS.md`` with the latest contributors (#1526)
  CONTRIBUTORS.md
  doc/changelog.d/1526.documentation.md
Labels: documentation

remove docutils link
  doc/source/links.rst
Labels: documentation

rever docker ignore file to merge PR
  docker/252/dockerignore
Labels: ci/cd

fix: remove docutils from link check ignore (#1523)
  doc/changelog.d/1523.fixed.md
  doc/source/conf.py
  doc/source/links.rst
Labels: documentation

update dockerignore path
  docker/252/.dockerignore
Labels: ci/cd

update link
  doc/source/getting_started/docker.rst
Labels: documentation

Update pyproject.toml
  pyproject.toml
Labels: dependencies

update labels
  .github/labels.yml
  docker/251/.dockerignore
  docker/252/.dockerignore
Labels: maintenance, ci/cd

fix correct extension
  docker/252/.dockerignore
Labels: ci/cd

fix: update docker doc (#1519)
  doc/changelog.d/1519.fixed.md
  doc/source/getting_started/docker.rst
  doc/source/user_guide/remote_session/grpc_security.rst
  docker/251/.dockerignore
  docker/252/.dockerignore
Labels: documentation, ci/cd

fix dockerignore link
  doc/source/getting_started/docker.rst
Labels: documentation

remove dockerignore without .
  docker/252/dockerignore
Labels: ci/cd

chore: adding changelog file 1536.fixed.md [dependabot-skip]
  doc/changelog.d/1536.fixed.md
Labels: documentation

add internal usage instructions
  docker/run_container.rst
Labels: ci/cd

feat: Add more pre-commit hooks (#1533)
  .gitignore
  .pre-commit-config.yaml
  doc/changelog.d/1533.added.md
  doc/source/conf.py
  doc/styles/.gitignore
  doc/styles/typos.toml
  examples/01_basic/harmonic_acoustics.py
  examples/01_basic/topology_optimization_cantilever_beam.py
  src/ansys/mechanical/core/embedding/app.py
  src/ansys/mechanical/core/embedding/background.py
  src/ansys/mechanical/core/embedding/graphics/embedding_plotter.py
  src/ansys/mechanical/core/embedding/graphics/usd_converter.py
  src/ansys/mechanical/core/embedding/graphics/utils.py
  src/ansys/mechanical/core/embedding/imports.py
  src/ansys/mechanical/core/embedding/initializer.py
  src/ansys/mechanical/core/embedding/ipython_shell.py
  src/ansys/mechanical/core/embedding/license_manager.py
  src/ansys/mechanical/core/embedding/logger/__init__.py
  src/ansys/mechanical/core/embedding/rpc/client.py
  src/ansys/mechanical/core/embedding/rpc/server.py
  src/ansys/mechanical/core/embedding/rpc/utils.py
  src/ansys/mechanical/core/embedding/ui.py
  src/ansys/mechanical/core/examples/downloads.py
  src/ansys/mechanical/core/feature_flags.py
  src/ansys/mechanical/core/ide_config.py
  src/ansys/mechanical/core/logging.py
  src/ansys/mechanical/core/mechanical.py
  src/ansys/mechanical/core/run.py
  tests/conftest.py
  tests/embedding/test_app.py
  tests/embedding/test_background.py
  tests/embedding/test_logger.py
  tests/embedding/test_qk_eng_wb2.py
Labels: documentation, maintenance

add new label
  .github/labels.yml
Labels: maintenance, ci/cd

chore: adding changelog file 1537.maintenance.md [dependabot-skip]
  doc/changelog.d/1537.maintenance.md
Labels: documentation

add new labels
  .github/labels.yml
Labels: maintenance, ci/cd

remove hyperlink
  doc/source/contribute/documentarian.rst
Labels: documentation

chore: add new labels (#1537)
  .github/labels.yml
  doc/changelog.d/1537.maintenance.md
  doc/source/contribute/documentarian.rst
Labels: documentation, maintenance, ci/cd

fix: docker doc (#1536)
  doc/changelog.d/1536.fixed.md
  doc/source/getting_started/docker.rst
  docker/252/dockerignore
  docker/run_container.rst
Labels: documentation, ci/cd

bump to v0.12.3
  pyproject.toml
Labels: dependencies

chore: updating CHANGELOG for v0.12.3
  doc/changelog.d/1501.added.md
  doc/changelog.d/1502.added.md
  doc/changelog.d/1503.maintenance.md
  doc/changelog.d/1505.maintenance.md
  doc/changelog.d/1506.maintenance.md
  doc/changelog.d/1509.maintenance.md
  doc/changelog.d/1510.maintenance.md
  doc/changelog.d/1511.maintenance.md
  doc/changelog.d/1513.added.md
  doc/changelog.d/1514.miscellaneous.md
  doc/changelog.d/1515.maintenance.md
  doc/changelog.d/1516.maintenance.md
  doc/changelog.d/1518.maintenance.md
  doc/changelog.d/1519.fixed.md
  doc/changelog.d/1523.fixed.md
  doc/changelog.d/1524.added.md
  doc/changelog.d/1526.documentation.md
  doc/changelog.d/1528.maintenance.md
  doc/changelog.d/1529.maintenance.md
  doc/changelog.d/1530.maintenance.md
  doc/changelog.d/1533.added.md
  doc/changelog.d/1536.fixed.md
  doc/changelog.d/1537.maintenance.md
  doc/source/changelog.rst
Labels: documentation

chore: updating CHANGELOG for v0.12.3
  doc/changelog.d/1501.added.md
  doc/changelog.d/1502.added.md
  doc/changelog.d/1503.maintenance.md
  doc/changelog.d/1505.maintenance.md
  doc/changelog.d/1506.maintenance.md
  doc/changelog.d/1509.maintenance.md
  doc/changelog.d/1510.maintenance.md
  doc/changelog.d/1511.maintenance.md
  doc/changelog.d/1513.added.md
  doc/changelog.d/1514.miscellaneous.md
  doc/changelog.d/1515.maintenance.md
  doc/changelog.d/1516.maintenance.md
  doc/changelog.d/1518.maintenance.md
  doc/changelog.d/1519.fixed.md
  doc/changelog.d/1523.fixed.md
  doc/changelog.d/1524.added.md
  doc/changelog.d/1526.documentation.md
  doc/changelog.d/1528.maintenance.md
  doc/changelog.d/1529.maintenance.md
  doc/changelog.d/1530.maintenance.md
  doc/changelog.d/1533.added.md
  doc/changelog.d/1536.fixed.md
  doc/changelog.d/1537.maintenance.md
  doc/source/changelog.rst
Labels: documentation

chore: adding changelog file 1538.maintenance.md [dependabot-skip]
  doc/changelog.d/1538.maintenance.md
Labels: documentation

fix docker doc
  doc/source/getting_started/docker.rst
Labels: documentation

chore: update CHANGELOG for v0.12.3 (#1538)
  doc/changelog.d/1501.added.md
  doc/changelog.d/1502.added.md
  doc/changelog.d/1503.maintenance.md
  doc/changelog.d/1505.maintenance.md
  doc/changelog.d/1506.maintenance.md
  doc/changelog.d/1509.maintenance.md
  doc/changelog.d/1510.maintenance.md
  doc/changelog.d/1511.maintenance.md
  doc/changelog.d/1513.added.md
  doc/changelog.d/1514.miscellaneous.md
  doc/changelog.d/1515.maintenance.md
  doc/changelog.d/1516.maintenance.md
  doc/changelog.d/1518.maintenance.md
  doc/changelog.d/1519.fixed.md
  doc/changelog.d/1523.fixed.md
  doc/changelog.d/1524.added.md
  doc/changelog.d/1526.documentation.md
  doc/changelog.d/1528.maintenance.md
  doc/changelog.d/1529.maintenance.md
  doc/changelog.d/1530.maintenance.md
  doc/changelog.d/1533.added.md
  doc/changelog.d/1536.fixed.md
  doc/changelog.d/1537.maintenance.md
  doc/changelog.d/1538.maintenance.md
  doc/source/changelog.rst
Labels: documentation

chore: adding changelog file 1539.fixed.md [dependabot-skip]
  doc/changelog.d/1539.fixed.md
Labels: documentation

mtls test
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

chore: adding changelog file 1540.test.md [dependabot-skip]
  doc/changelog.d/1540.test.md
Labels: documentation

update tests
  .github/workflows/ci_cd.yml
  tests/conftest.py
Labels: maintenance, ci/cd

update ansys-api-mechanical
  pyproject.toml
Labels: dependencies

chore: update protobuf version (#1525)
  doc/changelog.d/1525.maintenance.md
  pyproject.toml
Labels: documentation, dependencies

fix: docker doc (#1539)
  doc/changelog.d/1539.fixed.md
  doc/source/getting_started/docker.rst
Labels: documentation

chore: adding changelog file 1542.maintenance.md [dependabot-skip]
  doc/changelog.d/1542.maintenance.md
Labels: documentation

chore: adding changelog file 1543.maintenance.md [dependabot-skip]
  doc/changelog.d/1543.maintenance.md
Labels: documentation

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/**/*', 'examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', '.pre-commit-config.yaml']

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

ci/cd:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'docker/**/*']
