Repository ansys/pymechanical, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, ci/cd

fix exception in run
  src/ansys/mechanical/core/run.py
Labels: none

update cli tests
  tests/test_cli.py
  tests/test_cli_transport.py
Labels: none

fix cli test
  src/ansys/mechanical/core/misc.py
  src/ansys/mechanical/core/run.py
  tests/test_cli_transport.py
Labels: none

update mtls test
  src/ansys/mechanical/core/run.py
  tests/test_cli_transport.py
Labels: none

feat: add news sidebar
  doc/source/_templates/latest_news_sidebar.html
  doc/source/_templates/layout.html
  doc/source/conf.py
Labels: documentation

feat: sidebar
  doc/source/_templates/latest_news_sidebar.html
  doc/source/_templates/layout.html
  doc/source/conf.py
Labels: documentation

feat: update the conf
  doc/source/_templates/layout.html
  doc/source/conf.py
Labels: documentation

feat: update the conf
  doc/source/_templates/latest_news_sidebar.html
  doc/source/conf.py
Labels: documentation

add draft doc
  doc/source/user_guide/index.rst
  doc/source/user_guide/remote_session/grpc_security.rst
Labels: documentation

chore: adding changelog file 1443.added.md [dependabot-skip]
  doc/changelog.d/1443.added.md
Labels: documentation

update content
  doc/source/conf.py
Labels: documentation

revert to ansys-tools-path
  doc/source/api/path.rst
  doc/source/conf.py
  doc/source/getting_started/installation.rst
  doc/source/user_guide/cli/find-mechanical.rst
  doc/source/user_guide/remote_session/server-launcher.rst
  pyproject.toml
  src/ansys/mechanical/core/__init__.py
  src/ansys/mechanical/core/embedding/app_libraries.py
  src/ansys/mechanical/core/embedding/find_mechanical.py
  src/ansys/mechanical/core/ide_config.py
  src/ansys/mechanical/core/mechanical.py
  src/ansys/mechanical/core/pool.py
  src/ansys/mechanical/core/run.py
  tests/conftest.py
  tests/embedding/test_app_libraries.py
  tests/test_cli.py
  tests/test_mechanical.py
Labels: documentation, dependencies

revert to ansys-tools-common and skip min version test
  doc/source/api/path.rst
  doc/source/getting_started/installation.rst
  doc/source/user_guide/cli/find-mechanical.rst
  doc/source/user_guide/remote_session/server-launcher.rst
  pyproject.toml
  src/ansys/mechanical/core/__init__.py
  src/ansys/mechanical/core/embedding/app_libraries.py
  src/ansys/mechanical/core/embedding/find_mechanical.py
  src/ansys/mechanical/core/ide_config.py
  src/ansys/mechanical/core/mechanical.py
  src/ansys/mechanical/core/pool.py
  src/ansys/mechanical/core/run.py
  tests/conftest.py
  tests/embedding/test_app.py
  tests/embedding/test_app_libraries.py
  tests/test_cli.py
  tests/test_mechanical.py
Labels: documentation, dependencies

only run test_app_feature_flags
  .github/workflows/ci_cd.yml
  tests/embedding/test_app.py
Labels: maintenance, ci/cd

ads
  doc/source/_ext/ansys_mechanical_ads.py
  doc/source/_static/ansys-mechanical-ads.css
  doc/source/_static/ansys-mechanical-ads.js
  doc/source/_templates/layout.html
  doc/source/ansys_mechanical_ads.py
  doc/source/ansys_mechanical_ads_examples.rst
  doc/source/conf.py
  doc/source/extensions/__init__.py
  doc/source/extensions/ansys_mechanical_ads.py
Labels: documentation

remove cert check
  src/ansys/mechanical/core/launcher.py
  src/ansys/mechanical/core/mechanical.py
  src/ansys/mechanical/core/run.py
Labels: none

remove cert check
  tests/test_cli_transport.py
Labels: none

chore: adding changelog file 1447.maintenance.md [dependabot-skip]
  doc/changelog.d/1447.maintenance.md
Labels: documentation

chore: adding changelog file 1449.maintenance.md [dependabot-skip]
  doc/changelog.d/1449.maintenance.md
Labels: documentation

chore: adding changelog file 1450.maintenance.md [dependabot-skip]
  doc/changelog.d/1450.maintenance.md
Labels: documentation

chore: adding changelog file 1451.maintenance.md [dependabot-skip]
  doc/changelog.d/1451.maintenance.md
Labels: documentation

remove debug print
  src/ansys/mechanical/core/launcher.py
  src/ansys/mechanical/core/mechanical.py
Labels: none

chore: adding changelog file 1448.maintenance.md [dependabot-skip]
  doc/changelog.d/1448.maintenance.md
Labels: documentation

update doc
  doc/source/user_guide/remote_session/grpc_security.rst
Labels: documentation

remove old grpc exception
  src/ansys/mechanical/core/mechanical.py
Labels: none

chore: adding changelog file 1454.maintenance.md [dependabot-skip]
  doc/changelog.d/1454.maintenance.md
Labels: documentation

add uuid for client
  src/ansys/mechanical/core/mechanical.py
Labels: none

update sp and product
  src/ansys/mechanical/core/launcher.py
  src/ansys/mechanical/core/misc.py
  src/ansys/mechanical/core/run.py
  tests/test_cli_transport.py
Labels: none

update doc
  doc/source/user_guide/remote_session/grpc_security.rst
Labels: documentation

update doc style
  doc/source/user_guide/remote_session/grpc_security.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
Labels: documentation

update warning message
  src/ansys/mechanical/core/run.py
Labels: none

grpc minimal change
  .github/workflows/ci_cd.yml
  LICENSE
  doc/source/user_guide/index.rst
  doc/source/user_guide/remote_session/grpc_security.rst
  src/ansys/mechanical/core/launcher.py
  src/ansys/mechanical/core/logging.py
  src/ansys/mechanical/core/mechanical.py
  src/ansys/mechanical/core/misc.py
  src/ansys/mechanical/core/run.py
  tests/conftest.py
  tests/test_cli.py
  tests/test_cli_transport.py
Labels: documentation, maintenance, ci/cd

chore: adding changelog file 1455.fixed.md [dependabot-skip]
  doc/changelog.d/1455.fixed.md
Labels: documentation

update common tools
  src/ansys/mechanical/core/launcher.py
Labels: none

update path
  LICENSE
  src/ansys/mechanical/core/launcher.py
  src/ansys/mechanical/core/mechanical.py
  src/ansys/mechanical/core/misc.py
Labels: none

update condition
  src/ansys/mechanical/core/mechanical.py
Labels: none

update vale accept
  doc/styles/config/vocabularies/ANSYS/accept.txt
Labels: documentation

fix fixture
  tests/conftest.py
Labels: none

chore: adding changelog file 1456.maintenance.md [dependabot-skip]
  doc/changelog.d/1456.maintenance.md
Labels: documentation

chore: adding changelog file 1456.maintenance.md [dependabot-skip]
  doc/changelog.d/1456.maintenance.md
Labels: documentation

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/**/*', 'examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', '.pre-commit-config.yaml']

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

ci/cd:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'docker/**/*']
