Repository ansys/pymechanical, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, ci/cd

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/**/*', 'examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', '.pre-commit-config.yaml']

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

ci/cd:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'docker/**/*']

ruff lint
  tests/conftest.py
  tests/embedding/test_analytics.py
  tests/embedding/test_app_libraries.py
  tests/test_cli.py
  tests/test_mechanical.py
Labels: none

ruff lint2
  tests/embedding/test_app.py
  tests/embedding/test_app_libraries.py
  tests/embedding/test_appdata.py
  tests/embedding/test_background.py
  tests/embedding/test_dyna.py
  tests/embedding/test_globals.py
  tests/embedding/test_graphics_export.py
  tests/embedding/test_license_manager.py
  tests/embedding/test_logger.py
  tests/embedding/test_messages.py
  tests/embedding/test_qk_eng_wb2.py
  tests/embedding/test_remote_solve.py
  tests/test_logging.py
  tests/test_misc.py
Labels: none

ruff lint3
  examples/01_basic/bolt_pretension.py
  examples/01_basic/valve.py
  pyproject.toml
Labels: documentation, dependencies

ruff lint4
  examples/01_basic/steady_state_thermal_analysis.py
Labels: documentation

ruff lint5
  src/ansys/mechanical/core/__init__.py
  src/ansys/mechanical/core/embedding/app_libraries.py
  src/ansys/mechanical/core/embedding/find_mechanical.py
  src/ansys/mechanical/core/embedding/graphics/embedding_plotter.py
  src/ansys/mechanical/core/embedding/rpc/utils.py
  src/ansys/mechanical/core/ide_config.py
  src/ansys/mechanical/core/mechanical.py
  src/ansys/mechanical/core/pool.py
  src/ansys/mechanical/core/run.py
Labels: none

ruff lint6
  pyproject.toml
  src/ansys/mechanical/core/__init__.py
  src/ansys/mechanical/core/embedding/app_libraries.py
  src/ansys/mechanical/core/embedding/find_mechanical.py
  src/ansys/mechanical/core/embedding/graphics/embedding_plotter.py
  src/ansys/mechanical/core/ide_config.py
  src/ansys/mechanical/core/mechanical.py
  src/ansys/mechanical/core/pool.py
  src/ansys/mechanical/core/run.py
Labels: dependencies

ruff lint7
  doc/source/conf.py
Labels: documentation

chore: adding changelog file 1351.fixed.md [dependabot-skip]
  doc/changelog.d/1351.fixed.md
Labels: documentation

ruff lint8 graphics
  src/ansys/mechanical/core/embedding/graphics/embedding_plotter.py
  src/ansys/mechanical/core/embedding/graphics/usd_converter.py
  src/ansys/mechanical/core/embedding/graphics/utils.py
Labels: none

ruff lint rpc
  src/ansys/mechanical/core/embedding/logger/__init__.py
  src/ansys/mechanical/core/embedding/logger/linux_api.py
  src/ansys/mechanical/core/embedding/rpc/__init__.py
  src/ansys/mechanical/core/embedding/rpc/client.py
  src/ansys/mechanical/core/embedding/rpc/default_server.py
  src/ansys/mechanical/core/embedding/rpc/server.py
  src/ansys/mechanical/core/embedding/rpc/utils.py
Labels: none

ruff lint add_lib
  src/ansys/mechanical/core/embedding/app_libraries.py
Labels: none

ruff lint app
  src/ansys/mechanical/core/embedding/app.py
Labels: none

ruff lint find-mech
  src/ansys/mechanical/core/embedding/background.py
  src/ansys/mechanical/core/embedding/find_mechanical.py
Labels: none

ruff lint imports
  src/ansys/mechanical/core/embedding/imports.py
Labels: none

ruff lint initializer
  src/ansys/mechanical/core/embedding/initializer.py
Labels: none

ruff lint lic
  src/ansys/mechanical/core/embedding/license_manager.py
Labels: none

loader lint
  src/ansys/mechanical/core/embedding/loader.py
Labels: none

warnings
  src/ansys/mechanical/core/embedding/mechanical_warnings.py
Labels: none

chore: adding changelog file 1353.maintenance.md [dependabot-skip]
  doc/changelog.d/1353.maintenance.md
Labels: documentation

chore: adding changelog file 1354.maintenance.md [dependabot-skip]
  doc/changelog.d/1354.maintenance.md
Labels: documentation

Lazily instantiate the license preference object
  src/ansys/mechanical/core/embedding/license_manager.py
Labels: none

chore: adding changelog file 1352.maintenance.md [dependabot-skip]
  doc/changelog.d/1352.maintenance.md
Labels: documentation

chore: adding changelog file 1356.fixed.md [dependabot-skip]
  doc/changelog.d/1356.fixed.md
Labels: documentation

chore: adding changelog file 1346.maintenance.md [dependabot-skip]
  doc/changelog.d/1346.maintenance.md
Labels: documentation

chore: adding changelog file 1347.maintenance.md [dependabot-skip]
  doc/changelog.d/1347.maintenance.md
Labels: documentation

lint embedding
  src/ansys/mechanical/core/embedding/app_libraries.py
  src/ansys/mechanical/core/embedding/find_mechanical.py
  src/ansys/mechanical/core/embedding/graphics/embedding_plotter.py
  src/ansys/mechanical/core/embedding/resolver.py
  src/ansys/mechanical/core/embedding/runtime.py
  src/ansys/mechanical/core/embedding/shims.py
  src/ansys/mechanical/core/embedding/ui.py
  src/ansys/mechanical/core/embedding/utils.py
Labels: none

lint examples
  src/ansys/mechanical/core/examples/downloads.py
Labels: none

init lint
  src/ansys/mechanical/core/__init__.py
Labels: none

errors lint
  src/ansys/mechanical/core/errors.py
Labels: none

ideconfig lint
  src/ansys/mechanical/core/ide_config.py
Labels: none

launcher lint
  src/ansys/mechanical/core/launcher.py
Labels: none

lint logging
  src/ansys/mechanical/core/ide_config.py
  src/ansys/mechanical/core/logging.py
Labels: none

lint mechanical - part1
  src/ansys/mechanical/core/mechanical.py
Labels: none

lint misc
  src/ansys/mechanical/core/misc.py
Labels: none

lint pool
  src/ansys/mechanical/core/pool.py
  src/ansys/mechanical/core/run.py
Labels: none

fix: Lazily instantiate the license preference object (#1356)
  doc/changelog.d/1356.fixed.md
  src/ansys/mechanical/core/embedding/license_manager.py
Labels: documentation

lint test_example
  pyproject.toml
  tests/test_examples_downloads.py
Labels: dependencies

lint test_logger
  pyproject.toml
  tests/test_logging.py
Labels: dependencies

update Path
  src/ansys/mechanical/core/mechanical.py
  tests/test_mechanical.py
Labels: none

lint test_analytics
  tests/embedding/test_analytics.py
Labels: none
