Repository ansys/pymechanical, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, ci/cd

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/**/*', 'examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', '.pre-commit-config.yaml']

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

ci/cd:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'docker/**/*']

add more refs
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

fix condition for remote test
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

FEAT: Improve command-line handling (#1513)
  doc/changelog.d/1513.added.md
  mechanical-env
Labels: documentation

update dep
  pyproject.toml
Labels: dependencies

install necessary dep
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

chore: adding changelog file 1469.maintenance.md [dependabot-skip]
  doc/changelog.d/1469.maintenance.md
Labels: documentation

use string comparison
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

Update pyproject.toml
  pyproject.toml
Labels: dependencies

chore: add upper bound and dev dep (#1505)
  doc/changelog.d/1505.maintenance.md
  pyproject.toml
Labels: documentation, dependencies

chore: add nightly to use latest candidate image (#1515)
  .github/workflows/ci_cd.yml
  doc/changelog.d/1515.maintenance.md
Labels: documentation, maintenance, ci/cd

refactor: Refactor, fix, embedding code (#1514)
  doc/changelog.d/1514.miscellaneous.md
  src/ansys/mechanical/core/embedding/app.py
  src/ansys/mechanical/core/embedding/app_libraries.py
  src/ansys/mechanical/core/embedding/appdata.py
  src/ansys/mechanical/core/embedding/background.py
  src/ansys/mechanical/core/embedding/enum_importer.py
  src/ansys/mechanical/core/embedding/global_importer.py
  src/ansys/mechanical/core/embedding/imports.py
  src/ansys/mechanical/core/embedding/initializer.py
  src/ansys/mechanical/core/embedding/ipython_shell.py
  src/ansys/mechanical/core/embedding/license_manager.py
  src/ansys/mechanical/core/embedding/messages.py
  src/ansys/mechanical/core/embedding/ui.py
  src/ansys/mechanical/core/embedding/utils.py
Labels: documentation

feat: add mypy in pre-commit (#1502)
  .gitignore
  .pre-commit-config.yaml
  doc/changelog.d/1502.added.md
  src/ansys/mechanical/core/__init__.py
  src/ansys/mechanical/core/_version.py
  src/ansys/mechanical/core/embedding/app.py
  src/ansys/mechanical/core/embedding/background.py
  src/ansys/mechanical/core/embedding/graphics/embedding_plotter.py
  src/ansys/mechanical/core/embedding/graphics/usd_converter.py
  src/ansys/mechanical/core/embedding/graphics/utils.py
  src/ansys/mechanical/core/embedding/initializer.py
  src/ansys/mechanical/core/embedding/ipython_shell.py
  src/ansys/mechanical/core/embedding/license_manager.py
  src/ansys/mechanical/core/embedding/logger/environ.py
  src/ansys/mechanical/core/embedding/logger/linux_api.py
  src/ansys/mechanical/core/embedding/rpc/client.py
  src/ansys/mechanical/core/embedding/rpc/server.py
  src/ansys/mechanical/core/embedding/rpc/utils.py
  src/ansys/mechanical/core/embedding/ui.py
  src/ansys/mechanical/core/ide_config.py
  src/ansys/mechanical/core/logging.py
  src/ansys/mechanical/core/mechanical.py
  src/ansys/mechanical/core/py.typed
  src/ansys/mechanical/core/run.py
Labels: documentation, maintenance

Update CONTRIBUTORS.md with the latest contributors
  CONTRIBUTORS.md
Labels: none

chore: adding changelog file 1518.maintenance.md [dependabot-skip]
  doc/changelog.d/1518.maintenance.md
Labels: documentation

update docker doc
  doc/source/getting_started/docker.rst
  doc/source/user_guide/remote_session/grpc_security.rst
Labels: documentation

update link
  doc/source/getting_started/docker.rst
Labels: documentation

re add docutils
  doc/source/conf.py
Labels: documentation

chore: adding changelog file 1523.fixed.md [dependabot-skip]
  doc/changelog.d/1523.fixed.md
Labels: documentation

add faq on batchmode
  doc/source/faq.rst
Labels: documentation

chore: adding changelog file 1524.added.md [dependabot-skip]
  doc/changelog.d/1524.added.md
Labels: documentation

update protobuff version
  pyproject.toml
Labels: dependencies

chore: adding changelog file 1525.maintenance.md [dependabot-skip]
  doc/changelog.d/1525.maintenance.md
Labels: documentation

fix mypy
  examples/01_basic/bolt_pretension.py
  examples/01_basic/cooling_holes_thermal_analysis.py
  examples/01_basic/fracture_analysis_contact_debonding.py
  examples/01_basic/harmonic_acoustics.py
  examples/01_basic/modal_acoustics_analysis.py
  examples/01_basic/steady_state_thermal_analysis.py
  examples/01_basic/topology_optimization_cantilever_beam.py
  examples/01_basic/valve.py
  src/ansys/mechanical/core/embedding/helpers.py
Labels: documentation

chore: adding changelog file 1526.documentation.md [dependabot-skip]
  doc/changelog.d/1526.documentation.md
Labels: documentation

Apply suggestion from @dipinknair
  doc/source/getting_started/docker.rst
Labels: documentation

add pithon
  .github/workflows/ci_cd.yml
  pyproject.toml
Labels: maintenance, dependencies, ci/cd

chore: adding changelog file 1527.added.md [dependabot-skip]
  doc/changelog.d/1527.added.md
Labels: documentation

feat: add faq on batchmode (#1524)
  doc/changelog.d/1524.added.md
  doc/source/faq.rst
Labels: documentation

remove setup_view all occurance
  doc/changelog.d/whatsnew.yml
  doc/source/user_guide/howto/helpers.rst
  tests/embedding/test_helper.py
Labels: documentation

remove setup_view all occurance
  doc/changelog.d/whatsnew.yml
Labels: documentation

chore: adding changelog file 1519.fixed.md [dependabot-skip]
  doc/changelog.d/1519.fixed.md
Labels: documentation

chore: adding changelog file 1528.maintenance.md [dependabot-skip]
  doc/changelog.d/1528.maintenance.md
Labels: documentation

chore: adding changelog file 1529.maintenance.md [dependabot-skip]
  doc/changelog.d/1529.maintenance.md
Labels: documentation

chore: adding changelog file 1530.maintenance.md [dependabot-skip]
  doc/changelog.d/1530.maintenance.md
Labels: documentation

add pre-commits
  .pre-commit-config.yaml
  src/ansys/mechanical/core/embedding/app.py
  src/ansys/mechanical/core/embedding/graphics/embedding_plotter.py
  src/ansys/mechanical/core/embedding/graphics/usd_converter.py
  src/ansys/mechanical/core/embedding/graphics/utils.py
  src/ansys/mechanical/core/embedding/imports.py
  src/ansys/mechanical/core/embedding/initializer.py
  src/ansys/mechanical/core/embedding/ui.py
  src/ansys/mechanical/core/mechanical.py
Labels: maintenance

add typos pre-commit
  .gitignore
  .pre-commit-config.yaml
  doc/source/conf.py
  doc/styles/.gitignore
  doc/styles/typos.toml
  examples/01_basic/harmonic_acoustics.py
  examples/01_basic/topology_optimization_cantilever_beam.py
  src/ansys/mechanical/core/embedding/rpc/client.py
  src/ansys/mechanical/core/examples/downloads.py
  src/ansys/mechanical/core/logging.py
  src/ansys/mechanical/core/mechanical.py
  tests/conftest.py
  tests/embedding/test_app.py
  tests/embedding/test_qk_eng_wb2.py
Labels: documentation, maintenance

chore: adding changelog file 1533.added.md [dependabot-skip]
  doc/changelog.d/1533.added.md
Labels: documentation

use commit hash
  .pre-commit-config.yaml
Labels: maintenance

Apply suggestion from @dipinknair
  doc/source/conf.py
Labels: documentation

add python 3.10 config for pyupgrade
  .pre-commit-config.yaml
  src/ansys/mechanical/core/embedding/background.py
  src/ansys/mechanical/core/embedding/initializer.py
  src/ansys/mechanical/core/embedding/ipython_shell.py
  src/ansys/mechanical/core/embedding/license_manager.py
  src/ansys/mechanical/core/embedding/logger/__init__.py
  src/ansys/mechanical/core/embedding/rpc/server.py
  src/ansys/mechanical/core/embedding/rpc/utils.py
  src/ansys/mechanical/core/examples/downloads.py
  src/ansys/mechanical/core/feature_flags.py
  src/ansys/mechanical/core/ide_config.py
  src/ansys/mechanical/core/mechanical.py
  src/ansys/mechanical/core/run.py
  tests/embedding/test_background.py
  tests/embedding/test_logger.py
Labels: maintenance
