Repository ansys/pymechanical, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, ci/cd

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/**/*', 'examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', '.pre-commit-config.yaml']

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

ci/cd:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'docker/**/*']

fix workbench entrypoint
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

add suggestions
  .github/dependabot.yml
Labels: maintenance, ci/cd

FIX: zizmor errors (#1431)
  .github/dependabot.yml
  .github/workflows/ci_cd.yml
  .github/workflows/codeql.yml
  .github/workflows/dependabot_automerge.yml
  .github/workflows/label.yml
  .github/workflows/package_cleanup.yml
  doc/changelog.d/1431.fixed.md
Labels: documentation, maintenance, ci/cd

chore: adding changelog file 1434.maintenance.md [dependabot-skip]
  doc/changelog.d/1434.maintenance.md
Labels: documentation

fix examples
  .gitignore
  examples/01_basic/bolt_pretension.py
  examples/01_basic/cooling_holes_thermal_analysis.py
  examples/01_basic/harmonic_acoustics.py
  examples/01_basic/modal_acoustics_analysis.py
  examples/01_basic/steady_state_thermal_analysis.py
  examples/01_basic/topology_optimization_cantilever_beam.py
  examples/01_basic/valve.py
Labels: documentation

chore: adding changelog file 1435.fixed.md [dependabot-skip]
  doc/changelog.d/1435.fixed.md
Labels: documentation

fix underline and link
  doc/source/kil/pymechanical.rst
  doc/source/user_guide/howto/pep8.rst
  examples/01_basic/cooling_holes_thermal_analysis.py
Labels: documentation

FIX: Examples (#1435)
  .gitignore
  doc/changelog.d/1435.fixed.md
  doc/source/kil/pymechanical.rst
  doc/source/user_guide/howto/pep8.rst
  examples/01_basic/bolt_pretension.py
  examples/01_basic/cooling_holes_thermal_analysis.py
  examples/01_basic/harmonic_acoustics.py
  examples/01_basic/modal_acoustics_analysis.py
  examples/01_basic/steady_state_thermal_analysis.py
  examples/01_basic/topology_optimization_cantilever_beam.py
  examples/01_basic/valve.py
Labels: documentation

bump version 0.11.38
  pyproject.toml
Labels: dependencies

chore: updating CHANGELOG for v0.11.38
  doc/changelog.d/1413.maintenance.md
  doc/changelog.d/1421.maintenance.md
  doc/changelog.d/1422.maintenance.md
  doc/changelog.d/1423.maintenance.md
  doc/changelog.d/1426.fixed.md
  doc/changelog.d/1427.maintenance.md
  doc/changelog.d/1429.maintenance.md
  doc/changelog.d/1430.maintenance.md
  doc/changelog.d/1431.fixed.md
  doc/changelog.d/1434.maintenance.md
  doc/changelog.d/1435.fixed.md
  doc/source/changelog.rst
Labels: documentation

chore: updating CHANGELOG for v0.11.38
  doc/changelog.d/1413.maintenance.md
  doc/changelog.d/1421.maintenance.md
  doc/changelog.d/1422.maintenance.md
  doc/changelog.d/1423.maintenance.md
  doc/changelog.d/1426.fixed.md
  doc/changelog.d/1427.maintenance.md
  doc/changelog.d/1429.maintenance.md
  doc/changelog.d/1430.maintenance.md
  doc/changelog.d/1431.fixed.md
  doc/changelog.d/1434.maintenance.md
  doc/changelog.d/1435.fixed.md
  doc/source/changelog.rst
Labels: documentation

chore: adding changelog file 1436.maintenance.md [dependabot-skip]
  doc/changelog.d/1436.maintenance.md
Labels: documentation

test re adding example
  doc/source/conf.py
Labels: documentation

chore: update CHANGELOG for v0.11.38 (#1436)
  doc/changelog.d/1413.maintenance.md
  doc/changelog.d/1421.maintenance.md
  doc/changelog.d/1422.maintenance.md
  doc/changelog.d/1423.maintenance.md
  doc/changelog.d/1426.fixed.md
  doc/changelog.d/1427.maintenance.md
  doc/changelog.d/1429.maintenance.md
  doc/changelog.d/1430.maintenance.md
  doc/changelog.d/1431.fixed.md
  doc/changelog.d/1434.maintenance.md
  doc/changelog.d/1435.fixed.md
  doc/changelog.d/1436.maintenance.md
  doc/source/changelog.rst
Labels: documentation

update ansys-tools-common
  doc/source/api/path.rst
  doc/source/getting_started/installation.rst
  doc/source/user_guide/cli/find-mechanical.rst
  doc/source/user_guide/remote_session/server-launcher.rst
  pyproject.toml
  src/ansys/mechanical/core/__init__.py
  src/ansys/mechanical/core/embedding/app_libraries.py
  src/ansys/mechanical/core/embedding/find_mechanical.py
  src/ansys/mechanical/core/ide_config.py
  src/ansys/mechanical/core/mechanical.py
  src/ansys/mechanical/core/pool.py
  src/ansys/mechanical/core/run.py
  tests/conftest.py
  tests/embedding/test_app_libraries.py
  tests/test_cli.py
  tests/test_mechanical.py
Labels: documentation, dependencies

chore: adding changelog file 1437.maintenance.md [dependabot-skip]
  doc/changelog.d/1437.maintenance.md
Labels: documentation

update download
  src/ansys/mechanical/core/examples/downloads.py
Labels: none

update destinaiton
  src/ansys/mechanical/core/examples/downloads.py
Labels: none

Update pyproject.toml
  pyproject.toml
Labels: dependencies

add draft cli changes
  src/ansys/mechanical/core/run.py
Labels: none

chore: replace `ansys-tools-path` with `ansys-tools-common` (#1437)
  doc/changelog.d/1437.maintenance.md
  doc/source/api/path.rst
  doc/source/getting_started/installation.rst
  doc/source/user_guide/cli/find-mechanical.rst
  doc/source/user_guide/remote_session/server-launcher.rst
  pyproject.toml
  src/ansys/mechanical/core/__init__.py
  src/ansys/mechanical/core/embedding/app_libraries.py
  src/ansys/mechanical/core/embedding/find_mechanical.py
  src/ansys/mechanical/core/examples/downloads.py
  src/ansys/mechanical/core/ide_config.py
  src/ansys/mechanical/core/mechanical.py
  src/ansys/mechanical/core/pool.py
  src/ansys/mechanical/core/run.py
  tests/conftest.py
  tests/embedding/test_app_libraries.py
  tests/test_cli.py
  tests/test_mechanical.py
Labels: documentation, dependencies

add sp4 check
  src/ansys/mechanical/core/misc.py
  src/ansys/mechanical/core/run.py
Labels: none

update version commit
  .github/workflows/ci_cd.yml
  .github/workflows/package_cleanup.yml
Labels: maintenance, ci/cd

chore: adding changelog file 1438.fixed.md [dependabot-skip]
  doc/changelog.d/1438.fixed.md
Labels: documentation

fix: update version and zizmor warning (#1438)
  .github/workflows/ci_cd.yml
  .github/workflows/package_cleanup.yml
  doc/changelog.d/1438.fixed.md
Labels: documentation, maintenance, ci/cd

update src
  src/ansys/mechanical/core/launcher.py
  src/ansys/mechanical/core/logging.py
  src/ansys/mechanical/core/mechanical.py
  src/ansys/mechanical/core/run.py
  tests/conftest.py
Labels: none

chore: adding changelog file 1440.maintenance.md [dependabot-skip]
  doc/changelog.d/1440.maintenance.md
Labels: documentation

chore: adding changelog file 1439.maintenance.md [dependabot-skip]
  doc/changelog.d/1439.maintenance.md
Labels: documentation

chore: adding changelog file 1441.maintenance.md [dependabot-skip]
  doc/changelog.d/1441.maintenance.md
Labels: documentation

fix session_launch_test
  src/ansys/mechanical/core/launcher.py
  src/ansys/mechanical/core/logging.py
  src/ansys/mechanical/core/mechanical.py
  src/ansys/mechanical/core/misc.py
  src/ansys/mechanical/core/run.py
Labels: none

add version flexibility
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

update fixtgures
  tests/conftest.py
Labels: none

fix remote connect
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

fix logging
  src/ansys/mechanical/core/mechanical.py
Labels: none

fix ansys-tools-commin
  src/ansys/mechanical/core/launcher.py
  src/ansys/mechanical/core/mechanical.py
  src/ansys/mechanical/core/misc.py
Labels: none

fix ansys-tools-common
  src/ansys/mechanical/core/launcher.py
Labels: none

chore: adding changelog file 1442.test.md [dependabot-skip]
  doc/changelog.d/1442.test.md
Labels: documentation

fix windows test fail
  tests/conftest.py
Labels: none

update remote_connect workflow
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

fix version conversion
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd
