Repository ansys/pymechanical, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, ci/cd

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/**/*', 'examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', '.pre-commit-config.yaml']

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

ci/cd:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'docker/**/*']

Apply suggestion from @PipKat
  .github/skills/doc/SKILL.md
Labels: maintenance, ci/cd

fix: update code block syntax and improve clarity in troubleshooting and mechanical-env documentation
  doc/source/getting_started/troubleshooting.rst
  doc/source/user_guide/cli/mechanical-env.rst
Labels: documentation

Update .github/skills/doc/SKILL.md
  .github/skills/doc/SKILL.md
Labels: maintenance, ci/cd

Update .github/skills/doc/SKILL.md
  .github/skills/doc/SKILL.md
Labels: maintenance, ci/cd

Update .github/skills/doc/SKILL.md
  .github/skills/doc/SKILL.md
Labels: maintenance, ci/cd

docs: add documentation on how to debug embedded app in linux using vscode (#1574)
  doc/changelog.d/1574.documentation.md
  doc/source/getting_started/running_mechanical.rst
  doc/source/getting_started/troubleshooting.rst
  doc/source/user_guide/cli/mechanical-env.rst
Labels: documentation

feat: Add wbtrace option for logger - embedding (#1569)
  doc/changelog.d/1569.added.md
  src/ansys/mechanical/core/embedding/app.py
  src/ansys/mechanical/core/embedding/logger/__init__.py
  tests/embedding/test_logger.py
  tests/scripts/embedding_log_test.py
Labels: documentation

fix: enhance test skipping logic based on version and platform requirements
  tests/conftest.py
Labels: none

chore: adding changelog file 1610.fixed.md [dependabot-skip]
  doc/changelog.d/1610.fixed.md
Labels: documentation

refactor
  .github/workflows/ci_cd.yml
  .github/workflows/coverage.yml
  .github/workflows/docs.yml
  .github/workflows/revn-config.yml
  .github/workflows/smoke-tests.yml
  .github/workflows/style.yml
  .github/workflows/tests.yml
Labels: maintenance, ci/cd

chore: adding changelog file 1611.maintenance.md [dependabot-skip]
  doc/changelog.d/1611.maintenance.md
Labels: documentation

fix return
  tests/conftest.py
Labels: none

Fix typo in environment variable check
  src/ansys/mechanical/core/embedding/shell.py
Labels: none

test: windows runner
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

chore: adding changelog file 1613.test.md [dependabot-skip]
  doc/changelog.d/1613.test.md
Labels: documentation

fix: enhance test skipping logic based on version and platform requirements (#1610)
  doc/changelog.d/1610.fixed.md
  tests/conftest.py
Labels: documentation

fix permission
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

fix env var spelling
  src/ansys/mechanical/core/embedding/shell.py
Labels: none

chore: adding changelog file 1614.fixed.md [dependabot-skip]
  doc/changelog.d/1614.fixed.md
Labels: documentation

Fix typo in environment variable check
  src/ansys/mechanical/core/embedding/shell.py
Labels: none

chore: adding changelog file 1615.fixed.md [dependabot-skip]
  doc/changelog.d/1615.fixed.md
Labels: documentation

fix: typo in environment variable (#1615)
  doc/changelog.d/1615.fixed.md
  src/ansys/mechanical/core/embedding/shell.py
Labels: documentation

fix typo in winx64
  doc/source/user_guide/remote_session/overview.rst
  src/ansys/mechanical/core/mechanical.py
  tests/test_mechanical.py
Labels: documentation

remove sphinx
  .github/skills/doc/SKILL.md
Labels: maintenance, ci/cd

review suggestions
  .github/skills/doc/SKILL.md
Labels: maintenance, ci/cd

Update .github/skills/doc/SKILL.md
  .github/skills/doc/SKILL.md
Labels: maintenance, ci/cd

suppress zizmor warnings
  .github/workflows/ci_cd.yml
  .github/workflows/coverage.yml
  .github/workflows/docs.yml
  .github/workflows/revn-config.yml
  .github/workflows/smoke-tests.yml
  .github/workflows/style.yml
  .github/workflows/tests.yml
Labels: maintenance, ci/cd

chore: adding changelog file 1616.maintenance.md [dependabot-skip]
  doc/changelog.d/1616.maintenance.md
Labels: documentation

update server env
  .github/workflows/docs.yml
  .github/workflows/tests.yml
Labels: maintenance, ci/cd

chore: adding changelog file 1617.maintenance.md [dependabot-skip]
  doc/changelog.d/1617.maintenance.md
  pyproject.toml
Labels: documentation, dependencies

apply changes
  src/ansys/mechanical/core/errors.py
Labels: none

update labels
  .github/labels.yml
Labels: maintenance, ci/cd

chore: adding changelog file 1619.fixed.md [dependabot-skip]
  doc/changelog.d/1619.fixed.md
Labels: documentation

fix label
  .github/labels.yml
Labels: maintenance, ci/cd

review suggestions
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

fix: update labels (#1619)
  .github/labels.yml
  doc/changelog.d/1619.fixed.md
Labels: documentation, maintenance, ci/cd

use vars for reusable workflow
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

remove redundant env vars
  .github/workflows/ci_cd.yml
  .github/workflows/coverage.yml
  .github/workflows/docs.yml
  .github/workflows/revn-config.yml
  .github/workflows/smoke-tests.yml
  .github/workflows/style.yml
  .github/workflows/tests.yml
Labels: maintenance, ci/cd

review suggestions
  .github/skills/doc/SKILL.md
Labels: maintenance, ci/cd

chore: adding changelog file 1609.added.md [dependabot-skip]
  pyproject.toml
Labels: dependencies
