Repository ansys/pymechanical, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, ci/cd

chore: adding changelog file 1456.maintenance.md [dependabot-skip]
  doc/changelog.d/1456.maintenance.md
Labels: documentation

chore: adding changelog file 1456.maintenance.md [dependabot-skip]
  doc/changelog.d/1456.maintenance.md
Labels: documentation

chore: adding changelog file 1456.maintenance.md [dependabot-skip]
  doc/changelog.d/1456.maintenance.md
Labels: documentation

chore: adding changelog file 1456.maintenance.md [dependabot-skip]
  doc/changelog.d/1456.maintenance.md
Labels: documentation

chore: adding changelog file 1456.maintenance.md [dependabot-skip]
  doc/changelog.d/1456.maintenance.md
Labels: documentation

chore: adding changelog file 1456.maintenance.md [dependabot-skip]
  doc/changelog.d/1456.maintenance.md
Labels: documentation

chore: adding changelog file 1456.maintenance.md [dependabot-skip]
  doc/changelog.d/1456.maintenance.md
Labels: documentation

chore: adding changelog file 1456.maintenance.md [dependabot-skip]
  doc/changelog.d/1456.maintenance.md
Labels: documentation

chore: adding changelog file 1456.maintenance.md [dependabot-skip]
  doc/changelog.d/1456.maintenance.md
Labels: documentation

chore: adding changelog file 1456.maintenance.md [dependabot-skip]
  doc/changelog.d/1456.maintenance.md
Labels: documentation

chore: adding changelog file 1456.maintenance.md [dependabot-skip]
  doc/changelog.d/1456.maintenance.md
Labels: documentation

chore: adding changelog file 1456.maintenance.md [dependabot-skip]
  doc/changelog.d/1456.maintenance.md
Labels: documentation

chore: adding changelog file 1456.maintenance.md [dependabot-skip]
  doc/changelog.d/1456.maintenance.md
Labels: documentation

chore: adding changelog file 1456.maintenance.md [dependabot-skip]
  doc/changelog.d/1456.maintenance.md
Labels: documentation

chore: adding changelog file 1456.maintenance.md [dependabot-skip]
  doc/changelog.d/1456.maintenance.md
Labels: documentation

chore: adding changelog file 1456.maintenance.md [dependabot-skip]
  doc/changelog.d/1456.maintenance.md
Labels: documentation

chore: adding changelog file 1456.maintenance.md [dependabot-skip]
  doc/changelog.d/1456.maintenance.md
Labels: documentation

chore: adding changelog file 1456.maintenance.md [dependabot-skip]
  doc/changelog.d/1456.maintenance.md
Labels: documentation

chore: adding changelog file 1456.maintenance.md [dependabot-skip]
  doc/changelog.d/1456.maintenance.md
Labels: documentation

chore: adding changelog file 1456.maintenance.md [dependabot-skip]
  doc/changelog.d/1456.maintenance.md
Labels: documentation

chore: adding changelog file 1456.maintenance.md [dependabot-skip]
  doc/changelog.d/1456.maintenance.md
Labels: documentation

chore: adding changelog file 1456.maintenance.md [dependabot-skip]
  doc/changelog.d/1456.maintenance.md
Labels: documentation

chore: adding changelog file 1456.maintenance.md [dependabot-skip]
  doc/changelog.d/1456.maintenance.md
Labels: documentation

chore: adding changelog file 1456.maintenance.md [dependabot-skip]
  doc/changelog.d/1456.maintenance.md
Labels: documentation

chore: adding changelog file 1456.maintenance.md [dependabot-skip]
  doc/changelog.d/1456.maintenance.md
Labels: documentation

add grpc option
  src/ansys/mechanical/core/mechanical.py
Labels: none

add grpc options
  doc/source/user_guide/remote_session/grpc_security.rst
Labels: documentation

update docker compose
  docker/docker-compose.license_server.yml
  docker/docker-compose.local.yml
  docker/docker-compose.yml
Labels: ci/cd

chore: adding changelog file 1457.fixed.md [dependabot-skip]
  doc/changelog.d/1457.fixed.md
Labels: documentation

update error messages
  src/ansys/mechanical/core/launcher.py
  src/ansys/mechanical/core/mechanical.py
Labels: none

update dco with breaking change
  doc/source/user_guide/remote_session/grpc_security.rst
Labels: documentation

update instance logger
  src/ansys/mechanical/core/logging.py
Labels: none

update env var for certs
  doc/source/user_guide/remote_session/grpc_security.rst
  src/ansys/mechanical/core/launcher.py
  src/ansys/mechanical/core/mechanical.py
  src/ansys/mechanical/core/misc.py
Labels: documentation

fix: Update docker compose files (#1457)
  doc/changelog.d/1457.fixed.md
  docker/docker-compose.license_server.yml
  docker/docker-compose.local.yml
  docker/docker-compose.yml
Labels: documentation, ci/cd

update docs underline
  doc/source/user_guide/remote_session/grpc_security.rst
  src/ansys/mechanical/core/launcher.py
Labels: documentation

update variable name
  src/ansys/mechanical/core/run.py
Labels: none

modify certificate priority
  src/ansys/mechanical/core/launcher.py
  src/ansys/mechanical/core/mechanical.py
  src/ansys/mechanical/core/misc.py
  src/ansys/mechanical/core/run.py
Labels: none

fix logging
  src/ansys/mechanical/core/logging.py
Labels: none

restore logging ( new PR for this change
  src/ansys/mechanical/core/logging.py
Labels: none

chore: adding changelog file 1458.fixed.md [dependabot-skip]
  doc/changelog.d/1458.fixed.md
Labels: documentation

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/**/*', 'examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', '.pre-commit-config.yaml']

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

ci/cd:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'docker/**/*']
