Repository ansys/pymechanical, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, ci/cd

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/**/*', 'examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', '.pre-commit-config.yaml']

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

ci/cd:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'docker/**/*']

chore: adding changelog file 1493.maintenance.md [dependabot-skip]
  doc/changelog.d/1493.maintenance.md
Labels: documentation

Revert "Merge branch 'main' into release/0.12"
  .github/workflows/codeql.yml
  .pre-commit-config.yaml
  README.rst
  doc/changelog.d/1424.added.md
  doc/changelog.d/1468.maintenance.md
  doc/changelog.d/1474.added.md
  doc/changelog.d/1475.maintenance.md
  doc/changelog.d/1476.maintenance.md
  doc/changelog.d/1477.added.md
  doc/changelog.d/1478.maintenance.md
  doc/changelog.d/1479.maintenance.md
  doc/changelog.d/1480.maintenance.md
  doc/changelog.d/1482.maintenance.md
  doc/changelog.d/1483.fixed.md
  doc/changelog.d/1489.fixed.md
  doc/changelog.d/1490.fixed.md
  doc/changelog.d/1491.maintenance.md
  doc/source/_templates/autoapi/index.rst
  doc/source/_templates/autoapi/layout.html
  doc/source/_templates/autoapi/python/class.rst
  doc/source/_templates/autoapi/python/module.rst
  doc/source/api/path.rst
  doc/source/cheatsheet/cheat_sheet.qmd
  doc/source/conf.py
  doc/source/index.rst
  doc/source/user_guide/howto/licensing.rst
  doc/source/user_guide/index.rst
  doc/source/user_guide/remote_session/overview.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
  examples/01_basic/bolt_pretension.py
  examples/01_basic/harmonic_acoustics.py
  examples/01_basic/modal_acoustics_analysis.py
  pyproject.toml
  src/ansys/mechanical/core/embedding/app.py
  src/ansys/mechanical/core/embedding/ui.py
  src/ansys/mechanical/core/mechanical.py
  tests/embedding/test_app.py
  tests/scripts/run_embedded_app.py
Labels: documentation, maintenance, dependencies, ci/cd

Revert "bump to v0.12.1"
  pyproject.toml
Labels: dependencies

Revert "chore: updating CHANGELOG for v0.12.1"
  doc/changelog.d/1424.added.md
  doc/changelog.d/1468.maintenance.md
  doc/changelog.d/1474.added.md
  doc/changelog.d/1475.maintenance.md
  doc/changelog.d/1476.maintenance.md
  doc/changelog.d/1477.added.md
  doc/changelog.d/1478.maintenance.md
  doc/changelog.d/1479.maintenance.md
  doc/changelog.d/1480.maintenance.md
  doc/changelog.d/1482.maintenance.md
  doc/changelog.d/1483.fixed.md
  doc/changelog.d/1489.fixed.md
  doc/changelog.d/1490.fixed.md
  doc/changelog.d/1491.maintenance.md
  doc/source/changelog.rst
Labels: documentation

FIX: Find Mechanical executable directly if ansys-mechanical fails to find it in launch_gui (#1490)
  src/ansys/mechanical/core/embedding/ui.py
  tests/embedding/test_app.py
Labels: none

bump to v0.12.1
  pyproject.toml
Labels: dependencies

chore: adding changelog file 1494.maintenance.md [dependabot-skip]
  doc/changelog.d/1494.maintenance.md
Labels: documentation

chore: updating CHANGELOG for v0.12.1
  doc/changelog.d/1424.added.md
  doc/changelog.d/1468.maintenance.md
  doc/changelog.d/1474.added.md
  doc/changelog.d/1475.maintenance.md
  doc/changelog.d/1476.maintenance.md
  doc/changelog.d/1477.added.md
  doc/changelog.d/1478.maintenance.md
  doc/changelog.d/1479.maintenance.md
  doc/changelog.d/1480.maintenance.md
  doc/changelog.d/1482.maintenance.md
  doc/changelog.d/1483.fixed.md
  doc/changelog.d/1489.fixed.md
  doc/changelog.d/1490.fixed.md
  doc/changelog.d/1491.maintenance.md
  doc/source/changelog.rst
Labels: documentation

chore: updating CHANGELOG for v0.12.1
  doc/changelog.d/1424.added.md
  doc/changelog.d/1468.maintenance.md
  doc/changelog.d/1474.added.md
  doc/changelog.d/1475.maintenance.md
  doc/changelog.d/1476.maintenance.md
  doc/changelog.d/1477.added.md
  doc/changelog.d/1478.maintenance.md
  doc/changelog.d/1479.maintenance.md
  doc/changelog.d/1480.maintenance.md
  doc/changelog.d/1482.maintenance.md
  doc/changelog.d/1483.fixed.md
  doc/changelog.d/1489.fixed.md
  doc/changelog.d/1490.fixed.md
  doc/changelog.d/1491.maintenance.md
  doc/source/changelog.rst
Labels: documentation

chore: adding changelog file 1495.maintenance.md [dependabot-skip]
  doc/changelog.d/1495.maintenance.md
Labels: documentation

Revert "FIX: Find Mechanical executable directly if ansys-mechanical fails to find it in launch_gui (#1490)"
  src/ansys/mechanical/core/embedding/ui.py
  tests/embedding/test_app.py
Labels: none

Revert "bump to v0.12.1"
  pyproject.toml
Labels: dependencies

Revert "chore: updating CHANGELOG for v0.12.1"
  doc/changelog.d/1424.added.md
  doc/changelog.d/1468.maintenance.md
  doc/changelog.d/1474.added.md
  doc/changelog.d/1475.maintenance.md
  doc/changelog.d/1476.maintenance.md
  doc/changelog.d/1477.added.md
  doc/changelog.d/1478.maintenance.md
  doc/changelog.d/1479.maintenance.md
  doc/changelog.d/1480.maintenance.md
  doc/changelog.d/1482.maintenance.md
  doc/changelog.d/1483.fixed.md
  doc/changelog.d/1489.fixed.md
  doc/changelog.d/1490.fixed.md
  doc/changelog.d/1491.maintenance.md
  doc/source/changelog.rst
Labels: documentation

whatsnew
  doc/changelog.d/whatsnew.yml
Labels: documentation

chore: adding changelog file 1496.added.md [dependabot-skip]
  doc/changelog.d/1496.added.md
Labels: documentation

feat: whatsnew update (#1496)
  doc/changelog.d/1496.added.md
  doc/changelog.d/whatsnew.yml
Labels: documentation

Reapply "Merge branch 'main' into release/0.12"
  .github/workflows/codeql.yml
  .pre-commit-config.yaml
  README.rst
  doc/source/_templates/autoapi/index.rst
  doc/source/_templates/autoapi/layout.html
  doc/source/_templates/autoapi/python/class.rst
  doc/source/_templates/autoapi/python/module.rst
  doc/source/api/path.rst
  doc/source/cheatsheet/cheat_sheet.qmd
  doc/source/conf.py
  doc/source/index.rst
  doc/source/user_guide/howto/licensing.rst
  doc/source/user_guide/index.rst
  doc/source/user_guide/remote_session/overview.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
  examples/01_basic/bolt_pretension.py
  examples/01_basic/harmonic_acoustics.py
  examples/01_basic/modal_acoustics_analysis.py
  pyproject.toml
  src/ansys/mechanical/core/embedding/app.py
  src/ansys/mechanical/core/embedding/ui.py
  src/ansys/mechanical/core/mechanical.py
  tests/embedding/test_app.py
  tests/scripts/run_embedded_app.py
Labels: documentation, maintenance, dependencies, ci/cd

bump to v0.12.1
  pyproject.toml
Labels: dependencies

chore: updating CHANGELOG for v0.12.1
  doc/changelog.d/1424.added.md
  doc/changelog.d/1468.maintenance.md
  doc/changelog.d/1474.added.md
  doc/changelog.d/1475.maintenance.md
  doc/changelog.d/1476.maintenance.md
  doc/changelog.d/1477.added.md
  doc/changelog.d/1478.maintenance.md
  doc/changelog.d/1479.maintenance.md
  doc/changelog.d/1480.maintenance.md
  doc/changelog.d/1482.maintenance.md
  doc/changelog.d/1483.fixed.md
  doc/changelog.d/1489.fixed.md
  doc/changelog.d/1490.fixed.md
  doc/changelog.d/1491.maintenance.md
  doc/changelog.d/1492.maintenance.md
  doc/changelog.d/1494.maintenance.md
  doc/changelog.d/1496.added.md
  doc/source/changelog.rst
Labels: documentation

chore: updating CHANGELOG for v0.12.1
  doc/changelog.d/1424.added.md
  doc/changelog.d/1468.maintenance.md
  doc/changelog.d/1474.added.md
  doc/changelog.d/1475.maintenance.md
  doc/changelog.d/1476.maintenance.md
  doc/changelog.d/1477.added.md
  doc/changelog.d/1478.maintenance.md
  doc/changelog.d/1479.maintenance.md
  doc/changelog.d/1480.maintenance.md
  doc/changelog.d/1482.maintenance.md
  doc/changelog.d/1483.fixed.md
  doc/changelog.d/1489.fixed.md
  doc/changelog.d/1490.fixed.md
  doc/changelog.d/1491.maintenance.md
  doc/changelog.d/1492.maintenance.md
  doc/changelog.d/1494.maintenance.md
  doc/changelog.d/1496.added.md
  doc/source/changelog.rst
Labels: documentation

chore: adding changelog file 1498.maintenance.md [dependabot-skip]
  doc/changelog.d/1498.maintenance.md
Labels: documentation

chore: update CHANGELOG for v0.12.1 (#1498)
  doc/changelog.d/1424.added.md
  doc/changelog.d/1468.maintenance.md
  doc/changelog.d/1474.added.md
  doc/changelog.d/1475.maintenance.md
  doc/changelog.d/1476.maintenance.md
  doc/changelog.d/1477.added.md
  doc/changelog.d/1478.maintenance.md
  doc/changelog.d/1479.maintenance.md
  doc/changelog.d/1480.maintenance.md
  doc/changelog.d/1482.maintenance.md
  doc/changelog.d/1483.fixed.md
  doc/changelog.d/1489.fixed.md
  doc/changelog.d/1490.fixed.md
  doc/changelog.d/1491.maintenance.md
  doc/changelog.d/1492.maintenance.md
  doc/changelog.d/1494.maintenance.md
  doc/changelog.d/1496.added.md
  doc/changelog.d/1498.maintenance.md
  doc/source/changelog.rst
Labels: documentation

Improve command-line handling
  mechanical-env
Labels: none

protobuf upper limit to 7
  pyproject.toml
Labels: dependencies

chore: adding changelog file 1500.maintenance.md [dependabot-skip]
  doc/changelog.d/1500.maintenance.md
Labels: documentation

add more info
  README.rst
Labels: none

chore: adding changelog file 1501.added.md [dependabot-skip]
  doc/changelog.d/1501.added.md
Labels: documentation

update rst link
  doc/source/links.rst
Labels: documentation

add mypy pre-commit
  .gitignore
  .pre-commit-config.yaml
  src/ansys/mechanical/core/__init__.py
  src/ansys/mechanical/core/_version.py
  src/ansys/mechanical/core/embedding/app.py
  src/ansys/mechanical/core/embedding/appdata.py
  src/ansys/mechanical/core/embedding/background.py
  src/ansys/mechanical/core/embedding/graphics/embedding_plotter.py
  src/ansys/mechanical/core/embedding/graphics/usd_converter.py
  src/ansys/mechanical/core/embedding/graphics/utils.py
  src/ansys/mechanical/core/embedding/initializer.py
  src/ansys/mechanical/core/embedding/ipython_shell.py
  src/ansys/mechanical/core/embedding/license_manager.py
  src/ansys/mechanical/core/embedding/logger/environ.py
  src/ansys/mechanical/core/embedding/logger/linux_api.py
  src/ansys/mechanical/core/embedding/rpc/client.py
  src/ansys/mechanical/core/embedding/rpc/server.py
  src/ansys/mechanical/core/embedding/rpc/utils.py
  src/ansys/mechanical/core/embedding/ui.py
  src/ansys/mechanical/core/ide_config.py
  src/ansys/mechanical/core/logging.py
  src/ansys/mechanical/core/mechanical.py
  src/ansys/mechanical/core/py.typed
  src/ansys/mechanical/core/run.py
Labels: maintenance

chore: adding changelog file 1502.added.md [dependabot-skip]
  doc/changelog.d/1502.added.md
Labels: documentation

add docutils link to linkcheck ignore
  doc/source/conf.py
  doc/source/links.rst
Labels: documentation

fix mypy
  src/ansys/mechanical/core/embedding/initializer.py
Labels: none

CHORE: Set protobuf upper limit to 7 (#1500)
  doc/changelog.d/1500.maintenance.md
  doc/source/conf.py
  pyproject.toml
Labels: documentation, dependencies

bump to v0.12.2
  pyproject.toml
Labels: dependencies

chore: updating CHANGELOG for v0.12.2
  doc/changelog.d/1498.maintenance.md
  doc/changelog.d/1500.maintenance.md
  doc/source/changelog.rst
Labels: documentation

chore: updating CHANGELOG for v0.12.2
  doc/changelog.d/1498.maintenance.md
  doc/changelog.d/1500.maintenance.md
  doc/source/changelog.rst
Labels: documentation

chore: adding changelog file 1503.maintenance.md [dependabot-skip]
  doc/changelog.d/1503.maintenance.md
Labels: documentation

chore: update CHANGELOG for v0.12.2 (#1503)
  doc/changelog.d/1498.maintenance.md
  doc/changelog.d/1500.maintenance.md
  doc/changelog.d/1503.maintenance.md
  doc/source/changelog.rst
Labels: documentation

add upper bound and dev dep
  pyproject.toml
Labels: dependencies

chore: adding changelog file 1506.maintenance.md [dependabot-skip]
  doc/changelog.d/1506.maintenance.md
Labels: documentation
