Repository ansys/pymechanical, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, ci/cd

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/**/*', 'examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', '.pre-commit-config.yaml']

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

ci/cd:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'docker/**/*']

update titles
  doc/source/getting_started/choose_your_mode.rst
  doc/source/index.rst
Labels: documentation

fix quarto
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

chore: adding changelog file 1578.fixed.md [dependabot-skip]
  doc/changelog.d/1578.fixed.md
Labels: documentation

fix: quarto failure (#1578)
  .github/workflows/ci_cd.yml
  doc/changelog.d/1578.fixed.md
Labels: documentation, maintenance, ci/cd

update dashes
  doc/source/examples/advanced_examples/index.rst
  doc/source/examples/remote_examples/index.rst
  examples/01_basic/readme.txt
Labels: documentation

Apply suggestions from code review
  doc/source/examples/advanced_examples/index.rst
  doc/source/examples/index.rst
  doc/source/examples/remote_examples/index.rst
  doc/source/faq.rst
  doc/source/getting_started/choose_your_mode.rst
  doc/source/getting_started/index.rst
  doc/source/getting_started/installation.rst
  doc/source/getting_started/running_mechanical.rst
  doc/source/index.rst
  doc/source/user_guide/index.rst
Labels: documentation

update dashes
  doc/source/index.rst
Labels: documentation

fix underline
  doc/source/examples/remote_examples/index.rst
  examples/01_basic/readme.txt
Labels: documentation

fix userguide
  doc/source/user_guide/index.rst
Labels: documentation

update reamde
  README.rst
Labels: none

init file with __all__
  src/ansys/mechanical/core/__init__.py
  src/ansys/mechanical/core/embedding/__init__.py
  src/ansys/mechanical/core/examples/__init__.py
Labels: none

chore: adding changelog file 1579.fixed.md [dependabot-skip]
  doc/changelog.d/1579.fixed.md
Labels: documentation

chore: adding changelog file 1568.documentation.md [dependabot-skip]
  doc/changelog.d/1568.documentation.md
Labels: documentation

chore: adding changelog file 1568.added.md [dependabot-skip]
  doc/changelog.d/1568.added.md
Labels: documentation

chore: adding changelog file 1574.documentation.md [dependabot-skip]
  doc/changelog.d/1574.documentation.md
Labels: documentation

Apply suggestions from code review
  doc/source/getting_started/running_mechanical.rst
  doc/source/getting_started/troubleshooting.rst
  doc/source/user_guide/embedding/licensing.rst
  doc/source/user_guide/embedding/overview.rst
Labels: documentation

-m review suggestions
  doc/source/getting_started/choose_your_mode.rst
Labels: documentation

Apply suggestion from @dipinknair
  doc/source/examples/index.rst
Labels: documentation

-m review suggestions
  doc/source/user_guide/howto/globals.rst
Labels: documentation

chore: adding changelog file 1573.fixed.md [dependabot-skip]
  doc/changelog.d/1573.fixed.md
Labels: documentation

feat: add separate user guide for embedding and remote (#1568)
  .pre-commit-config.yaml
  README.rst
  doc/.vale.ini
  doc/changelog.d/1568.added.md
  doc/source/examples/advanced_examples/index.rst
  doc/source/examples/index.rst
  doc/source/examples/remote_examples/index.rst
  doc/source/faq.rst
  doc/source/getting_started/choose_your_mode.rst
  doc/source/getting_started/docker.rst
  doc/source/getting_started/index.rst
  doc/source/getting_started/installation.rst
  doc/source/getting_started/running_mechanical.rst
  doc/source/getting_started/troubleshooting.rst
  doc/source/getting_started/wsl.rst
  doc/source/index.rst
  doc/source/user_guide/embedding/autocomplete.rst
  doc/source/user_guide/embedding/configuration.rst
  doc/source/user_guide/embedding/globals.rst
  doc/source/user_guide/embedding/libraries.rst
  doc/source/user_guide/embedding/licensing.rst
  doc/source/user_guide/embedding/logging.rst
  doc/source/user_guide/embedding/overview.rst
  doc/source/user_guide/embedding/pep8.rst
  doc/source/user_guide/index.rst
  doc/source/user_guide/remote_session/overview.rst
  doc/source/user_guide/scripting/overview.rst
  doc/source/user_guide/scripting/threading.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
  examples/01_basic/readme.txt
  src/ansys/mechanical/core/pool.py
Labels: documentation, maintenance

move to troubleshooting
  doc/source/getting_started/running_mechanical.rst
  doc/source/getting_started/troubleshooting.rst
Labels: documentation

fix deleted
  doc/source/getting_started/running_mechanical.rst
Labels: documentation

bump version 0.12.4
  pyproject.toml
Labels: dependencies

chore: updating CHANGELOG for v0.12.4
  doc/changelog.d/1525.maintenance.md
  doc/changelog.d/1538.maintenance.md
  doc/changelog.d/1539.fixed.md
  doc/changelog.d/1542.maintenance.md
  doc/changelog.d/1544.maintenance.md
  doc/changelog.d/1545.maintenance.md
  doc/changelog.d/1546.maintenance.md
  doc/changelog.d/1547.added.md
  doc/changelog.d/1548.maintenance.md
  doc/changelog.d/1550.added.md
  doc/changelog.d/1551.maintenance.md
  doc/changelog.d/1552.maintenance.md
  doc/changelog.d/1554.fixed.md
  doc/changelog.d/1555.added.md
  doc/changelog.d/1556.maintenance.md
  doc/changelog.d/1557.fixed.md
  doc/changelog.d/1558.maintenance.md
  doc/changelog.d/1559.fixed.md
  doc/changelog.d/1560.fixed.md
  doc/changelog.d/1561.fixed.md
  doc/changelog.d/1565.fixed.md
  doc/changelog.d/1567.added.md
  doc/changelog.d/1568.added.md
  doc/changelog.d/1571.added.md
  doc/changelog.d/1575.maintenance.md
  doc/changelog.d/1576.maintenance.md
  doc/changelog.d/1577.maintenance.md
  doc/changelog.d/1578.fixed.md
  doc/source/changelog.rst
Labels: documentation

chore: updating CHANGELOG for v0.12.4
  doc/changelog.d/1525.maintenance.md
  doc/changelog.d/1538.maintenance.md
  doc/changelog.d/1539.fixed.md
  doc/changelog.d/1542.maintenance.md
  doc/changelog.d/1544.maintenance.md
  doc/changelog.d/1545.maintenance.md
  doc/changelog.d/1546.maintenance.md
  doc/changelog.d/1547.added.md
  doc/changelog.d/1548.maintenance.md
  doc/changelog.d/1550.added.md
  doc/changelog.d/1551.maintenance.md
  doc/changelog.d/1552.maintenance.md
  doc/changelog.d/1554.fixed.md
  doc/changelog.d/1555.added.md
  doc/changelog.d/1556.maintenance.md
  doc/changelog.d/1557.fixed.md
  doc/changelog.d/1558.maintenance.md
  doc/changelog.d/1559.fixed.md
  doc/changelog.d/1560.fixed.md
  doc/changelog.d/1561.fixed.md
  doc/changelog.d/1565.fixed.md
  doc/changelog.d/1567.added.md
  doc/changelog.d/1568.added.md
  doc/changelog.d/1571.added.md
  doc/changelog.d/1575.maintenance.md
  doc/changelog.d/1576.maintenance.md
  doc/changelog.d/1577.maintenance.md
  doc/changelog.d/1578.fixed.md
  doc/source/changelog.rst
Labels: documentation

chore: adding changelog file 1580.maintenance.md [dependabot-skip]
  doc/changelog.d/1580.maintenance.md
Labels: documentation

chore: update CHANGELOG for v0.12.4 (#1580)
  doc/changelog.d/1525.maintenance.md
  doc/changelog.d/1538.maintenance.md
  doc/changelog.d/1539.fixed.md
  doc/changelog.d/1542.maintenance.md
  doc/changelog.d/1544.maintenance.md
  doc/changelog.d/1545.maintenance.md
  doc/changelog.d/1546.maintenance.md
  doc/changelog.d/1547.added.md
  doc/changelog.d/1548.maintenance.md
  doc/changelog.d/1550.added.md
  doc/changelog.d/1551.maintenance.md
  doc/changelog.d/1552.maintenance.md
  doc/changelog.d/1554.fixed.md
  doc/changelog.d/1555.added.md
  doc/changelog.d/1556.maintenance.md
  doc/changelog.d/1557.fixed.md
  doc/changelog.d/1558.maintenance.md
  doc/changelog.d/1559.fixed.md
  doc/changelog.d/1560.fixed.md
  doc/changelog.d/1561.fixed.md
  doc/changelog.d/1565.fixed.md
  doc/changelog.d/1567.added.md
  doc/changelog.d/1568.added.md
  doc/changelog.d/1571.added.md
  doc/changelog.d/1575.maintenance.md
  doc/changelog.d/1576.maintenance.md
  doc/changelog.d/1577.maintenance.md
  doc/changelog.d/1578.fixed.md
  doc/changelog.d/1580.maintenance.md
  doc/source/changelog.rst
Labels: documentation

update getwrapper
  src/ansys/mechanical/core/embedding/utils.py
Labels: none

update enums
  doc/source/user_guide/embedding/helpers.rst
  examples/01_basic/fracture_analysis_contact_debonding.py
  src/ansys/mechanical/core/embedding/helpers.py
  tests/embedding/test_helper.py
Labels: documentation

add pytest header
  tests/conftest.py
Labels: none

update tests
  src/ansys/mechanical/core/embedding/helpers.py
  tests/embedding/test_helper.py
Labels: none

fix: Add geometry import preference to globals (#1573)
  doc/changelog.d/1573.fixed.md
  examples/01_basic/bolt_pretension.py
  examples/01_basic/cooling_holes_thermal_analysis.py
  examples/01_basic/fracture_analysis_contact_debonding.py
  examples/01_basic/harmonic_acoustics.py
  examples/01_basic/modal_acoustics_analysis.py
  examples/01_basic/steady_state_thermal_analysis.py
  examples/01_basic/valve.py
  src/ansys/mechanical/core/embedding/global_importer.py
  src/ansys/mechanical/core/embedding/imports.py
  tests/embedding/test_globals.py
Labels: documentation

chore: adding changelog file 1581.added.md [dependabot-skip]
  doc/changelog.d/1581.added.md
Labels: documentation

chore: adding changelog file 1583.maintenance.md [dependabot-skip]
  doc/changelog.d/1583.maintenance.md
Labels: documentation

chore: adding changelog file 1584.maintenance.md [dependabot-skip]
  doc/changelog.d/1584.maintenance.md
Labels: documentation

chore: adding changelog file 1585.maintenance.md [dependabot-skip]
  doc/changelog.d/1585.maintenance.md
Labels: documentation

chore: adding changelog file 1586.maintenance.md [dependabot-skip]
  doc/changelog.d/1586.maintenance.md
Labels: documentation

update button
  .github/labels.yml
  doc/source/index.rst
  doc/source/user_guide/index.rst
Labels: documentation, maintenance, ci/cd

chore: adding changelog file 1587.fixed.md [dependabot-skip]
  doc/changelog.d/1587.fixed.md
Labels: documentation
