Repository ansys/pymechanical, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, ci/cd

add comments
  .github/workflows/setup-python/action.yml
Labels: maintenance, ci/cd

change runner image to ubuntu-22.04
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

update tests
  tests/test_cli.py
Labels: none

update logic
  src/ansys/mechanical/core/run.py
  tests/test_cli.py
Labels: none

remove version range
  src/ansys/mechanical/core/run.py
  tests/test_cli.py
Labels: none

update cli update logic update tests
  src/ansys/mechanical/core/run.py
  tests/test_cli.py
Labels: none

FEAT: Add Engine type option for script execution (#1332)
  doc/changelog.d/1332.added.md
  src/ansys/mechanical/core/run.py
  tests/test_cli.py
Labels: documentation

refactor
  src/ansys/mechanical/core/embedding/app.py
Labels: none

test or cancelled
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

adjust if statement for scheduled runs
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

chore: adding changelog file 1340.fixed.md [dependabot-skip]
  doc/changelog.d/1340.fixed.md
Labels: documentation

Add tests
  tests/embedding/test_app.py
  tests/scripts/run_embedded_app.py
Labels: none

fix: Notify on failure or cancellation for nightly runs (#1340)
  .github/workflows/ci_cd.yml
  doc/changelog.d/1340.fixed.md
Labels: documentation, maintenance, ci/cd

test
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

chore: adding changelog file 1342.test.md [dependabot-skip]
  .github/workflows/ci_cd.yml
  doc/changelog.d/1342.test.md
Labels: documentation, maintenance, ci/cd

test uv
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

chore: adding changelog file 1343.test.md [dependabot-skip]
  .github/workflows/ci_cd.yml
  doc/changelog.d/1343.test.md
Labels: documentation, maintenance, ci/cd

chore: adding changelog file 1343.test.md [dependabot-skip]
  .github/workflows/ci_cd.yml
  doc/changelog.d/1343.test.md
Labels: documentation, maintenance, ci/cd

update files
  examples/00_setup/01_setup.py
  examples/00_setup/02_geometry.py
  examples/00_setup/03_connections.py
  examples/00_setup/04_named_selections.py
  examples/00_setup/05_mesh.py
  examples/00_setup/06_loads.py
  examples/00_setup/07_results.py
  examples/00_setup/08_tree_objects.py
  examples/00_setup/readme.txt
Labels: documentation

fix conflicts
  .pre-commit-config.yaml
  examples/00_setup/01_setup.py
  examples/00_setup/02_geometry.py
  examples/00_setup/04_named_selections.py
  examples/00_setup/06_loads.py
  examples/00_setup/08_tree_objects.py
Labels: documentation, maintenance

add tests for featureflags
  src/ansys/mechanical/core/run.py
  tests/embedding/test_app.py
  tests/scripts/run_embedded_app.py
Labels: none

test to check feature flags
  tests/embedding/test_app.py
Labels: none

chore: adding changelog file 1344.test.md [dependabot-skip]
  doc/changelog.d/1344.test.md
Labels: documentation

app removed in setup.py for extapi
  examples/00_setup/01_setup.py
Labels: documentation

fix test
  tests/embedding/test_app.py
  tests/scripts/run_embedded_app.py
Labels: none

add logs
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

chore: adding changelog file 1348.test.md [dependabot-skip]
  doc/changelog.d/1348.test.md
Labels: documentation

add uv
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

chore: adding changelog file 1349.test.md [dependabot-skip]
  doc/changelog.d/1349.test.md
Labels: documentation

FEAT: Support additional arguments in App (#1333)
  doc/changelog.d/1333.added.md
  src/ansys/mechanical/core/embedding/app.py
  src/ansys/mechanical/core/run.py
  tests/embedding/test_app.py
  tests/scripts/run_embedded_app.py
Labels: documentation

revert coverage
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

run docker in detached mode & autoflush
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

fix command and grep
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

add echo statements and fix pipe
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

don't quiet grep
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

add ruff
  .pre-commit-config.yaml
  pyproject.toml
Labels: maintenance, dependencies

update ruff config
  pyproject.toml
Labels: dependencies

fix conftest.py
  pyproject.toml
  tests/conftest.py
Labels: dependencies

ignore F811
  pyproject.toml
Labels: dependencies

update tests
  tests/embedding/test_app.py
  tests/embedding/test_app_libraries.py
  tests/embedding/test_background.py
  tests/embedding/test_globals.py
  tests/embedding/test_license_manager.py
  tests/embedding/test_logger.py
Labels: none

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/**/*', 'examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', '.pre-commit-config.yaml']

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

ci/cd:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'docker/**/*']
