Repository ansys/pymechanical, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, ci/cd

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/**/*', 'examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', '.pre-commit-config.yaml']

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

ci/cd:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'docker/**/*']

chore: adding changelog file 1722.maintenance.md [dependabot-skip]
  doc/changelog.d/1722.maintenance.md
Labels: documentation

chore: update CHANGELOG for v0.13.2 (#1722)
  doc/changelog.d/1719.maintenance.md
  doc/changelog.d/1720.maintenance.md
  doc/changelog.d/1721.fixed.md
  doc/changelog.d/1722.maintenance.md
  doc/source/changelog.rst
Labels: documentation

udpate
  doc/source/kil/mechanical.rst
Labels: documentation

test:test bug
  .github/workflows/debugging.yml
  README.md
  pyproject.toml
  src/ansys/mechanical/core/run.py
  src/ansys/mechanical/core/testing/__init__.py
  src/ansys/mechanical/core/testing/matrix_runner.py
  tests/scripts/repro.py
Labels: maintenance, dependencies, ci/cd

fix: add LicenseCoordinator support for Mechanical 271+
  src/ansys/mechanical/core/embedding/license_manager.py
  tests/embedding/test_license_manager.py
Labels: none

chore: adding changelog file 1723.fixed.md [dependabot-skip]
  doc/changelog.d/1723.fixed.md
Labels: documentation

chore: adding changelog file 1724.maintenance.md [dependabot-skip]
  doc/changelog.d/1724.maintenance.md
Labels: documentation

chore: adding changelog file 1725.maintenance.md [dependabot-skip]
  doc/changelog.d/1725.maintenance.md
Labels: documentation

docs: fix vale warnings
  doc/source/getting_started/running_mechanical.rst
  doc/source/getting_started/troubleshooting.rst
Labels: documentation

chore: adding changelog file 1726.documentation.md [dependabot-skip]
  doc/changelog.d/1726.documentation.md
Labels: documentation

docs: fix vale warnings (#1726)
  doc/changelog.d/1726.documentation.md
  doc/source/getting_started/running_mechanical.rst
  doc/source/getting_started/troubleshooting.rst
Labels: documentation

chore: adding changelog file 1723.fixed.md [dependabot-skip]
  doc/changelog.d/1723.fixed.md
Labels: documentation

fix: update Qt library path to 6.8.8 for version 271 and greater
  mechanical-env
Labels: none

chore: adding changelog file 1727.fixed.md [dependabot-skip]
  doc/changelog.d/1727.fixed.md
Labels: documentation

fix: update Qt library path to 6.8.8 for version 271 and greater (#1727)
  doc/changelog.d/1727.fixed.md
  mechanical-env
Labels: documentation

fix: add LicenseCoordinator support (#1723)
  doc/changelog.d/1723.fixed.md
  src/ansys/mechanical/core/embedding/license_manager.py
  tests/embedding/test_license_manager.py
Labels: documentation

chore: adding changelog file 1728.maintenance.md [dependabot-skip]
  doc/changelog.d/1728.maintenance.md
Labels: documentation

chore: adding changelog file 1729.maintenance.md [dependabot-skip]
  doc/changelog.d/1729.maintenance.md
Labels: documentation

chore: adding changelog file 1733.maintenance.md [dependabot-skip]
  doc/changelog.d/1733.maintenance.md
Labels: documentation

chore: adding changelog file 1730.maintenance.md [dependabot-skip]
  doc/changelog.d/1730.maintenance.md
Labels: documentation

chore: adding changelog file 1731.maintenance.md [dependabot-skip]
  doc/changelog.d/1731.maintenance.md
Labels: documentation

fix: skip deprecation test on Linux for version 271
  pyproject.toml
  tests/conftest.py
  tests/embedding/test_app.py
Labels: dependencies

chore: adding changelog file 1734.fixed.md [dependabot-skip]
  doc/changelog.d/1734.fixed.md
Labels: documentation

fix: extra packages
  .github/workflows/docs.yml
Labels: maintenance, ci/cd

chore: adding changelog file 1735.maintenance.md [dependabot-skip]
  doc/changelog.d/1735.maintenance.md
Labels: documentation

chore: adding changelog file 1736.maintenance.md [dependabot-skip]
  doc/changelog.d/1736.maintenance.md
Labels: documentation

chore: adding changelog file 1737.maintenance.md [dependabot-skip]
  doc/changelog.d/1737.maintenance.md
Labels: documentation

chore: adding changelog file 1741.maintenance.md [dependabot-skip]
  doc/changelog.d/1741.maintenance.md
Labels: documentation

chore: adding changelog file 1738.maintenance.md [dependabot-skip]
  doc/changelog.d/1738.maintenance.md
Labels: documentation

chore: adding changelog file 1739.maintenance.md [dependabot-skip]
  doc/changelog.d/1739.maintenance.md
Labels: documentation

update input for doc changelog action
  .github/workflows/label.yml
Labels: maintenance, ci/cd

chore: adding changelog file 1740.maintenance.md [dependabot-skip]
  doc/changelog.d/1740.maintenance.md
Labels: documentation

chore: adding changelog file 1742.maintenance.md [dependabot-skip]
  doc/changelog.d/1742.maintenance.md
Labels: documentation

chore: adding changelog file 1747.maintenance.md [dependabot-skip]
  doc/changelog.d/1747.maintenance.md
Labels: documentation

chore: adding changelog file 1746.maintenance.md [dependabot-skip]
  doc/changelog.d/1746.maintenance.md
Labels: documentation

chore: adding changelog file 1748.maintenance.md [dependabot-skip]
  doc/changelog.d/1748.maintenance.md
Labels: documentation

chore: adding changelog file 1745.maintenance.md [dependabot-skip]
  doc/changelog.d/1745.maintenance.md
Labels: documentation

chore: adding changelog file 1744.maintenance.md [dependabot-skip]
  doc/changelog.d/1744.maintenance.md
Labels: documentation

chore: adding changelog file 1743.maintenance.md [dependabot-skip]
  doc/changelog.d/1743.maintenance.md
Labels: documentation

CHORE: Update Sphinx theme version and add MCP server configuration to documentation
  doc/source/conf.py
  pyproject.toml
Labels: documentation, dependencies
