Repository ansys/pymechanical, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, ci/cd

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/**/*', 'examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', '.pre-commit-config.yaml']

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

ci/cd:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'docker/**/*']

fix: Background app test (#1767)
  doc/changelog.d/1767.fixed.md
  src/ansys/mechanical/core/embedding/background.py
  tests/embedding/test_background.py
Labels: documentation

fix: add license requirement notice for Mechanical features in examples
  doc/source/examples/index.rst
Labels: documentation

chore: adding changelog file 1768.fixed.md [dependabot-skip]
  doc/changelog.d/1768.fixed.md
Labels: documentation

fix: add license requirement notice for Mechanical features in examples (#1768)
  doc/changelog.d/1768.fixed.md
  doc/source/examples/index.rst
Labels: documentation

feat: enhance secure testing with mTLS support and gRPC certificate generation
  .github/workflows/tests.yml
  tests/conftest.py
Labels: maintenance, ci/cd

chore: adding changelog file 1769.added.md [dependabot-skip]
  doc/changelog.d/1769.added.md
Labels: documentation

update connect
  tests/conftest.py
Labels: none

update version control
  .github/workflows/tests.yml
Labels: maintenance, ci/cd

refactor
  .github/workflows/tests.yml
Labels: maintenance, ci/cd

fix: Improve Poster class to handle async calls and update test_app to enable embedding tests
  src/ansys/mechanical/core/embedding/poster.py
  tests/embedding/test_app.py
Labels: none

chore: adding changelog file 1770.fixed.md [dependabot-skip]
  doc/changelog.d/1770.fixed.md
Labels: documentation

fix: update license keyword examples in documentation
  doc/source/user_guide/embedding/licensing.rst
Labels: documentation

chore: adding changelog file 1772.maintenance.md [dependabot-skip]
  doc/changelog.d/1772.maintenance.md
Labels: documentation

chore: adding changelog file 1771.fixed.md [dependabot-skip]
  doc/changelog.d/1771.fixed.md
Labels: documentation

fix: update license keyword examples in documentation (#1771)
  doc/changelog.d/1771.fixed.md
  doc/source/user_guide/embedding/licensing.rst
Labels: documentation

add default transport mode
  tests/conftest.py
Labels: none

feat: enhance secure testing with mTLS support and gRPC certificate generation (#1769)
  .github/workflows/tests.yml
  doc/changelog.d/1769.added.md
  tests/conftest.py
Labels: documentation, maintenance, ci/cd

fix: app temp path
  src/ansys/mechanical/core/embedding/app.py
  tests/embedding/test_appdata.py
  tests/scripts/run_embedded_app.py
Labels: none

test: ansys-pythonnet release candidate
  .github/workflows/coverage.yml
  pyproject.toml
Labels: maintenance, dependencies, ci/cd

chore: adding changelog file 1773.test.md [dependabot-skip]
  doc/changelog.d/1773.test.md
Labels: documentation

feat: add architecture diagram for embedding and remote session modes
  doc/source/getting_started/choose_your_mode.rst
  doc/source/images/pymechanical_architecture_simple.svg
Labels: documentation

chore: adding changelog file 1774.added.md [dependabot-skip]
  doc/changelog.d/1774.added.md
Labels: documentation

add dotnet
  .github/actions/setup-python-env/action.yml
Labels: maintenance, ci/cd

update dotnet version
  .github/actions/setup-python-env/action.yml
Labels: maintenance, ci/cd

chore: adding changelog file 1775.added.md [dependabot-skip]
  doc/changelog.d/1775.added.md
Labels: documentation

feat: add architecture diagram for embedding and remote session modes (#1774)
  doc/changelog.d/1774.added.md
  doc/source/getting_started/choose_your_mode.rst
  doc/source/images/pymechanical_architecture_simple.svg
Labels: documentation
