Repository ansys/pymechanical, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, ci/cd

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/**/*', 'examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', '.pre-commit-config.yaml']

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

ci/cd:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'docker/**/*']

fix needs
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

fix inputs
  .github/workflows/run-tests/action.yml
Labels: maintenance, ci/cd

revert execute change
  src/ansys/mechanical/core/embedding/app.py
  src/ansys/mechanical/core/run.py
  tests/embedding/test_app.py
Labels: none

revert script
  tests/scripts/run_python_enginetype.py
Labels: none

post on teams if the scheduled nightly run fails
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

chore: adding changelog file 1334.added.md [dependabot-skip]
  doc/changelog.d/1334.added.md
Labels: documentation

feat: Notify maintainers when scheduled run fails (#1334)
  .github/workflows/ci_cd.yml
  doc/changelog.d/1334.added.md
Labels: documentation, maintenance, ci/cd

run actions/setup-python if it's a dev container
  .github/workflows/ci_cd.yml
  .github/workflows/setup-python/action.yml
Labels: maintenance, ci/cd

fix syntax issue?
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

remove extra double quote
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

fix image check
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

add tests
  tests/test_cli.py
Labels: none

make notify on failure dependent on the tests and doc build
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

chore: adding changelog file 1335.maintenance.md [dependabot-skip]
  doc/changelog.d/1335.maintenance.md
Labels: documentation

ci: Make notify on failure dependent on the tests and doc build jobs (#1335)
  .github/workflows/ci_cd.yml
  doc/changelog.d/1335.maintenance.md
Labels: documentation, maintenance, ci/cd

test new webhook format
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

fix text formatting and title
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

fix syntax and add date
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

fix json?
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

fix nested adaptive card
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

add date
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

uncomment workflow
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

chore: adding changelog file 1336.fixed.md [dependabot-skip]
  doc/changelog.d/1336.fixed.md
Labels: documentation

fix: Fix payload in webhook (#1336)
  .github/workflows/ci_cd.yml
  doc/changelog.d/1336.fixed.md
Labels: documentation, maintenance, ci/cd

add list with single quotes around container for line 160
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

update tests
  tests/test_cli.py
Labels: none

change mechanical-version to mechanical-image
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

save is_dev_container to github output
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

fix conditions?
  .github/workflows/setup-python/action.yml
Labels: maintenance, ci/cd

fix inputs?
  .github/workflows/setup-python/action.yml
Labels: maintenance, ci/cd

apt install before python installation
  .github/workflows/setup-python/action.yml
Labels: maintenance, ci/cd

install pip after python setup if dev container
  .github/workflows/setup-python/action.yml
Labels: maintenance, ci/cd

apt install libc6
  .github/workflows/setup-python/action.yml
Labels: maintenance, ci/cd

upgrade the system
  .github/workflows/setup-python/action.yml
Labels: maintenance, ci/cd

chore: adding changelog file 1337.maintenance.md [dependabot-skip]
  doc/changelog.d/1337.maintenance.md
Labels: documentation

add 30 min timeout to doc build
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

chore: adding changelog file 1338.dependencies.md [dependabot-skip]
  doc/changelog.d/1338.dependencies.md
Labels: documentation

chore: adding changelog file 1338.maintenance.md [dependabot-skip]
  doc/changelog.d/1338.maintenance.md
Labels: documentation

remove pip install section
  .github/workflows/setup-python/action.yml
Labels: maintenance, ci/cd

ci: Add a 30-minute timeout to the doc-build job (#1338)
  .github/workflows/ci_cd.yml
  doc/changelog.d/1338.maintenance.md
Labels: documentation, maintenance, ci/cd
