Repository ansys/pymechanical, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, ci/cd

update api ref
  doc/source/_templates/autoapi/index.rst
  doc/source/_templates/autoapi/layout.html
  doc/source/_templates/autoapi/python/class.rst
  doc/source/_templates/autoapi/python/module.rst
  doc/source/api/path.rst
  doc/source/conf.py
Labels: documentation

chore: adding changelog file 1476.maintenance.md [dependabot-skip]
  doc/changelog.d/1476.maintenance.md
Labels: documentation

update api conf
  doc/source/conf.py
Labels: documentation

update api landing page
  doc/source/index.rst
  doc/source/user_guide/remote_session/overview.rst
Labels: documentation

test: intershinx
  doc/source/conf.py
  doc/source/user_guide/remote_session/overview.rst
Labels: documentation

feat: Add option for starting license and read only mode (#1474)
  doc/changelog.d/1474.added.md
  src/ansys/mechanical/core/mechanical.py
Labels: documentation

review suggestions
  src/ansys/mechanical/core/embedding/app.py
  tests/embedding/test_app.py
Labels: none

update readme
  README.rst
Labels: none

chore: adding changelog file 1477.added.md [dependabot-skip]
  doc/changelog.d/1477.added.md
Labels: documentation

update info
  README.rst
Labels: none

FEAT: Add option to chose license check out when starting App (#1424)
  doc/changelog.d/1424.added.md
  doc/source/user_guide/howto/licensing.rst
  doc/source/user_guide/index.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
  src/ansys/mechanical/core/embedding/app.py
  tests/embedding/test_app.py
  tests/scripts/run_embedded_app.py
Labels: documentation

feat: Update readme (#1477)
  README.rst
  doc/changelog.d/1477.added.md
Labels: documentation

remove local asset and use remote
  tests/embedding/test_app.py
Labels: none

chore: adding changelog file 1478.maintenance.md [dependabot-skip]
  doc/changelog.d/1478.maintenance.md
Labels: documentation

fix readme
  README.rst
Labels: none

chore: adding changelog file 1479.maintenance.md [dependabot-skip]
  doc/changelog.d/1479.maintenance.md
Labels: documentation

chore: adding changelog file 1480.maintenance.md [dependabot-skip]
  doc/changelog.d/1480.maintenance.md
Labels: documentation

update cheatsheet
  README.rst
  doc/source/cheatsheet/cheat_sheet.qmd
Labels: documentation

chore: adding changelog file 1482.maintenance.md [dependabot-skip]
  doc/changelog.d/1482.maintenance.md
Labels: documentation

replace agdb with pmdb
  doc/source/conf.py
  examples/01_basic/bolt_pretension.py
  examples/01_basic/harmonic_acoustics.py
  examples/01_basic/modal_acoustics_analysis.py
Labels: documentation

chore: adding changelog file 1483.fixed.md [dependabot-skip]
  doc/changelog.d/1483.fixed.md
Labels: documentation

chore: update cheat sheet (#1482)
  README.rst
  doc/changelog.d/1482.maintenance.md
  doc/source/cheatsheet/cheat_sheet.qmd
Labels: documentation

fix: replace agdb with pmdb files (#1483)
  doc/changelog.d/1483.fixed.md
  doc/source/conf.py
  examples/01_basic/bolt_pretension.py
  examples/01_basic/harmonic_acoustics.py
  examples/01_basic/modal_acoustics_analysis.py
Labels: documentation

chore: Update api ref docs (#1476)
  doc/changelog.d/1476.maintenance.md
  doc/source/_templates/autoapi/index.rst
  doc/source/_templates/autoapi/layout.html
  doc/source/_templates/autoapi/python/class.rst
  doc/source/_templates/autoapi/python/module.rst
  doc/source/api/path.rst
  doc/source/conf.py
  doc/source/index.rst
  doc/source/user_guide/remote_session/overview.rst
Labels: documentation

update example
  doc/source/conf.py
Labels: documentation

chore: adding changelog file 1489.fixed.md [dependabot-skip]
  doc/changelog.d/1489.fixed.md
Labels: documentation

find mechanical exe if ansys-mechanical fails
  pyproject.toml
  src/ansys/mechanical/core/embedding/ui.py
Labels: dependencies

chore: adding changelog file 1490.fixed.md [dependabot-skip]
  doc/changelog.d/1490.fixed.md
Labels: documentation

add coverage setting
  pyproject.toml
Labels: dependencies

chore: adding changelog file 1491.maintenance.md [dependabot-skip]
  doc/changelog.d/1491.maintenance.md
Labels: documentation

chore: add coverage for subprocess tests (#1491)
  doc/changelog.d/1491.maintenance.md
  pyproject.toml
Labels: documentation, dependencies

chore: remove local asset and use remote (#1478)
  doc/changelog.d/1478.maintenance.md
  tests/embedding/test_app.py
Labels: documentation

fix: revert ignored example (#1489)
  doc/changelog.d/1489.fixed.md
  doc/source/conf.py
Labels: documentation

add test for launch gui exception
  src/ansys/mechanical/core/embedding/ui.py
  tests/embedding/test_app.py
Labels: none

don't pin ansys-tools-common
  pyproject.toml
Labels: dependencies

FIX: Find Mechanical executable directly if ansys-mechanical fails to find it in launch_gui (#1490)
  doc/changelog.d/1490.fixed.md
  src/ansys/mechanical/core/embedding/ui.py
  tests/embedding/test_app.py
Labels: documentation

chore: adding changelog file 1492.maintenance.md [dependabot-skip]
  doc/changelog.d/1492.maintenance.md
Labels: documentation

bump to v0.12.1
  pyproject.toml
Labels: dependencies

chore: updating CHANGELOG for v0.12.1
  doc/changelog.d/1424.added.md
  doc/changelog.d/1468.maintenance.md
  doc/changelog.d/1474.added.md
  doc/changelog.d/1475.maintenance.md
  doc/changelog.d/1476.maintenance.md
  doc/changelog.d/1477.added.md
  doc/changelog.d/1478.maintenance.md
  doc/changelog.d/1479.maintenance.md
  doc/changelog.d/1480.maintenance.md
  doc/changelog.d/1482.maintenance.md
  doc/changelog.d/1483.fixed.md
  doc/changelog.d/1489.fixed.md
  doc/changelog.d/1490.fixed.md
  doc/changelog.d/1491.maintenance.md
  doc/source/changelog.rst
Labels: documentation

chore: updating CHANGELOG for v0.12.1
  doc/changelog.d/1424.added.md
  doc/changelog.d/1468.maintenance.md
  doc/changelog.d/1474.added.md
  doc/changelog.d/1475.maintenance.md
  doc/changelog.d/1476.maintenance.md
  doc/changelog.d/1477.added.md
  doc/changelog.d/1478.maintenance.md
  doc/changelog.d/1479.maintenance.md
  doc/changelog.d/1480.maintenance.md
  doc/changelog.d/1482.maintenance.md
  doc/changelog.d/1483.fixed.md
  doc/changelog.d/1489.fixed.md
  doc/changelog.d/1490.fixed.md
  doc/changelog.d/1491.maintenance.md
  doc/source/changelog.rst
Labels: documentation

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/**/*', 'examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', '.pre-commit-config.yaml']

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

ci/cd:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'docker/**/*']
