Repository ansys/pymechanical, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, ci/cd

update devcontainer without option of asking license
  .devcontainer/242/devcontainer.json
  .devcontainer/251/devcontainer.json
  .devcontainer/252/devcontainer.json
  .devcontainer/261/devcontainer.json
  .devcontainer/271-candidate/devcontainer.json
  .devcontainer/271/devcontainer.json
Labels: none

update review suggestio
  .devcontainer/242/devcontainer.json
  .devcontainer/251/devcontainer.json
  .devcontainer/252/devcontainer.json
  .devcontainer/261/devcontainer.json
  .devcontainer/271-candidate/devcontainer.json
  .devcontainer/271/devcontainer.json
Labels: none

fix: initialize IPython shell only when interactive mode is enabled
  src/ansys/mechanical/core/embedding/app.py
Labels: none

chore: adding changelog file 1673.fixed.md [dependabot-skip]
  doc/changelog.d/1673.fixed.md
Labels: documentation

feat: add devcontainer (#1667)
  .devcontainer/242/devcontainer.json
  .devcontainer/251/devcontainer.json
  .devcontainer/252/devcontainer.json
  .devcontainer/261/devcontainer.json
  .devcontainer/271-candidate/devcontainer.json
  .devcontainer/271/devcontainer.json
  .devcontainer/README.md
  .devcontainer/shared/Dockerfile
  doc/changelog.d/1667.added.md
Labels: documentation

chore: adding changelog file 1674.maintenance.md [dependabot-skip]
  doc/changelog.d/1674.maintenance.md
Labels: documentation

chore: adding changelog file 1675.maintenance.md [dependabot-skip]
  doc/changelog.d/1675.maintenance.md
Labels: documentation

chore: adding changelog file 1676.maintenance.md [dependabot-skip]
  doc/changelog.d/1676.maintenance.md
Labels: documentation

docs: add news and resources
  doc/source/conf.py
  doc/source/news-and-resources.rst
  pyproject.toml
Labels: documentation, dependencies

chore: adding changelog file 1677.documentation.md [dependabot-skip]
  doc/changelog.d/1677.documentation.md
Labels: documentation

docs: add news and resources
  doc/source/news-and-resources.rst
Labels: documentation

docs: add news and resources
  doc/source/news-and-resources.rst
Labels: documentation

fix: update IntelCompiler lib path and add CPython path for version 271+
  mechanical-env
Labels: none

fix: update IntelCompiler lib path and add CPython path for version 271+
  mechanical-env
Labels: none

update
  mechanical-env
Labels: none

chore: adding changelog file 1678.fixed.md [dependabot-skip]
  doc/changelog.d/1678.fixed.md
Labels: documentation

chore: adding changelog file 1678.fixed.md [dependabot-skip]
  doc/changelog.d/1678.fixed.md
Labels: documentation

fix: hyperlink
  doc/source/conf.py
  doc/source/user_guide/remote_session/server-launcher.rst
Labels: documentation

fix: update IntelCompiler lib path (#1678)
  doc/changelog.d/1678.fixed.md
  doc/source/conf.py
  doc/source/user_guide/remote_session/server-launcher.rst
  mechanical-env
Labels: documentation

bump version 0.12.11
  pyproject.toml
Labels: dependencies

chore: updating CHANGELOG for v0.12.11
  doc/changelog.d/1622.added.md
  doc/changelog.d/1648.maintenance.md
  doc/changelog.d/1649.added.md
  doc/changelog.d/1650.maintenance.md
  doc/changelog.d/1651.added.md
  doc/changelog.d/1652.fixed.md
  doc/changelog.d/1654.fixed.md
  doc/changelog.d/1655.documentation.md
  doc/changelog.d/1656.documentation.md
  doc/changelog.d/1657.added.md
  doc/changelog.d/1658.maintenance.md
  doc/changelog.d/1659.maintenance.md
  doc/changelog.d/1660.maintenance.md
  doc/changelog.d/1662.maintenance.md
  doc/changelog.d/1663.maintenance.md
  doc/changelog.d/1664.documentation.md
  doc/changelog.d/1665.fixed.md
  doc/changelog.d/1667.added.md
  doc/changelog.d/1668.maintenance.md
  doc/changelog.d/1669.maintenance.md
  doc/changelog.d/1670.maintenance.md
  doc/changelog.d/1671.maintenance.md
  doc/changelog.d/1672.maintenance.md
  doc/changelog.d/1674.maintenance.md
  doc/changelog.d/1675.maintenance.md
  doc/changelog.d/1676.maintenance.md
  doc/changelog.d/1678.fixed.md
  doc/source/changelog.rst
Labels: documentation

chore: updating CHANGELOG for v0.12.11
  doc/changelog.d/1622.added.md
  doc/changelog.d/1648.maintenance.md
  doc/changelog.d/1649.added.md
  doc/changelog.d/1650.maintenance.md
  doc/changelog.d/1651.added.md
  doc/changelog.d/1652.fixed.md
  doc/changelog.d/1654.fixed.md
  doc/changelog.d/1655.documentation.md
  doc/changelog.d/1656.documentation.md
  doc/changelog.d/1657.added.md
  doc/changelog.d/1658.maintenance.md
  doc/changelog.d/1659.maintenance.md
  doc/changelog.d/1660.maintenance.md
  doc/changelog.d/1662.maintenance.md
  doc/changelog.d/1663.maintenance.md
  doc/changelog.d/1664.documentation.md
  doc/changelog.d/1665.fixed.md
  doc/changelog.d/1667.added.md
  doc/changelog.d/1668.maintenance.md
  doc/changelog.d/1669.maintenance.md
  doc/changelog.d/1670.maintenance.md
  doc/changelog.d/1671.maintenance.md
  doc/changelog.d/1672.maintenance.md
  doc/changelog.d/1674.maintenance.md
  doc/changelog.d/1675.maintenance.md
  doc/changelog.d/1676.maintenance.md
  doc/changelog.d/1678.fixed.md
  doc/source/changelog.rst
Labels: documentation

chore: adding changelog file 1679.maintenance.md [dependabot-skip]
  doc/changelog.d/1679.maintenance.md
Labels: documentation

chore: update CHANGELOG for v0.12.11 (#1679)
  doc/changelog.d/1622.added.md
  doc/changelog.d/1648.maintenance.md
  doc/changelog.d/1649.added.md
  doc/changelog.d/1650.maintenance.md
  doc/changelog.d/1651.added.md
  doc/changelog.d/1652.fixed.md
  doc/changelog.d/1654.fixed.md
  doc/changelog.d/1655.documentation.md
  doc/changelog.d/1656.documentation.md
  doc/changelog.d/1657.added.md
  doc/changelog.d/1658.maintenance.md
  doc/changelog.d/1659.maintenance.md
  doc/changelog.d/1660.maintenance.md
  doc/changelog.d/1662.maintenance.md
  doc/changelog.d/1663.maintenance.md
  doc/changelog.d/1664.documentation.md
  doc/changelog.d/1665.fixed.md
  doc/changelog.d/1667.added.md
  doc/changelog.d/1668.maintenance.md
  doc/changelog.d/1669.maintenance.md
  doc/changelog.d/1670.maintenance.md
  doc/changelog.d/1671.maintenance.md
  doc/changelog.d/1672.maintenance.md
  doc/changelog.d/1674.maintenance.md
  doc/changelog.d/1675.maintenance.md
  doc/changelog.d/1676.maintenance.md
  doc/changelog.d/1678.fixed.md
  doc/changelog.d/1679.maintenance.md
  doc/source/changelog.rst
Labels: documentation

chore: adding changelog file 1680.maintenance.md [dependabot-skip]
  doc/changelog.d/1680.maintenance.md
Labels: documentation

chore: adding changelog file 1681.maintenance.md [dependabot-skip]
  doc/changelog.d/1681.maintenance.md
Labels: documentation

fix: handle missing offscreen graphics context in image and animation export
  .github/workflows/docs.yml
  src/ansys/mechanical/core/embedding/helpers.py
Labels: maintenance, ci/cd

update crash exit
  .github/workflows/docs.yml
Labels: maintenance, ci/cd

fix: disable IPython shell initialization due to pywin bug
  src/ansys/mechanical/core/embedding/app.py
Labels: none

chore: adding changelog file 1682.fixed.md [dependabot-skip]
  doc/changelog.d/1682.fixed.md
Labels: documentation

add llvmpipe
  .github/workflows/docs.yml
Labels: maintenance, ci/cd

chore: adding changelog file 1683.fixed.md [dependabot-skip]
  doc/changelog.d/1683.fixed.md
Labels: documentation

revert stable container exit
  .github/workflows/docs.yml
Labels: maintenance, ci/cd

fix: disable IPython shell initialization due to pywin bug (#1682)
  doc/changelog.d/1682.fixed.md
  src/ansys/mechanical/core/embedding/app.py
Labels: documentation

bump version 0.12.12
  pyproject.toml
Labels: dependencies

chore: updating CHANGELOG for v0.12.12
  doc/changelog.d/1679.maintenance.md
  doc/changelog.d/1680.maintenance.md
  doc/changelog.d/1681.maintenance.md
  doc/changelog.d/1682.fixed.md
  doc/source/changelog.rst
Labels: documentation

chore: updating CHANGELOG for v0.12.12
  doc/changelog.d/1679.maintenance.md
  doc/changelog.d/1680.maintenance.md
  doc/changelog.d/1681.maintenance.md
  doc/changelog.d/1682.fixed.md
  doc/source/changelog.rst
Labels: documentation

chore: adding changelog file 1684.maintenance.md [dependabot-skip]
  doc/changelog.d/1684.maintenance.md
Labels: documentation

chore: update CHANGELOG for v0.12.12 (#1684)
  doc/changelog.d/1679.maintenance.md
  doc/changelog.d/1680.maintenance.md
  doc/changelog.d/1681.maintenance.md
  doc/changelog.d/1682.fixed.md
  doc/changelog.d/1684.maintenance.md
  doc/source/changelog.rst
Labels: documentation

chore: adding changelog file 1683.fixed.md [dependabot-skip]
  doc/changelog.d/1683.fixed.md
Labels: documentation

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/**/*', 'examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', '.pre-commit-config.yaml']

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

ci/cd:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'docker/**/*']
