Repository ansys/pymechanical, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, ci/cd

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/**/*', 'examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', '.pre-commit-config.yaml']

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

ci/cd:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'docker/**/*']

docker files with user
  doc/source/getting_started/docker.rst
  docker/242/Dockerfile
  docker/251/Dockerfile
  docker/252/Dockerfile
  docker/261/Dockerfile
Labels: documentation, ci/cd

chore: adding changelog file 1563.fixed.md [dependabot-skip]
  doc/changelog.d/1563.fixed.md
Labels: documentation

add reuse flag to overrrider gallery flag
  doc/source/conf.py
  doc/source/user_guide/howto/globals.rst
  src/ansys/mechanical/core/__init__.py
  src/ansys/mechanical/core/embedding/app.py
  tests/embedding/test_app.py
  tests/embedding/test_globals.py
  tests/scripts/reuse_instance_test.py
Labels: documentation

chore: adding changelog file 1564.added.md [dependabot-skip]
  doc/changelog.d/1564.added.md
Labels: documentation

fix save if relative path provided
  src/ansys/mechanical/core/embedding/app.py
  tests/embedding/test_app.py
Labels: none

chore: adding changelog file 1565.fixed.md [dependabot-skip]
  doc/changelog.d/1565.fixed.md
Labels: documentation

fix: Update `save` if relative path provided (#1565)
  doc/changelog.d/1565.fixed.md
  src/ansys/mechanical/core/embedding/app.py
  tests/embedding/test_app.py
Labels: documentation

fix: Throw error if script fails (#1561)
  doc/changelog.d/1561.fixed.md
  src/ansys/mechanical/core/embedding/app.py
Labels: documentation

skip-doc
  .github/workflows/ci_cd.yml
  .github/workflows/label-pre-commit-pr.yml
Labels: maintenance, ci/cd

chore: adding changelog file 1566.test.md [dependabot-skip]
  doc/changelog.d/1566.test.md
Labels: documentation

skip-doc
  .github/labels.yml
  .github/workflows/ci_cd.yml
  .github/workflows/label-pre-commit-pr.yml
Labels: maintenance, ci/cd

zizmor feedback
  .github/workflows/ci_cd.yml
  .github/workflows/label-pre-commit-pr.yml
Labels: maintenance, ci/cd

fix: repr and global import (#1560)
  doc/changelog.d/1560.fixed.md
  doc/source/user_guide/howto/configuration.rst
  src/ansys/mechanical/core/embedding/addins.py
  src/ansys/mechanical/core/embedding/app.py
  src/ansys/mechanical/core/embedding/global_importer.py
Labels: documentation

fix: update plot condition if no display (#1557)
  doc/changelog.d/1557.fixed.md
  src/ansys/mechanical/core/embedding/app.py
Labels: documentation

fix: update user/workspace setting.json for stubs (#1559)
  doc/changelog.d/1559.fixed.md
  doc/source/user_guide/howto/autocomplete.rst
  src/ansys/mechanical/core/ide_config.py
  tests/test_cli.py
Labels: documentation

add test for save_as
  tests/embedding/test_app_save_as.py
Labels: none

chore: adding changelog file 1567.added.md [dependabot-skip]
  doc/changelog.d/1567.added.md
Labels: documentation

feat: add test for save_as method in App (#1567)
  doc/changelog.d/1567.added.md
  tests/embedding/test_app_save_as.py
Labels: documentation

revamp doc
  .pre-commit-config.yaml
  doc/.vale.ini
  doc/source/examples/advanced_examples/index.rst
  doc/source/examples/index.rst
  doc/source/examples/remote_examples/index.rst
  doc/source/faq.rst
  doc/source/getting_started/choose_your_mode.rst
  doc/source/getting_started/docker.rst
  doc/source/getting_started/index.rst
  doc/source/getting_started/installation.rst
  doc/source/getting_started/running_mechanical.rst
  doc/source/getting_started/troubleshooting.rst
  doc/source/getting_started/wsl.rst
  doc/source/index.rst
  doc/source/user_guide/embedding/autocomplete.rst
  doc/source/user_guide/embedding/configuration.rst
  doc/source/user_guide/embedding/globals.rst
  doc/source/user_guide/embedding/libraries.rst
  doc/source/user_guide/embedding/licensing.rst
  doc/source/user_guide/embedding/logging.rst
  doc/source/user_guide/embedding/overview.rst
  doc/source/user_guide/embedding/pep8.rst
  doc/source/user_guide/index.rst
  doc/source/user_guide/remote_session/overview.rst
  doc/source/user_guide/scripting/overview.rst
  doc/source/user_guide/scripting/threading.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
  examples/01_basic/readme.txt
  src/ansys/mechanical/core/pool.py
Labels: documentation, maintenance

add test for wbtrace
  src/ansys/mechanical/core/embedding/app.py
  src/ansys/mechanical/core/embedding/logger/__init__.py
  tests/embedding/test_logger.py
  tests/scripts/embedding_log_test.py
Labels: none

chore: adding changelog file 1569.added.md [dependabot-skip]
  doc/changelog.d/1569.added.md
Labels: documentation

format emdash
  examples/01_basic/readme.txt
Labels: documentation

run link check only scheduled
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

remove unnecessary dep
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

parallel example test
  .github/workflows/ci_cd.yml
  doc/source/conf.py
Labels: documentation, maintenance, ci/cd

add joblib as depend
  pyproject.toml
Labels: dependencies

set env vars
  doc/source/conf.py
Labels: documentation

set galleryexamples for pymech
  doc/source/conf.py
  src/ansys/mechanical/core/__init__.py
Labels: documentation

fix issue when ansys folder is there in cwd
  src/ansys/mechanical/core/embedding/resolver.py
Labels: none

add geoemtry import preference to globals
  examples/01_basic/bolt_pretension.py
  examples/01_basic/cooling_holes_thermal_analysis.py
  examples/01_basic/fracture_analysis_contact_debonding.py
  examples/01_basic/harmonic_acoustics.py
  examples/01_basic/modal_acoustics_analysis.py
  examples/01_basic/steady_state_thermal_analysis.py
  examples/01_basic/valve.py
  src/ansys/mechanical/core/embedding/global_importer.py
  src/ansys/mechanical/core/embedding/imports.py
  tests/embedding/test_globals.py
Labels: documentation

add docs for mechanical-env debug in linux
  doc/source/getting_started/running_mechanical.rst
  doc/source/user_guide/cli/mechanical-env.rst
Labels: documentation

chore: adding changelog file 1575.maintenance.md [dependabot-skip]
  doc/changelog.d/1575.maintenance.md
Labels: documentation

chore: adding changelog file 1576.maintenance.md [dependabot-skip]
  doc/changelog.d/1576.maintenance.md
Labels: documentation

chore: adding changelog file 1571.added.md [dependabot-skip]
  doc/changelog.d/1571.added.md
Labels: documentation

fix: additional examples
  doc/source/_static/ansys_mechanical_core_examples.json
  doc/source/conf.py
Labels: documentation

fix: external examples
  doc/source/_static/ansys-gallery/ansys-favicon.png
  doc/source/conf.py
Labels: documentation

chore: update LICENSE file
  LICENSE
Labels: none

chore: adding changelog file 1577.maintenance.md [dependabot-skip]
  doc/changelog.d/1577.maintenance.md
Labels: documentation

CHORE: Update missing or outdated files (#1577)
  LICENSE
  doc/changelog.d/1577.maintenance.md
Labels: documentation

feat: Run link check only for scheduled (#1571)
  .github/workflows/ci_cd.yml
  doc/changelog.d/1571.added.md
Labels: documentation, maintenance, ci/cd
