Repository ansys/pymechanical, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, ci/cd

Apply suggestion from @dipinknair
  tests/conftest.py
Labels: none

Apply suggestions from code review
  doc/source/getting_started/troubleshooting.rst
Labels: documentation

feat: add pytest header (#1581)
  doc/changelog.d/1581.added.md
  tests/conftest.py
Labels: documentation

chore: adding changelog file 1572.test.md [dependabot-skip]
  doc/changelog.d/1572.test.md
Labels: documentation

fix: add `__all__` definitions (#1579)
  doc/changelog.d/1579.fixed.md
  src/ansys/mechanical/core/__init__.py
  src/ansys/mechanical/core/embedding/__init__.py
  src/ansys/mechanical/core/examples/__init__.py
Labels: documentation

Apply suggestion from @dipinknair
  doc/source/index.rst
Labels: documentation

fix: Update button in landing page (#1587)
  .github/labels.yml
  doc/changelog.d/1587.fixed.md
  doc/source/index.rst
  doc/source/user_guide/index.rst
Labels: documentation, maintenance, ci/cd

remvove doc from globals
  doc/source/user_guide/embedding/globals.rst
Labels: documentation

add a new labels
  .github/labels.yml
Labels: maintenance, ci/cd

feat: add reuse flag to override gallery flag (#1564)
  .github/labels.yml
  doc/changelog.d/1564.added.md
  doc/source/conf.py
  doc/source/user_guide/embedding/globals.rst
  src/ansys/mechanical/core/__init__.py
  src/ansys/mechanical/core/embedding/app.py
  tests/embedding/test_app.py
  tests/embedding/test_globals.py
  tests/scripts/reuse_instance_test.py
Labels: documentation, maintenance, ci/cd

bump version 0.12.5
  pyproject.toml
Labels: dependencies

chore: updating CHANGELOG for v0.12.5
  doc/changelog.d/1564.added.md
  doc/changelog.d/1573.fixed.md
  doc/changelog.d/1579.fixed.md
  doc/changelog.d/1580.maintenance.md
  doc/changelog.d/1581.added.md
  doc/changelog.d/1583.maintenance.md
  doc/changelog.d/1584.maintenance.md
  doc/changelog.d/1585.maintenance.md
  doc/changelog.d/1586.maintenance.md
  doc/changelog.d/1587.fixed.md
  doc/source/changelog.rst
Labels: documentation

chore: updating CHANGELOG for v0.12.5
  doc/changelog.d/1564.added.md
  doc/changelog.d/1573.fixed.md
  doc/changelog.d/1579.fixed.md
  doc/changelog.d/1580.maintenance.md
  doc/changelog.d/1581.added.md
  doc/changelog.d/1583.maintenance.md
  doc/changelog.d/1584.maintenance.md
  doc/changelog.d/1585.maintenance.md
  doc/changelog.d/1586.maintenance.md
  doc/changelog.d/1587.fixed.md
  doc/source/changelog.rst
Labels: documentation

chore: adding changelog file 1590.maintenance.md [dependabot-skip]
  doc/changelog.d/1590.maintenance.md
Labels: documentation

chore: update CHANGELOG for v0.12.5 (#1590)
  doc/changelog.d/1564.added.md
  doc/changelog.d/1573.fixed.md
  doc/changelog.d/1579.fixed.md
  doc/changelog.d/1580.maintenance.md
  doc/changelog.d/1581.added.md
  doc/changelog.d/1583.maintenance.md
  doc/changelog.d/1584.maintenance.md
  doc/changelog.d/1585.maintenance.md
  doc/changelog.d/1586.maintenance.md
  doc/changelog.d/1587.fixed.md
  doc/changelog.d/1590.maintenance.md
  doc/source/changelog.rst
Labels: documentation

fix typo
  doc/source/user_guide/embedding/helpers.rst
  examples/01_basic/topology_optimization_cantilever_beam.py
Labels: documentation

fix tests
  tests/embedding/test_helper.py
Labels: none

update kil
  doc/source/kil/mechanical.rst
Labels: documentation

chore: adding changelog file 1591.fixed.md [dependabot-skip]
  doc/changelog.d/1591.fixed.md
Labels: documentation

update cicd tests
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

Make the AWP_ROOT### env variable check more explicit
  src/ansys/mechanical/core/embedding/initializer.py
Labels: none

Print explicit AWP_ROOT check message
  src/ansys/mechanical/core/embedding/find_mechanical.py
Labels: none

Fix syntax error
  src/ansys/mechanical/core/embedding/find_mechanical.py
Labels: none

Guard against empty mechanical path
  src/ansys/mechanical/core/embedding/find_mechanical.py
Labels: none

fix command
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

feat: add helper methods (#1507)
  .github/workflows/ci_cd.yml
  doc/changelog.d/1507.added.md
  doc/changelog.d/whatsnew.yml
  doc/source/conf.py
  doc/source/user_guide/embedding/helpers.rst
  doc/source/user_guide/index.rst
  examples/01_basic/bolt_pretension.py
  examples/01_basic/cooling_holes_thermal_analysis.py
  examples/01_basic/fracture_analysis_contact_debonding.py
  examples/01_basic/harmonic_acoustics.py
  examples/01_basic/modal_acoustics_analysis.py
  examples/01_basic/steady_state_thermal_analysis.py
  examples/01_basic/topology_optimization_cantilever_beam.py
  examples/01_basic/valve.py
  pyproject.toml
  src/ansys/mechanical/core/embedding/app.py
  src/ansys/mechanical/core/embedding/helpers.py
  src/ansys/mechanical/core/embedding/utils.py
  tests/embedding/test_graphics_export.py
  tests/embedding/test_helper.py
Labels: documentation, maintenance, dependencies, ci/cd

fix version and link
  doc/changelog.d/whatsnew.yml
Labels: documentation

chore: adding changelog file 1593.fixed.md [dependabot-skip]
  doc/changelog.d/1593.fixed.md
Labels: documentation

fix: version and link in whatsnew (#1593)
  doc/changelog.d/1593.fixed.md
  doc/changelog.d/whatsnew.yml
Labels: documentation

bump version 0.12.6
  pyproject.toml
Labels: dependencies

chore: updating CHANGELOG for v0.12.6
  doc/changelog.d/1507.added.md
  doc/changelog.d/1590.maintenance.md
  doc/changelog.d/1593.fixed.md
  doc/source/changelog.rst
Labels: documentation

chore: updating CHANGELOG for v0.12.6
  doc/changelog.d/1507.added.md
  doc/changelog.d/1590.maintenance.md
  doc/changelog.d/1593.fixed.md
  doc/source/changelog.rst
Labels: documentation

chore: adding changelog file 1594.maintenance.md [dependabot-skip]
  doc/changelog.d/1594.maintenance.md
Labels: documentation

chore: adding changelog file 1595.maintenance.md [dependabot-skip]
  doc/changelog.d/1595.maintenance.md
Labels: documentation

chore: adding changelog file 1596.maintenance.md [dependabot-skip]
  doc/changelog.d/1596.maintenance.md
Labels: documentation

chore: update CHANGELOG for v0.12.6 (#1594)
  doc/changelog.d/1507.added.md
  doc/changelog.d/1590.maintenance.md
  doc/changelog.d/1593.fixed.md
  doc/changelog.d/1594.maintenance.md
  doc/source/changelog.rst
Labels: documentation

update more issues
  doc/source/kil/mechanical.rst
Labels: documentation

update userguide
  doc/source/user_guide/index.rst
Labels: documentation

Update license metadata in pyproject.toml
  pyproject.toml
Labels: dependencies

chore: adding changelog file 1598.maintenance.md [dependabot-skip]
  doc/changelog.d/1598.maintenance.md
Labels: documentation

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/**/*', 'examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', '.pre-commit-config.yaml']

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

ci/cd:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'docker/**/*']
