Repository ansys/pymechanical, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, ci/cd

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/**/*', 'examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', '.pre-commit-config.yaml']

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

ci/cd:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'docker/**/*']

update qt
  mechanical-env
Labels: none

chore: adding changelog file 1320.maintenance.md [dependabot-skip]
  doc/changelog.d/1320.maintenance.md
Labels: documentation

chore: update CHANGELOG for v0.11.33 (#1319)
  doc/changelog.d/1289.maintenance.md
  doc/changelog.d/1290.maintenance.md
  doc/changelog.d/1291.documentation.md
  doc/changelog.d/1292.documentation.md
  doc/changelog.d/1293.documentation.md
  doc/changelog.d/1294.maintenance.md
  doc/changelog.d/1296.maintenance.md
  doc/changelog.d/1299.documentation.md
  doc/changelog.d/1301.maintenance.md
  doc/changelog.d/1302.maintenance.md
  doc/changelog.d/1303.maintenance.md
  doc/changelog.d/1304.maintenance.md
  doc/changelog.d/1305.maintenance.md
  doc/changelog.d/1306.documentation.md
  doc/changelog.d/1309.maintenance.md
  doc/changelog.d/1310.fixed.md
  doc/changelog.d/1312.added.md
  doc/changelog.d/1314.added.md
  doc/changelog.d/1316.maintenance.md
  doc/changelog.d/1317.maintenance.md
  doc/changelog.d/1318.documentation.md
  doc/changelog.d/1319.maintenance.md
  doc/source/changelog.rst
Labels: documentation

combine cache step into one and confirm python is installed
  .github/workflows/setup-python/action.yml
Labels: maintenance, ci/cd

chore: adding changelog file 1321.maintenance.md [dependabot-skip]
  doc/changelog.d/1321.maintenance.md
Labels: documentation

added more snippets from prompt forge
  examples/00_setup/01_setup.py
  examples/00_setup/02_geometry.py
  examples/00_setup/03_connections.py
  examples/00_setup/04_named_selections.py
  examples/00_setup/05_mesh.py
  examples/00_setup/06_loads.py
  examples/00_setup/08_tree_objects.py
Labels: documentation

update broken link
  doc/source/kil/index.rst
  doc/source/kil/mechanical.rst
Labels: documentation

CHORE: Update qt version (#1320)
  doc/changelog.d/1320.maintenance.md
  doc/source/kil/index.rst
  doc/source/kil/mechanical.rst
  mechanical-env
Labels: documentation

CHORE: Combine Python cache step into one and confirm Python is installed (#1321)
  .github/workflows/setup-python/action.yml
  doc/changelog.d/1321.maintenance.md
Labels: documentation, maintenance, ci/cd

add mechanical-env
  pyproject.toml
Labels: dependencies

chore: adding changelog file 1324.fixed.md [dependabot-skip]
  doc/changelog.d/1324.fixed.md
Labels: documentation

FIX: Add `mechanical-env` in wheel (#1324)
  doc/changelog.d/1324.fixed.md
  pyproject.toml
Labels: documentation, dependencies

bump version 0.11.34
  pyproject.toml
Labels: dependencies

chore: updating CHANGELOG for v0.11.34
  doc/changelog.d/1319.maintenance.md
  doc/changelog.d/1320.maintenance.md
  doc/changelog.d/1321.maintenance.md
  doc/changelog.d/1324.fixed.md
  doc/source/changelog.rst
Labels: documentation

chore: updating CHANGELOG for v0.11.34
  doc/changelog.d/1319.maintenance.md
  doc/changelog.d/1320.maintenance.md
  doc/changelog.d/1321.maintenance.md
  doc/changelog.d/1324.fixed.md
  doc/source/changelog.rst
Labels: documentation

chore: adding changelog file 1325.maintenance.md [dependabot-skip]
  doc/changelog.d/1325.maintenance.md
Labels: documentation

chore: update CHANGELOG for v0.11.34 (#1325)
  doc/changelog.d/1319.maintenance.md
  doc/changelog.d/1320.maintenance.md
  doc/changelog.d/1321.maintenance.md
  doc/changelog.d/1324.fixed.md
  doc/changelog.d/1325.maintenance.md
  doc/source/changelog.rst
Labels: documentation

Update CONTRIBUTORS.md with the latest contributors
  CONTRIBUTORS.md
Labels: none

chore: adding changelog file 1326.documentation.md [dependabot-skip]
  doc/changelog.d/1326.documentation.md
Labels: documentation

DOCS: Update ``CONTRIBUTORS.md`` with the latest contributors (#1326)
  CONTRIBUTORS.md
  doc/changelog.d/1326.documentation.md
Labels: documentation

fix image size
  examples/01_basic/cooling_holes_thermal_analysis.py
Labels: documentation

chore: adding changelog file 1329.fixed.md [dependabot-skip]
  doc/changelog.d/1329.fixed.md
Labels: documentation

chore: adding changelog file 1330.maintenance.md [dependabot-skip]
  doc/changelog.d/1330.maintenance.md
Labels: documentation

edit comments
  examples/01_basic/cooling_holes_thermal_analysis.py
Labels: documentation

chore: adding changelog file 1331.maintenance.md [dependabot-skip]
  doc/changelog.d/1331.maintenance.md
Labels: documentation

engine type option
  src/ansys/mechanical/core/run.py
Labels: none

App execute modificaiton
  src/ansys/mechanical/core/embedding/app.py
Labels: none

working for 26r1
  future/.gitignore
  future/Ansys.Mechanical.Future.csproj
  future/Properties/AssemblyInfo.cs
Labels: none

FIX: Update image to see the temperature (#1329)
  doc/changelog.d/1329.fixed.md
  examples/01_basic/cooling_holes_thermal_analysis.py
Labels: documentation

update method
  src/ansys/mechanical/core/embedding/app.py
Labels: none

chore: adding changelog file 1332.added.md [dependabot-skip]
  doc/changelog.d/1332.added.md
Labels: documentation

update condition
  src/ansys/mechanical/core/embedding/app.py
Labels: none

update tests
  src/ansys/mechanical/core/embedding/app.py
  tests/embedding/test_app.py
  tests/scripts/run_python_enginetype.py
Labels: none

update func
  src/ansys/mechanical/core/embedding/app.py
Labels: none

update attribute
  src/ansys/mechanical/core/embedding/app.py
Labels: none

update argument
  src/ansys/mechanical/core/embedding/app.py
Labels: none

add option for arguments
  src/ansys/mechanical/core/embedding/app.py
Labels: none

add option for arguments
  src/ansys/mechanical/core/embedding/app.py
Labels: none

chore: adding changelog file 1333.added.md [dependabot-skip]
  doc/changelog.d/1333.added.md
Labels: documentation

separate yml file to only run tests
  .github/workflows/ci_cd.yml
  .github/workflows/run-tests/action.yml
Labels: maintenance, ci/cd
