Repository ansys/pymechanical, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, ci/cd

remove python action
  .github/workflows/setup-python/action.yml
Labels: maintenance, ci/cd

chore: adding changelog file 1349.maintenance.md [dependabot-skip]
  doc/changelog.d/1349.maintenance.md
  doc/changelog.d/1349.test.md
Labels: documentation

lint test_app_lib
  tests/embedding/test_app_libraries.py
Labels: none

replace log with warning
  src/ansys/mechanical/core/embedding/app.py
Labels: none

restore orig
  src/ansys/mechanical/core/embedding/app.py
  tests/embedding/test_app.py
Labels: none

lint app
  src/ansys/mechanical/core/embedding/app.py
Labels: none

merge conflict
  src/ansys/mechanical/core/embedding/app.py
Labels: none

add exception
  pyproject.toml
  tests/embedding/test_app.py
Labels: dependencies

print docker logs
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

remove print of logs
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

FIX: Use different method to check for initialize message (#1351)
  .github/workflows/ci_cd.yml
  doc/changelog.d/1351.fixed.md
Labels: documentation, maintenance, ci/cd

chore: adding changelog file 1355.maintenance.md [dependabot-skip]
  doc/changelog.d/1355.maintenance.md
Labels: documentation

lint tests
  pyproject.toml
  tests/embedding/test_appdata.py
  tests/embedding/test_background.py
  tests/embedding/test_dyna.py
  tests/embedding/test_globals.py
  tests/embedding/test_graphics_export.py
  tests/embedding/test_logger.py
  tests/embedding/test_qk_eng_wb2.py
  tests/embedding/test_remote_solve.py
Labels: dependencies

lint mechanical file
  src/ansys/mechanical/core/mechanical.py
Labels: none

CI: Replace python action with UV install (#1349)
  .github/workflows/ci_cd.yml
  .github/workflows/setup-python/action.yml
  doc/changelog.d/1349.maintenance.md
Labels: documentation, maintenance, ci/cd

chore: adding changelog file 1345.maintenance.md [dependabot-skip]
  doc/changelog.d/1345.maintenance.md
Labels: documentation

lint mechanical file
  src/ansys/mechanical/core/mechanical.py
Labels: none

add docstrings
  pyproject.toml
  tests/conftest.py
  tests/embedding/test_app.py
  tests/embedding/test_app_libraries.py
  tests/embedding/test_globals.py
  tests/test_cli.py
  tests/test_examples_downloads.py
  tests/test_launcher.py
  tests/test_logging.py
  tests/test_mechanical.py
  tests/test_misc.py
  tests/test_pool.py
Labels: dependencies

chore: adding changelog file 1350.added.md [dependabot-skip]
  doc/changelog.d/1350.added.md
Labels: documentation

lint
  tests/conftest.py
  tests/embedding/test_app_libraries.py
  tests/test_cli.py
  tests/test_examples_downloads.py
  tests/test_launcher.py
  tests/test_logging.py
  tests/test_mechanical.py
  tests/test_misc.py
  tests/test_pool.py
Labels: none

update test for linux
  tests/embedding/test_app.py
Labels: none

update test
  src/ansys/mechanical/core/pool.py
Labels: none

test
  src/ansys/mechanical/core/embedding/app.py
  src/ansys/mechanical/core/embedding/ipython_shell.py
Labels: none

fix path
  src/ansys/mechanical/core/embedding/initializer.py
Labels: none

fixes
  src/ansys/mechanical/core/embedding/ipython_shell.py
Labels: none

update
  src/ansys/mechanical/core/embedding/ipython_shell.py
Labels: none

update
  src/ansys/mechanical/core/embedding/app.py
  src/ansys/mechanical/core/embedding/ipython_shell.py
Labels: none

continuously check for WB Initialize Done message
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

chore: adding changelog file 1357.maintenance.md [dependabot-skip]
  doc/changelog.d/1357.maintenance.md
Labels: documentation

Update .github/workflows/ci_cd.yml
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

Update .github/workflows/ci_cd.yml
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

CI: Continuously check for WB Initialize Done message (#1357)
  .github/workflows/ci_cd.yml
  doc/changelog.d/1357.maintenance.md
Labels: documentation, maintenance, ci/cd

fix defualt_version grab
  src/ansys/mechanical/core/embedding/initializer.py
Labels: none

review suggestions
  tests/embedding/test_app_libraries.py
Labels: none

Capitalize
  tests/conftest.py
Labels: none

refactor
  tests/embedding/test_app.py
Labels: none

update test lint
  pyproject.toml
  tests/embedding/test_app.py
Labels: dependencies

update comment
  pyproject.toml
Labels: dependencies

chore: adding changelog file 1360.maintenance.md [dependabot-skip]
  doc/changelog.d/1360.maintenance.md
Labels: documentation

chore: adding changelog file 1359.maintenance.md [dependabot-skip]
  doc/changelog.d/1359.maintenance.md
Labels: documentation

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/**/*', 'examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', '.pre-commit-config.yaml']

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

ci/cd:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'docker/**/*']
