Repository ansys/pymechanical, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, ci/cd

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/**/*', 'examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', '.pre-commit-config.yaml']

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

ci/cd:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'docker/**/*']

update installation screen/instructions
  doc/source/getting_started/installation.rst
  doc/source/images/unified_install_2026R1.png
Labels: documentation

chore: adding changelog file 1685.documentation.md [dependabot-skip]
  doc/changelog.d/1685.documentation.md
Labels: documentation

fix image name
  doc/source/images/unified_install_2026R1.jpg
Labels: documentation

docs: Update installation guide image and instructions (#1685)
  doc/changelog.d/1685.documentation.md
  doc/source/getting_started/installation.rst
  doc/source/images/unified_install_2026R1.jpg
Labels: documentation

add test cases for the image export exception handling
  tests/embedding/test_helper.py
Labels: none

fix tests
  tests/embedding/test_helper.py
Labels: none

remove lambda from monkeypatch setattr
  tests/embedding/test_helper.py
Labels: none

hoverbox
  doc/source/_static/css/mega-menu.css
  doc/source/_static/js/mega-menu.js
  doc/source/conf.py
Labels: documentation

chore: adding changelog file 1687.test.md [dependabot-skip]
  doc/changelog.d/1687.test.md
Labels: documentation

docs: add navbar dropdown layout and update theme options
  doc/source/conf.py
  doc/source/navbar.yml
Labels: documentation

chore: adding changelog file 1688.documentation.md [dependabot-skip]
  doc/changelog.d/1688.documentation.md
Labels: documentation

feat: add MCP optional extra and documentation
  README.rst
  doc/source/getting_started/installation.rst
  doc/source/user_guide/index.rst
  doc/source/user_guide/mcp.rst
  pyproject.toml
Labels: documentation, dependencies

chore: adding changelog file 1689.added.md [dependabot-skip]
  doc/changelog.d/1689.added.md
Labels: documentation

docs: add navbar dropdown layout and update theme options (#1688)
  doc/changelog.d/1688.documentation.md
  doc/source/conf.py
  doc/source/navbar.yml
Labels: documentation

docs: rename MCP section title and fix vocabulary entries
  doc/source/user_guide/index.rst
  doc/source/user_guide/mcp.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
Labels: documentation

docs: add search extra sources to theme options
  doc/source/conf.py
Labels: documentation

chore: adding changelog file 1690.documentation.md [dependabot-skip]
  doc/changelog.d/1690.documentation.md
Labels: documentation

remove secondary sidebar
  doc/source/conf.py
Labels: documentation

update mcp navbar
  doc/source/navbar.yml
Labels: documentation

review suggestion
  doc/source/user_guide/mcp.rst
  pyproject.toml
Labels: documentation, dependencies

chore: adding changelog file 1691.maintenance.md [dependabot-skip]
  doc/changelog.d/1691.maintenance.md
Labels: documentation

chore: adding changelog file 1692.maintenance.md [dependabot-skip]
  doc/changelog.d/1692.maintenance.md
Labels: documentation

docs: add search extra sources to theme options (#1690)
  doc/changelog.d/1690.documentation.md
  doc/source/conf.py
Labels: documentation

maint: drop Python 3.10 support
  .github/workflows/smoke-tests.yml
  .github/workflows/tests.yml
  README.rst
  doc/source/getting_started/installation.rst
  pyproject.toml
  tests/embedding/test_app.py
Labels: documentation, maintenance, dependencies, ci/cd

chore: adding changelog file 1693.maintenance.md [dependabot-skip]
  doc/changelog.d/1693.maintenance.md
Labels: documentation

chore: drop Python 3.10 support (#1693)
  .github/workflows/smoke-tests.yml
  .github/workflows/tests.yml
  README.rst
  doc/changelog.d/1693.maintenance.md
  doc/source/getting_started/installation.rst
  pyproject.toml
  tests/embedding/test_app.py
Labels: documentation, maintenance, dependencies, ci/cd

update drop of py310
  doc/source/user_guide/mcp.rst
  pyproject.toml
Labels: documentation, dependencies

Revert "chore: drop Python 3.10 support (#1693)"
  .github/workflows/smoke-tests.yml
  .github/workflows/tests.yml
  README.rst
  doc/changelog.d/1693.maintenance.md
  doc/source/getting_started/installation.rst
  pyproject.toml
  tests/embedding/test_app.py
Labels: documentation, maintenance, dependencies, ci/cd

Revert "update drop of py310"
  doc/source/user_guide/mcp.rst
  pyproject.toml
Labels: documentation, dependencies

Update pyproject.toml
  pyproject.toml
Labels: dependencies

chore: drop Python 3.11 support
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/smoke-tests.yml
  .github/workflows/tests.yml
  README.rst
  doc/source/getting_started/installation.rst
  pyproject.toml
Labels: documentation, maintenance, dependencies, ci/cd

chore: adding changelog file 1695.maintenance.md [dependabot-skip]
  doc/changelog.d/1695.maintenance.md
Labels: documentation

udpate docs
  doc/source/navbar.yml
  doc/source/user_guide/index.rst
  doc/source/user_guide/mcp.rst
Labels: documentation

feat: add MCP optional extra and documentation (#1689)
  README.rst
  doc/changelog.d/1689.added.md
  doc/source/getting_started/installation.rst
  doc/source/navbar.yml
  doc/source/user_guide/index.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
  pyproject.toml
Labels: documentation, dependencies

Update pyproject.toml
  pyproject.toml
Labels: dependencies

chore: drop Python 3.11 support (#1695)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/workflows/smoke-tests.yml
  .github/workflows/tests.yml
  README.rst
  doc/changelog.d/1695.maintenance.md
  doc/source/getting_started/installation.rst
  pyproject.toml
Labels: documentation, maintenance, dependencies, ci/cd

add marimo notebook
  .gitignore
  pyproject.toml
  src/ansys/mechanical/core/embedding/ipython_shell.py
  src/ansys/mechanical/core/embedding/shell.py
  src/ansys/mechanical/core/examples/marimo/__init__.py
  src/ansys/mechanical/core/examples/marimo/valve.py
  src/ansys/mechanical/core/notebook.py
Labels: dependencies

bump version 0.13.0
  pyproject.toml
Labels: dependencies

chore: updating CHANGELOG for v0.13.0
  doc/changelog.d/1684.maintenance.md
  doc/changelog.d/1685.documentation.md
  doc/changelog.d/1688.documentation.md
  doc/changelog.d/1689.added.md
  doc/changelog.d/1690.documentation.md
  doc/changelog.d/1691.maintenance.md
  doc/changelog.d/1692.maintenance.md
  doc/changelog.d/1693.maintenance.md
  doc/changelog.d/1695.maintenance.md
  doc/source/changelog.rst
Labels: documentation

chore: updating CHANGELOG for v0.13.0
  doc/changelog.d/1684.maintenance.md
  doc/changelog.d/1685.documentation.md
  doc/changelog.d/1688.documentation.md
  doc/changelog.d/1689.added.md
  doc/changelog.d/1690.documentation.md
  doc/changelog.d/1691.maintenance.md
  doc/changelog.d/1692.maintenance.md
  doc/changelog.d/1693.maintenance.md
  doc/changelog.d/1695.maintenance.md
  doc/source/changelog.rst
Labels: documentation
