Repository ansys/pymechanical, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, ci/cd

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/**/*', 'examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', '.pre-commit-config.yaml']

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

ci/cd:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'docker/**/*']

chore: adding changelog file 1398.maintenance.md [dependabot-skip]
  doc/changelog.d/1398.maintenance.md
Labels: documentation

CHORE: Revert "chore: update CHANGELOG for v0.11.36" (#1397)
  doc/changelog.d/1367.fixed.md
  doc/changelog.d/1369.maintenance.md
  doc/changelog.d/1372.fixed.md
  doc/changelog.d/1373.maintenance.md
  doc/changelog.d/1375.added.md
  doc/changelog.d/1376.maintenance.md
  doc/changelog.d/1377.maintenance.md
  doc/changelog.d/1379.maintenance.md
  doc/changelog.d/1380.maintenance.md
  doc/changelog.d/1381.maintenance.md
  doc/changelog.d/1385.test.md
  doc/changelog.d/1387.maintenance.md
  doc/changelog.d/1390.added.md
  doc/changelog.d/1392.maintenance.md
  doc/changelog.d/1394.maintenance.md
  doc/changelog.d/1395.added.md
  doc/changelog.d/1396.maintenance.md
  doc/changelog.d/1397.maintenance.md
  doc/source/changelog.rst
Labels: documentation

remove permission : read
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

fix config-matrix?
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

add checks: write for junit
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

remove fracture
  examples/01_basic/bolt_pretension.py
  examples/01_basic/cooling_holes_thermal_analysis.py
  examples/01_basic/fracture_analysis_contact_debonding.py
  examples/01_basic/harmonic_acoustics.py
  examples/01_basic/modal_acoustics_analysis.py
  examples/01_basic/steady_state_thermal_analysis.py
  examples/01_basic/topology_optimization_cantilever_beam.py
Labels: documentation

chore: adding changelog file 1399.fixed.md [dependabot-skip]
  doc/changelog.d/1399.fixed.md
Labels: documentation

use matrix mech version directly
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

use matrix python version
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

CI: Fix remote-connect (#1398)
  .github/workflows/ci_cd.yml
  doc/changelog.d/1398.maintenance.md
Labels: documentation, maintenance, ci/cd

Revert "chore: updating CHANGELOG for v0.11.36"
  doc/changelog.d/1367.fixed.md
  doc/changelog.d/1369.maintenance.md
  doc/changelog.d/1372.fixed.md
  doc/changelog.d/1373.maintenance.md
  doc/changelog.d/1375.added.md
  doc/changelog.d/1376.maintenance.md
  doc/changelog.d/1377.maintenance.md
  doc/changelog.d/1379.maintenance.md
  doc/changelog.d/1380.maintenance.md
  doc/changelog.d/1381.maintenance.md
  doc/changelog.d/1385.test.md
  doc/changelog.d/1387.maintenance.md
  doc/changelog.d/1390.added.md
  doc/changelog.d/1392.maintenance.md
  doc/changelog.d/1394.maintenance.md
  doc/changelog.d/1395.added.md
  doc/source/changelog.rst
Labels: documentation

Revert "bump version 0.11.36"
  pyproject.toml
Labels: dependencies

bump version to v0.11.36
  pyproject.toml
Labels: dependencies

chore: updating CHANGELOG for v0.11.36
  doc/changelog.d/1367.fixed.md
  doc/changelog.d/1369.maintenance.md
  doc/changelog.d/1372.fixed.md
  doc/changelog.d/1373.maintenance.md
  doc/changelog.d/1375.added.md
  doc/changelog.d/1376.maintenance.md
  doc/changelog.d/1377.maintenance.md
  doc/changelog.d/1379.maintenance.md
  doc/changelog.d/1380.maintenance.md
  doc/changelog.d/1381.maintenance.md
  doc/changelog.d/1385.test.md
  doc/changelog.d/1387.maintenance.md
  doc/changelog.d/1390.added.md
  doc/changelog.d/1391.maintenance.md
  doc/changelog.d/1392.maintenance.md
  doc/changelog.d/1393.maintenance.md
  doc/changelog.d/1394.maintenance.md
  doc/changelog.d/1395.added.md
  doc/changelog.d/1397.maintenance.md
  doc/changelog.d/1398.maintenance.md
  doc/source/changelog.rst
Labels: documentation

chore: updating CHANGELOG for v0.11.36
  doc/changelog.d/1367.fixed.md
  doc/changelog.d/1369.maintenance.md
  doc/changelog.d/1372.fixed.md
  doc/changelog.d/1373.maintenance.md
  doc/changelog.d/1375.added.md
  doc/changelog.d/1376.maintenance.md
  doc/changelog.d/1377.maintenance.md
  doc/changelog.d/1379.maintenance.md
  doc/changelog.d/1380.maintenance.md
  doc/changelog.d/1381.maintenance.md
  doc/changelog.d/1385.test.md
  doc/changelog.d/1387.maintenance.md
  doc/changelog.d/1390.added.md
  doc/changelog.d/1391.maintenance.md
  doc/changelog.d/1392.maintenance.md
  doc/changelog.d/1393.maintenance.md
  doc/changelog.d/1394.maintenance.md
  doc/changelog.d/1395.added.md
  doc/changelog.d/1397.maintenance.md
  doc/changelog.d/1398.maintenance.md
  doc/source/changelog.rst
Labels: documentation

chore: adding changelog file 1401.maintenance.md [dependabot-skip]
  doc/changelog.d/1401.maintenance.md
Labels: documentation

chore: update CHANGELOG for v0.11.36 (#1401)
  doc/changelog.d/1367.fixed.md
  doc/changelog.d/1369.maintenance.md
  doc/changelog.d/1372.fixed.md
  doc/changelog.d/1373.maintenance.md
  doc/changelog.d/1375.added.md
  doc/changelog.d/1376.maintenance.md
  doc/changelog.d/1377.maintenance.md
  doc/changelog.d/1379.maintenance.md
  doc/changelog.d/1380.maintenance.md
  doc/changelog.d/1381.maintenance.md
  doc/changelog.d/1385.test.md
  doc/changelog.d/1387.maintenance.md
  doc/changelog.d/1390.added.md
  doc/changelog.d/1391.maintenance.md
  doc/changelog.d/1392.maintenance.md
  doc/changelog.d/1393.maintenance.md
  doc/changelog.d/1394.maintenance.md
  doc/changelog.d/1395.added.md
  doc/changelog.d/1397.maintenance.md
  doc/changelog.d/1398.maintenance.md
  doc/changelog.d/1401.maintenance.md
  doc/source/changelog.rst
Labels: documentation

ignore fracture_analysis example
  doc/source/conf.py
Labels: documentation

change to string
  doc/source/conf.py
Labels: documentation

fix ignore pattern
  doc/source/conf.py
Labels: documentation

ignore harmonic_acoustics
  doc/source/conf.py
Labels: documentation

chore: adding changelog file 1399.test.md [dependabot-skip]
  doc/changelog.d/1399.test.md
Labels: documentation

revert removing examples
  examples/01_basic/bolt_pretension.py
  examples/01_basic/cooling_holes_thermal_analysis.py
  examples/01_basic/fracture_analysis_contact_debonding.py
  examples/01_basic/harmonic_acoustics.py
  examples/01_basic/modal_acoustics_analysis.py
  examples/01_basic/steady_state_thermal_analysis.py
  examples/01_basic/topology_optimization_cantilever_beam.py
Labels: documentation

add ignore patterns
  doc/source/conf.py
Labels: documentation

fix ignore str
  doc/source/conf.py
Labels: documentation

fix name
  doc/source/conf.py
Labels: documentation

chore: adding changelog file 1402.maintenance.md [dependabot-skip]
  doc/changelog.d/1402.maintenance.md
Labels: documentation

chore: adding changelog file 1403.maintenance.md [dependabot-skip]
  doc/changelog.d/1403.maintenance.md
Labels: documentation

chore: adding changelog file 1404.maintenance.md [dependabot-skip]
  doc/changelog.d/1404.maintenance.md
Labels: documentation

chore: adding changelog file 1405.maintenance.md [dependabot-skip]
  doc/changelog.d/1405.maintenance.md
Labels: documentation

update enum
  src/ansys/mechanical/core/embedding/enum_importer.py
Labels: none

chore: adding changelog file 1407.added.md [dependabot-skip]
  doc/changelog.d/1407.added.md
Labels: documentation

FEAT: Update enums (#1407)
  doc/changelog.d/1407.added.md
  src/ansys/mechanical/core/embedding/enum_importer.py
Labels: documentation

update openssl version
  mechanical-env
Labels: none

chore: adding changelog file 1408.maintenance.md [dependabot-skip]
  doc/changelog.d/1408.maintenance.md
Labels: documentation

CHORE: Update openssl version (#1408)
  doc/changelog.d/1408.maintenance.md
  mechanical-env
Labels: documentation

ignore everything except 02
  doc/Makefile
  doc/source/conf.py
  examples/00_setup/02_geometry.py
  examples/00_setup/04_named_selections.py
Labels: documentation

comment jobs out
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

change filename pattern to 00_setup
  doc/source/conf.py
Labels: documentation

fix filename pattern?
  doc/source/conf.py
Labels: documentation
