Repository ansys/pymechanical, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, ci/cd

chore: adding changelog file 1052.maintenance.md [dependabot-skip]
  doc/changelog.d/1052.maintenance.md
Labels: documentation

fix list files
  src/ansys/mechanical/core/mechanical.py
Labels: none

chore: adding changelog file 1052.maintenance.md [dependabot-skip]
  doc/changelog.d/1052.maintenance.md
Labels: documentation

remove parameters not used
  src/ansys/mechanical/core/mechanical.py
Labels: none

fix pool
  src/ansys/mechanical/core/pool.py
Labels: none

CHORE: Remove Helper python file. (#1052)
  doc/changelog.d/1052.maintenance.md
  src/ansys/mechanical/core/mechanical.py
Labels: documentation

update without strip
  src/ansys/mechanical/core/mechanical.py
Labels: none

chore: adding changelog file 1361.fixed.md [dependabot-skip]
  doc/changelog.d/1361.fixed.md
Labels: documentation

FIX: Update `list_files` (#1361)
  doc/changelog.d/1361.fixed.md
  src/ansys/mechanical/core/mechanical.py
Labels: documentation

update execute
  src/ansys/mechanical/core/embedding/app.py
Labels: none

chore: adding changelog file 1362.fixed.md [dependabot-skip]
  doc/changelog.d/1362.fixed.md
Labels: documentation

remove unnecessary call of additional arg
  src/ansys/mechanical/core/embedding/app.py
Labels: none

add comment
  src/ansys/mechanical/core/embedding/app.py
Labels: none

FIX: Failing `execute_script` tests. (#1362)
  doc/changelog.d/1362.fixed.md
  src/ansys/mechanical/core/embedding/app.py
Labels: documentation

update qk07
  tests/embedding/test_qk_eng_wb2.py
Labels: none

chore: adding changelog file 1364.fixed.md [dependabot-skip]
  doc/changelog.d/1364.fixed.md
Labels: documentation

FIX: Update qk07 test (#1364)
  doc/changelog.d/1364.fixed.md
  tests/embedding/test_qk_eng_wb2.py
Labels: documentation

chore: adding changelog file 1365.maintenance.md [dependabot-skip]
  doc/changelog.d/1365.maintenance.md
Labels: documentation

chore: adding changelog file 1366.maintenance.md [dependabot-skip]
  doc/changelog.d/1366.maintenance.md
Labels: documentation

update mesh setting
  tests/embedding/test_dyna.py
Labels: none

update mesh setting
  tests/embedding/test_dyna.py
Labels: none

chore: adding changelog file 1367.fixed.md [dependabot-skip]
  doc/changelog.d/1367.fixed.md
Labels: documentation

chore: adding changelog file 1367.fixed.md [dependabot-skip]
  doc/changelog.d/1367.fixed.md
Labels: documentation

chore: adding changelog file 1368.maintenance.md [dependabot-skip]
  doc/changelog.d/1368.maintenance.md
Labels: documentation

chore: adding changelog file 1369.maintenance.md [dependabot-skip]
  doc/changelog.d/1369.maintenance.md
Labels: documentation

add more time
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

chore: adding changelog file 1371.fixed.md [dependabot-skip]
  doc/changelog.d/1371.fixed.md
Labels: documentation

trace memory
  examples/00_setup/01_setup2.py
  examples/00_setup/01_setup3.py
  examples_save/02_geometry.py
  examples_save/03_connections.py
  examples_save/04_named_selections.py
  examples_save/05_mesh.py
  examples_save/06_loads.py
  examples_save/07_results.py
  examples_save/08_tree_objects.py
Labels: documentation

only run doc-build
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

add verbose option
  doc/Makefile
Labels: documentation

test
  examples/00_setup/01_setup.py
  examples/00_setup/02_setup.py
  examples/00_setup/03_setup.py
Labels: documentation

add geometry example
  examples/00_setup/02_geometry.py
  examples/00_setup/02_setup.py
  examples/00_setup/03_setup.py
Labels: documentation

try all files
  doc/Makefile
  examples/00_setup/01_setup.py
  examples/00_setup/02_geometry.py
  examples/00_setup/03_connections.py
  examples/00_setup/04_named_selections.py
  examples/00_setup/05_mesh.py
  examples/00_setup/06_loads.py
  examples/00_setup/07_results.py
  examples/00_setup/08_tree_objects.py
  examples_save/02_geometry.py
Labels: documentation

Add shell interaction code
  src/ansys/mechanical/core/embedding/ipython_shell.py
  src/ansys/mechanical/core/embedding/shell.py
Labels: none

Add drain to test helper
  src/ansys/mechanical/core/embedding/utils.py
Labels: none

Implement shell interaction and UI mode
  src/ansys/mechanical/core/embedding/app.py
Labels: none

fix missing dep
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

test single example
  examples_save/02_geometry.py
  examples_save/03_connections.py
  examples_save/04_named_selections.py
  examples_save/05_mesh.py
  examples_save/06_loads.py
  examples_save/07_results.py
  examples_save/08_tree_objects.py
Labels: none

add second setup example
  examples/00_setup/02_geometry.py
Labels: documentation

style
  src/ansys/mechanical/core/embedding/app.py
  src/ansys/mechanical/core/embedding/ipython_shell.py
  src/ansys/mechanical/core/embedding/shell.py
  src/ansys/mechanical/core/embedding/utils.py
Labels: none

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/**/*', 'examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', '.pre-commit-config.yaml']

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

ci/cd:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'docker/**/*']
