Repository ansys/pymechanical, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, ci/cd

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/**/*', 'examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', '.pre-commit-config.yaml']

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

ci/cd:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'docker/**/*']

chore: adding changelog file 1544.maintenance.md [dependabot-skip]
  doc/changelog.d/1544.maintenance.md
Labels: documentation

chore: adding changelog file 1545.maintenance.md [dependabot-skip]
  doc/changelog.d/1545.maintenance.md
Labels: documentation

disable zizmor
  .pre-commit-config.yaml
Labels: maintenance

update doc
  doc/source/user_guide/remote_session/grpc_security.rst
Labels: documentation

add __all__
  src/ansys/mechanical/core/__init__.py
  src/ansys/mechanical/core/embedding/__init__.py
  src/ansys/mechanical/core/examples/__init__.py
Labels: none

future api
  future/Ansys.Mechanical.Future.241.csproj
  future/Ansys.Mechanical.Future.242.csproj
  future/Ansys.Mechanical.Future.251.csproj
  future/Ansys.Mechanical.Future.252.csproj
  future/Ansys.Mechanical.Future.261.csproj
  future/Ansys.Mechanical.Future.All.sln
  future/ModelExtensions.cs
  future/README.md
  future/build_all_versions.ps1
  future/build_all_versions.py
  future/build_all_versions.sh
  future/test_version_system.py
  src/ansys/mechanical/core/embedding/future_importer.py
  src/ansys/mechanical/core/embedding/initializer.py
  test.py
Labels: none

chore: adding changelog file 1546.maintenance.md [dependabot-skip]
  doc/changelog.d/1546.maintenance.md
Labels: documentation

update docker files
  docker/241/.dockerignore
  docker/261/Dockerfile
  docker/261/dockerignore
  docker/docker-compose.yml
Labels: ci/cd

update extension
  docker/261/.dockerignore
Labels: ci/cd

chore: adding changelog file 1547.added.md [dependabot-skip]
  doc/changelog.d/1547.added.md
Labels: documentation

feat: update docker files (#1547)
  doc/changelog.d/1547.added.md
  docker/241/.dockerignore
  docker/261/.dockerignore
  docker/261/Dockerfile
  docker/docker-compose.yml
Labels: documentation, ci/cd

update docker doc
  docker/make_container.rst
  docker/run_container.rst
Labels: ci/cd

chore: adding changelog file 1548.maintenance.md [dependabot-skip]
  doc/changelog.d/1548.maintenance.md
Labels: documentation

chore: update docker doc (#1548)
  doc/changelog.d/1548.maintenance.md
  docker/make_container.rst
  docker/run_container.rst
Labels: documentation, ci/cd

feat: update files for 261 Co-authored-by: pyansys-ci-bot <92810346+pyansys-ci-bot@users.noreply.github.com>
  .github/workflows/ci_cd.yml
  README.rst
  doc/source/cheatsheet/cheat_sheet.qmd
  doc/source/faq.rst
  doc/source/getting_started/docker.rst
  doc/source/getting_started/installation.rst
  doc/source/getting_started/running_mechanical.rst
  doc/source/getting_started/wsl.rst
  doc/source/index.rst
  doc/source/kil/mechanical.rst
  doc/source/user_guide/cli/mechanical-env.rst
  doc/source/user_guide/howto/autocomplete.rst
  doc/source/user_guide/howto/libraries.rst
  doc/source/user_guide/howto/licensing.rst
  doc/source/user_guide/howto/overview.rst
  doc/source/user_guide/remote_session/grpc_security.rst
  doc/source/user_guide/remote_session/overview.rst
  doc/source/user_guide/remote_session/pool.rst
  doc/source/user_guide/remote_session/server-launcher.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
  docker/run_container.rst
  src/ansys/mechanical/core/_version.py
  src/ansys/mechanical/core/embedding/find_mechanical.py
  src/ansys/mechanical/core/embedding/initializer.py
  src/ansys/mechanical/core/ide_config.py
  src/ansys/mechanical/core/mechanical.py
  src/ansys/mechanical/core/misc.py
  src/ansys/mechanical/core/pool.py
  src/ansys/mechanical/core/run.py
  tests/conftest.py
Labels: documentation, maintenance, ci/cd

chore: adding changelog file 1550.added.md [dependabot-skip]
  doc/changelog.d/1550.added.md
Labels: documentation

feat: update files for 261 (#1550)
  .github/workflows/ci_cd.yml
  README.rst
  doc/changelog.d/1550.added.md
  doc/source/cheatsheet/cheat_sheet.qmd
  doc/source/faq.rst
  doc/source/getting_started/docker.rst
  doc/source/getting_started/installation.rst
  doc/source/getting_started/running_mechanical.rst
  doc/source/getting_started/wsl.rst
  doc/source/index.rst
  doc/source/kil/mechanical.rst
  doc/source/user_guide/cli/mechanical-env.rst
  doc/source/user_guide/howto/autocomplete.rst
  doc/source/user_guide/howto/libraries.rst
  doc/source/user_guide/howto/licensing.rst
  doc/source/user_guide/howto/overview.rst
  doc/source/user_guide/remote_session/grpc_security.rst
  doc/source/user_guide/remote_session/overview.rst
  doc/source/user_guide/remote_session/pool.rst
  doc/source/user_guide/remote_session/server-launcher.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
  src/ansys/mechanical/core/_version.py
  src/ansys/mechanical/core/embedding/find_mechanical.py
  src/ansys/mechanical/core/embedding/initializer.py
  src/ansys/mechanical/core/ide_config.py
  src/ansys/mechanical/core/mechanical.py
  src/ansys/mechanical/core/misc.py
  src/ansys/mechanical/core/pool.py
  src/ansys/mechanical/core/run.py
  tests/conftest.py
Labels: documentation, maintenance, ci/cd

chore: adding changelog file 1551.maintenance.md [dependabot-skip]
  doc/changelog.d/1551.maintenance.md
Labels: documentation

chore: adding changelog file 1552.maintenance.md [dependabot-skip]
  doc/changelog.d/1552.maintenance.md
Labels: documentation

feat: update the pyproject
  doc/source/conf.py
  pyproject.toml
Labels: documentation, dependencies

chore: adding changelog file 1553.documentation.md [dependabot-skip]
  doc/changelog.d/1553.documentation.md
Labels: documentation

fix environ
  src/ansys/mechanical/core/embedding/logger/environ.py
Labels: none

chore: adding changelog file 1554.fixed.md [dependabot-skip]
  doc/changelog.d/1554.fixed.md
Labels: documentation

fix broken link
  doc/source/links.rst
Labels: documentation

fix: logging bug (#1554)
  doc/changelog.d/1554.fixed.md
  doc/source/links.rst
  src/ansys/mechanical/core/embedding/logger/environ.py
Labels: documentation

option for readonly in launch_gui
  src/ansys/mechanical/core/embedding/app.py
  src/ansys/mechanical/core/embedding/ui.py
  src/ansys/mechanical/core/run.py
  tests/embedding/test_app.py
  tests/test_cli.py
Labels: none

chore: adding changelog file 1555.added.md [dependabot-skip]
  doc/changelog.d/1555.added.md
Labels: documentation

chore: adding changelog file 1556.maintenance.md [dependabot-skip]
  doc/changelog.d/1556.maintenance.md
Labels: documentation

feat: add option `readonly` in `launch_gui()` (#1555)
  doc/changelog.d/1555.added.md
  src/ansys/mechanical/core/embedding/app.py
  src/ansys/mechanical/core/embedding/ui.py
  src/ansys/mechanical/core/run.py
  tests/embedding/test_app.py
  tests/test_cli.py
Labels: documentation

update condition if no display
  src/ansys/mechanical/core/embedding/app.py
Labels: none

chore: adding changelog file 1557.fixed.md [dependabot-skip]
  doc/changelog.d/1557.fixed.md
Labels: documentation

chore: adding changelog file 1558.maintenance.md [dependabot-skip]
  doc/changelog.d/1558.maintenance.md
Labels: documentation

update setting.json
  doc/source/user_guide/howto/autocomplete.rst
  src/ansys/mechanical/core/ide_config.py
  tests/test_cli.py
Labels: documentation

chore: adding changelog file 1559.fixed.md [dependabot-skip]
  doc/changelog.d/1559.fixed.md
Labels: documentation

fix repr, import
  doc/source/user_guide/howto/configuration.rst
  src/ansys/mechanical/core/embedding/addins.py
  src/ansys/mechanical/core/embedding/app.py
  src/ansys/mechanical/core/embedding/global_importer.py
Labels: documentation

chore: adding changelog file 1560.fixed.md [dependabot-skip]
  doc/changelog.d/1560.fixed.md
Labels: documentation

throw error if script fails
  src/ansys/mechanical/core/embedding/app.py
Labels: none

chore: adding changelog file 1561.fixed.md [dependabot-skip]
  doc/changelog.d/1561.fixed.md
Labels: documentation

separate nightly
  .github/workflows/nightly.yml
  .github/workflows/package_cleanup.yml
Labels: maintenance, ci/cd

chore: adding changelog file 1562.maintenance.md [dependabot-skip]
  doc/changelog.d/1562.maintenance.md
Labels: documentation
