Repository ansys/pymechanical, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, ci/cd

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/**/*', 'examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', '.pre-commit-config.yaml']

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

ci/cd:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'docker/**/*']

chore: adding changelog file 1658.maintenance.md [dependabot-skip]
  doc/changelog.d/1658.maintenance.md
Labels: documentation

chore: adding changelog file 1659.maintenance.md [dependabot-skip]
  doc/changelog.d/1659.maintenance.md
Labels: documentation

chore: adding changelog file 1660.maintenance.md [dependabot-skip]
  doc/changelog.d/1660.maintenance.md
Labels: documentation

feat: Update labelling PR (#1657)
  .github/workflows/label-pre-commit-pr.yml
  doc/changelog.d/1657.added.md
Labels: documentation, maintenance, ci/cd

chore: update AUTHORS file
  AUTHORS
Labels: none

chore: update LICENSE file
  LICENSE
Labels: none

chore: adding changelog file 1662.maintenance.md [dependabot-skip]
  doc/changelog.d/1662.maintenance.md
  pyproject.toml
Labels: documentation, dependencies

chore: adding changelog file 1662.maintenance.md [dependabot-skip]
  pyproject.toml
Labels: dependencies

update pyproject
  doc/styles/config/vocabularies/ANSYS/accept.txt
  pyproject.toml
Labels: documentation, dependencies

Fix Synopsys spelling
  AUTHORS
Labels: none

Fix Synopsys spelling
  LICENSE
Labels: none

add Synopsys to typos.toml
  doc/styles/typos.toml
Labels: documentation

CHORE: Update missing or outdated files (#1662)
  AUTHORS
  LICENSE
  doc/changelog.d/1662.maintenance.md
  doc/styles/config/vocabularies/ANSYS/accept.txt
  doc/styles/typos.toml
  pyproject.toml
Labels: documentation, dependencies

chore: adding changelog file 1663.maintenance.md [dependabot-skip]
  doc/changelog.d/1663.maintenance.md
Labels: documentation

freeze version
  .pre-commit-config.yaml
Labels: maintenance

docs: adding ref to Mech API in card
  doc/source/index.rst
Labels: documentation

chore: adding changelog file 1664.documentation.md [dependabot-skip]
  doc/changelog.d/1664.documentation.md
Labels: documentation

Update index.rst
  doc/source/index.rst
Labels: documentation

docs: adding ref to Mech API in card (#1664)
  doc/changelog.d/1664.documentation.md
  doc/source/index.rst
Labels: documentation

fix: fix cheatsheet and warning when app starts
  doc/source/cheatsheet/.gitignore
  doc/source/cheatsheet/cheat_sheet.qmd
  doc/source/conf.py
  src/ansys/mechanical/core/embedding/app.py
Labels: documentation

chore: adding changelog file 1665.fixed.md [dependabot-skip]
  doc/changelog.d/1665.fixed.md
Labels: documentation

feat: add dev container
  .devcontainer/Dockerfile
  .devcontainer/README.md
  .devcontainer/devcontainer.json
Labels: none

feat: add hostRequirements to dev container for Codespaces compatibility
  .devcontainer/devcontainer.json
Labels: none

fix: dependencies for candidate product (#1652)
  .github/ISSUE_TEMPLATE/config.yml
  doc/changelog.d/1652.fixed.md
  mechanical-env
Labels: documentation, maintenance, ci/cd

add readme
  .devcontainer/README.md
  .devcontainer/devcontainer.json
Labels: none

chore: adding changelog file 1667.added.md [dependabot-skip]
  doc/changelog.d/1667.added.md
Labels: documentation

fix:spacing
  doc/source/cheatsheet/cheat_sheet.qmd
Labels: documentation

fix: cheat sheet and warning when app starts (#1665)
  doc/changelog.d/1665.fixed.md
  doc/source/cheatsheet/.gitignore
  doc/source/cheatsheet/cheat_sheet.qmd
  doc/source/conf.py
  src/ansys/mechanical/core/embedding/app.py
Labels: documentation

chore: adding changelog file 1668.maintenance.md [dependabot-skip]
  doc/changelog.d/1668.maintenance.md
Labels: documentation

chore: adding changelog file 1669.maintenance.md [dependabot-skip]
  doc/changelog.d/1669.maintenance.md
Labels: documentation

chore: adding changelog file 1670.maintenance.md [dependabot-skip]
  doc/changelog.d/1670.maintenance.md
Labels: documentation

chore: adding changelog file 1671.maintenance.md [dependabot-skip]
  doc/changelog.d/1671.maintenance.md
Labels: documentation

update all version of mechanical image
  .devcontainer/242/devcontainer.json
  .devcontainer/251/devcontainer.json
  .devcontainer/252/devcontainer.json
  .devcontainer/261/devcontainer.json
  .devcontainer/271-candidate/devcontainer.json
  .devcontainer/271/devcontainer.json
  .devcontainer/README.md
  .devcontainer/shared/Dockerfile
Labels: none

fix path
  .devcontainer/242/devcontainer.json
  .devcontainer/251/devcontainer.json
  .devcontainer/252/devcontainer.json
  .devcontainer/261/devcontainer.json
  .devcontainer/271-candidate/devcontainer.json
  .devcontainer/271/devcontainer.json
Labels: none

update readme
  .devcontainer/README.md
Labels: none

chore: add workflow to auto-apply skip labels to Dependabot PRs
  .github/workflows/dependabot-skip-labels.yml
Labels: maintenance, ci/cd

chore: adding changelog file 1672.maintenance.md [dependabot-skip]
  doc/changelog.d/1672.maintenance.md
Labels: documentation

fix zizmor error
  .github/workflows/dependabot-skip-labels.yml
Labels: maintenance, ci/cd

Update .github/workflows/dependabot-skip-labels.yml
  .github/workflows/dependabot-skip-labels.yml
Labels: maintenance, ci/cd

chore: add workflow to auto-apply skip labels to Dependabot PRs (#1672)
  .github/workflows/dependabot-skip-labels.yml
  doc/changelog.d/1672.maintenance.md
Labels: documentation, maintenance, ci/cd
