Repository ansys/pymechanical, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, ci/cd

review suggestion
  tests/embedding/test_app_save_as.py
Labels: none

fix: remove lock file (#1646)
  doc/changelog.d/1646.fixed.md
  doc/source/contribute/developer.rst
  doc/source/links.rst
  src/ansys/mechanical/core/embedding/app.py
  tests/embedding/test_app_save_as.py
Labels: documentation

bump version 0.12.10
  pyproject.toml
Labels: dependencies

chore: updating CHANGELOG for v0.12.10
  doc/changelog.d/1639.maintenance.md
  doc/changelog.d/1641.maintenance.md
  doc/changelog.d/1643.maintenance.md
  doc/changelog.d/1644.fixed.md
  doc/changelog.d/1646.fixed.md
  doc/source/changelog.rst
Labels: documentation

chore: updating CHANGELOG for v0.12.10
  doc/changelog.d/1639.maintenance.md
  doc/changelog.d/1641.maintenance.md
  doc/changelog.d/1643.maintenance.md
  doc/changelog.d/1644.fixed.md
  doc/changelog.d/1646.fixed.md
  doc/source/changelog.rst
Labels: documentation

chore: adding changelog file 1648.maintenance.md [dependabot-skip]
  doc/changelog.d/1648.maintenance.md
Labels: documentation

feat: add initialization flag to manage app state (#1622)
  doc/changelog.d/1622.added.md
  src/ansys/mechanical/core/embedding/app.py
  src/ansys/mechanical/core/embedding/global_importer.py
Labels: documentation

chore: update CHANGELOG for v0.12.10 (#1648)
  doc/changelog.d/1639.maintenance.md
  doc/changelog.d/1641.maintenance.md
  doc/changelog.d/1643.maintenance.md
  doc/changelog.d/1644.fixed.md
  doc/changelog.d/1646.fixed.md
  doc/changelog.d/1648.maintenance.md
  doc/source/changelog.rst
Labels: documentation

add template
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/example_request.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/pull_request_template.md
Labels: maintenance, ci/cd

add template
  .github/pull_request_template.md
Labels: maintenance, ci/cd

chore: adding changelog file 1649.added.md [dependabot-skip]
  doc/changelog.d/1649.added.md
Labels: documentation

chore: adding changelog file 1650.maintenance.md [dependabot-skip]
  doc/changelog.d/1650.maintenance.md
Labels: documentation

Update .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: maintenance, ci/cd

update link
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: maintenance, ci/cd

update mechanical version
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: maintenance, ci/cd

feat: add doc-deploy-pr label so that it only runs on the label
  .github/labels.yml
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

chore: adding changelog file 1651.added.md [dependabot-skip]
  doc/changelog.d/1651.added.md
Labels: documentation

feat: Add issue/PR templates (#1649)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/example_request.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/pull_request_template.md
  doc/changelog.d/1649.added.md
Labels: documentation, maintenance, ci/cd

Update .github/workflows/ci_cd.yml
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

fix tp
  .github/ISSUE_TEMPLATE/config.yml
  mechanical-env
Labels: maintenance, ci/cd

chore: adding changelog file 1652.fixed.md [dependabot-skip]
  doc/changelog.d/1652.fixed.md
Labels: documentation

chore: adding changelog file 1654.fixed.md [dependabot-skip]
  doc/changelog.d/1654.fixed.md
Labels: documentation

fix: Issue with parallel pyMechanical instance on linux (#1654)
  doc/changelog.d/1654.fixed.md
  mechanical-env
Labels: documentation

fix: simplify version comparison for 271 or greater in mechanical-env
  mechanical-env
Labels: none

feat: add doc-deploy-pr label so that it only runs if label is enabled (#1651)
  .github/labels.yml
  .github/workflows/ci_cd.yml
  doc/changelog.d/1651.added.md
Labels: documentation, maintenance, ci/cd

revert clr-loader update
  src/ansys/mechanical/core/embedding/loader.py
Labels: none

Getting Started & ecosystem links
  doc/source/getting_started/installation.rst
  doc/source/getting_started/troubleshooting.rst
Labels: documentation

chore: adding changelog file 1655.documentation.md [dependabot-skip]
  doc/changelog.d/1655.documentation.md
Labels: documentation

fixed broken pip tutorial link
  doc/source/getting_started/installation.rst
Labels: documentation

Update doc/source/getting_started/installation.rst
  doc/source/getting_started/installation.rst
Labels: documentation

Update doc/source/getting_started/installation.rst
  doc/source/getting_started/installation.rst
Labels: documentation

Update doc/source/getting_started/troubleshooting.rst
  doc/source/getting_started/troubleshooting.rst
Labels: documentation

Update doc/source/getting_started/troubleshooting.rst
  doc/source/getting_started/troubleshooting.rst
Labels: documentation

Update doc/source/getting_started/installation.rst
  doc/source/getting_started/installation.rst
Labels: documentation

docs: Getting Started & ecosystem links (#1655)
  doc/changelog.d/1655.documentation.md
  doc/source/getting_started/installation.rst
  doc/source/getting_started/troubleshooting.rst
Labels: documentation

Update CONTRIBUTORS.md with the latest contributors
  CONTRIBUTORS.md
Labels: none

chore: adding changelog file 1656.documentation.md [dependabot-skip]
  doc/changelog.d/1656.documentation.md
Labels: documentation

feat:add pyansys-automation to skip test and doc
  .github/workflows/label-pre-commit-pr.yml
Labels: maintenance, ci/cd

chore: adding changelog file 1657.added.md [dependabot-skip]
  doc/changelog.d/1657.added.md
Labels: documentation

DOCS: Update ``CONTRIBUTORS.md`` with the latest contributors (#1656)
  CONTRIBUTORS.md
  doc/changelog.d/1656.documentation.md
Labels: documentation

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/**/*', 'examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', '.pre-commit-config.yaml']

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

ci/cd:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'docker/**/*']
