Repository ansys/pymechanical, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, ci/cd

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/**/*', 'examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', '.pre-commit-config.yaml']

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

ci/cd:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'docker/**/*']

chore: adding changelog file 1696.maintenance.md [dependabot-skip]
  doc/changelog.d/1696.maintenance.md
Labels: documentation

chore: update CHANGELOG for v0.13.0 (#1696)
  doc/changelog.d/1684.maintenance.md
  doc/changelog.d/1685.documentation.md
  doc/changelog.d/1688.documentation.md
  doc/changelog.d/1689.added.md
  doc/changelog.d/1690.documentation.md
  doc/changelog.d/1691.maintenance.md
  doc/changelog.d/1692.maintenance.md
  doc/changelog.d/1693.maintenance.md
  doc/changelog.d/1695.maintenance.md
  doc/changelog.d/1696.maintenance.md
  doc/source/changelog.rst
Labels: documentation

fix: register private appdata cleanup before atexit embedded app handler
  src/ansys/mechanical/core/embedding/app.py
Labels: none

chore: adding changelog file 1697.fixed.md [dependabot-skip]
  doc/changelog.d/1697.fixed.md
Labels: documentation

chore: add smoke-test-check job to ci/cd pipeline
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

chore: adding changelog file 1698.maintenance.md [dependabot-skip]
  doc/changelog.d/1698.maintenance.md
Labels: documentation

fix: register private appdata cleanup before atexit embedded app handler (#1697)
  doc/changelog.d/1697.fixed.md
  src/ansys/mechanical/core/embedding/app.py
Labels: documentation

chore: add smoke-test-check job to ci/cd pipeline (#1698)
  .github/workflows/ci_cd.yml
  doc/changelog.d/1698.maintenance.md
Labels: documentation, maintenance, ci/cd

fix: extend Windows store workaround to pythoncore and add v261 DLL paths
  src/ansys/mechanical/core/embedding/initializer.py
Labels: none

chore: adding changelog file 1700.fixed.md [dependabot-skip]
  doc/changelog.d/1700.fixed.md
Labels: documentation

feat: add --log-embedding pytest flag and document custom pytest options
  doc/source/contribute/developer.rst
  tests/conftest.py
Labels: documentation

chore: adding changelog file 1702.added.md [dependabot-skip]
  doc/changelog.d/1702.added.md
Labels: documentation

refactor: split license manager test into individual test functions
  tests/embedding/test_license_manager.py
Labels: none

chore: adding changelog file 1703.fixed.md [dependabot-skip]
  doc/changelog.d/1703.fixed.md
Labels: documentation

feat: add GitHub Copilot instructions and test skill documentation
  .github/copilot-instructions.md
  .github/skills/doc/SKILL.md
  .github/skills/test/SKILL.md
  .gitignore
Labels: maintenance, ci/cd

chore: adding changelog file 1704.added.md [dependabot-skip]
  doc/changelog.d/1704.added.md
Labels: documentation

add promp
  .github/prompts/pr_summary.prompt.md
Labels: maintenance, ci/cd

add pr_sumary to gitignore
  .github/prompts/pr_summary.prompt.md
  .gitignore
Labels: maintenance, ci/cd

feat: add --log-embedding pytest flag and document custom pytest options (#1702)
  doc/changelog.d/1702.added.md
  doc/source/contribute/developer.rst
  tests/conftest.py
Labels: documentation

feat: add GitHub Copilot instructions and test skill documentation (#1704)
  .github/copilot-instructions.md
  .github/prompts/pr_summary.prompt.md
  .github/skills/test/SKILL.md
  .gitignore
  doc/changelog.d/1609.added.md
  doc/changelog.d/1704.added.md
Labels: documentation, maintenance, ci/cd

update intelMKL wrt local folder
  src/ansys/mechanical/core/embedding/initializer.py
Labels: none

chore: adding changelog file 1705.maintenance.md [dependabot-skip]
  doc/changelog.d/1705.maintenance.md
Labels: documentation

chore: adding changelog file 1706.maintenance.md [dependabot-skip]
  doc/changelog.d/1706.maintenance.md
Labels: documentation

chore: adding changelog file 1707.maintenance.md [dependabot-skip]
  doc/changelog.d/1707.maintenance.md
Labels: documentation

chore: adding changelog file 1708.maintenance.md [dependabot-skip]
  doc/changelog.d/1708.maintenance.md
Labels: documentation

fix: include coverage.yml in skip-test label check
  .github/workflows/dependabot-skip-labels.yml
Labels: maintenance, ci/cd

chore: adding changelog file 1709.fixed.md [dependabot-skip]
  doc/changelog.d/1709.fixed.md
Labels: documentation

fix: include coverage.yml in skip-test label check (#1709)
  .github/workflows/dependabot-skip-labels.yml
  doc/changelog.d/1709.fixed.md
Labels: documentation, maintenance, ci/cd

docs: add blog section with Docker CI/CD post and autoapi custom index template
  doc/source/_templates/autoapi/index.rst
  doc/source/blog/index.rst
  doc/source/blog/linux-mechanical-docker-cicd.rst
  doc/source/conf.py
  doc/source/index.rst
  doc/source/links.rst
  doc/source/navbar.yml
  pyproject.toml
Labels: documentation, dependencies

chore: adding changelog file 1710.documentation.md [dependabot-skip]
  doc/changelog.d/1710.documentation.md
Labels: documentation

fix: vale issues
  doc/source/blog/linux-mechanical-docker-cicd.rst
  doc/source/contribute.rst
Labels: documentation

fix: license test and split license manager test into individual test functions (#1703)
  doc/changelog.d/1703.fixed.md
  tests/embedding/test_license_manager.py
Labels: documentation

Revert "update intelMKL wrt local folder"
  src/ansys/mechanical/core/embedding/initializer.py
Labels: none

remove blog sidebar
  doc/source/conf.py
Labels: documentation

feat: add path for 261 and 271
  src/ansys/mechanical/core/embedding/initializer.py
Labels: none

chore: adding changelog file 1700.fixed.md [dependabot-skip]
  doc/changelog.d/1700.fixed.md
Labels: documentation

fix link for blog
  doc/source/index.rst
Labels: documentation

fix blog page
  doc/source/_templates/autoapi/index.rst
  doc/source/blog/index.rst
  doc/source/conf.py
  doc/source/navbar.yml
Labels: documentation

fix: add missing warning log for unrecognized version in Windows Store workaround
  src/ansys/mechanical/core/embedding/initializer.py
Labels: none

fix vale
  doc/source/contribute.rst
Labels: documentation
