Repository ansys/pymechanical, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, ci/cd

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/**/*', 'examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', '.pre-commit-config.yaml']

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

ci/cd:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'docker/**/*']

chore: adding changelog file 1749.maintenance.md [dependabot-skip]
  doc/changelog.d/1749.maintenance.md
Labels: documentation

chore: Update Sphinx theme version and add MCP server banner (#1749)
  doc/changelog.d/1749.maintenance.md
  doc/source/conf.py
  pyproject.toml
Labels: documentation, dependencies

chore: Add Model Context Protocol integration details to whatsnew
  doc/changelog.d/whatsnew.yml
Labels: documentation

chore: adding changelog file 1750.maintenance.md [dependabot-skip]
  doc/changelog.d/1750.maintenance.md
Labels: documentation

chore: adding changelog file 1751.maintenance.md [dependabot-skip]
  doc/changelog.d/1751.maintenance.md
Labels: documentation

chore: adding changelog file 1754.maintenance.md [dependabot-skip]
  doc/changelog.d/1754.maintenance.md
Labels: documentation

chore: adding changelog file 1753.maintenance.md [dependabot-skip]
  doc/changelog.d/1753.maintenance.md
Labels: documentation

chore: adding changelog file 1755.maintenance.md [dependabot-skip]
  doc/changelog.d/1755.maintenance.md
Labels: documentation

chore: adding changelog file 1752.maintenance.md [dependabot-skip]
  doc/changelog.d/1752.maintenance.md
Labels: documentation

chore: Add Model Context Protocol integration details to whatsnew (#1750)
  doc/changelog.d/1750.maintenance.md
  doc/changelog.d/whatsnew.yml
Labels: documentation

test: cicd nightly
  .github/workflows/tests.yml
  tests/conftest.py
Labels: maintenance, ci/cd

chore: Update quarto version from 1.9.36 to 1.10.18 in documentation workflow
  .github/workflows/docs.yml
Labels: maintenance, ci/cd

chore: adding changelog file 1756.maintenance.md [dependabot-skip]
  doc/changelog.d/1756.maintenance.md
Labels: documentation

update broken link
  doc/source/getting_started/troubleshooting.rst
Labels: documentation

chore: Update quarto version from 1.9.36 to 1.10.18 in documentation build (#1756)
  .github/workflows/docs.yml
  doc/changelog.d/1756.maintenance.md
  doc/source/getting_started/troubleshooting.rst
Labels: documentation, maintenance, ci/cd

chore: adding changelog file 1757.maintenance.md [dependabot-skip]
  doc/changelog.d/1757.maintenance.md
Labels: documentation

chore: adding changelog file 1758.maintenance.md [dependabot-skip]
  doc/changelog.d/1758.maintenance.md
Labels: documentation

chore: add 'https://innovation.ansys.com/*' to linkcheck_ignore list
  doc/source/conf.py
Labels: documentation

chore: adding changelog file 1759.maintenance.md [dependabot-skip]
  doc/changelog.d/1759.maintenance.md
Labels: documentation

chore: add 'https://innovation.ansys.com/*' to linkcheck_ignore list (#1759)
  doc/changelog.d/1759.maintenance.md
  doc/source/conf.py
Labels: documentation

update qt and libtorch
  src/ansys/mechanical/core/embedding/initializer.py
Labels: none

minor wording change
  src/ansys/mechanical/core/embedding/initializer.py
Labels: none

fix: docstring style
  src/ansys/mechanical/core/embedding/initializer.py
Labels: none

fix: extend Windows store workaround (#1700)
  doc/changelog.d/1700.fixed.md
  src/ansys/mechanical/core/embedding/initializer.py
Labels: documentation

bump version 0.13.3
  pyproject.toml
Labels: dependencies

chore: updating CHANGELOG for v0.13.3
  doc/changelog.d/1700.fixed.md
  doc/changelog.d/1722.maintenance.md
  doc/changelog.d/1723.fixed.md
  doc/changelog.d/1724.maintenance.md
  doc/changelog.d/1725.maintenance.md
  doc/changelog.d/1726.documentation.md
  doc/changelog.d/1727.fixed.md
  doc/changelog.d/1728.maintenance.md
  doc/changelog.d/1729.maintenance.md
  doc/changelog.d/1730.maintenance.md
  doc/changelog.d/1731.maintenance.md
  doc/changelog.d/1733.maintenance.md
  doc/changelog.d/1735.maintenance.md
  doc/changelog.d/1736.maintenance.md
  doc/changelog.d/1737.maintenance.md
  doc/changelog.d/1738.maintenance.md
  doc/changelog.d/1739.maintenance.md
  doc/changelog.d/1740.maintenance.md
  doc/changelog.d/1741.maintenance.md
  doc/changelog.d/1742.maintenance.md
  doc/changelog.d/1743.maintenance.md
  doc/changelog.d/1744.maintenance.md
  doc/changelog.d/1745.maintenance.md
  doc/changelog.d/1746.maintenance.md
  doc/changelog.d/1747.maintenance.md
  doc/changelog.d/1748.maintenance.md
  doc/changelog.d/1749.maintenance.md
  doc/changelog.d/1750.maintenance.md
  doc/changelog.d/1751.maintenance.md
  doc/changelog.d/1752.maintenance.md
  doc/changelog.d/1753.maintenance.md
  doc/changelog.d/1754.maintenance.md
  doc/changelog.d/1755.maintenance.md
  doc/changelog.d/1756.maintenance.md
  doc/changelog.d/1757.maintenance.md
  doc/changelog.d/1758.maintenance.md
  doc/changelog.d/1759.maintenance.md
  doc/source/changelog.rst
Labels: documentation

chore: updating CHANGELOG for v0.13.3
  doc/changelog.d/1700.fixed.md
  doc/changelog.d/1722.maintenance.md
  doc/changelog.d/1723.fixed.md
  doc/changelog.d/1724.maintenance.md
  doc/changelog.d/1725.maintenance.md
  doc/changelog.d/1726.documentation.md
  doc/changelog.d/1727.fixed.md
  doc/changelog.d/1728.maintenance.md
  doc/changelog.d/1729.maintenance.md
  doc/changelog.d/1730.maintenance.md
  doc/changelog.d/1731.maintenance.md
  doc/changelog.d/1733.maintenance.md
  doc/changelog.d/1735.maintenance.md
  doc/changelog.d/1736.maintenance.md
  doc/changelog.d/1737.maintenance.md
  doc/changelog.d/1738.maintenance.md
  doc/changelog.d/1739.maintenance.md
  doc/changelog.d/1740.maintenance.md
  doc/changelog.d/1741.maintenance.md
  doc/changelog.d/1742.maintenance.md
  doc/changelog.d/1743.maintenance.md
  doc/changelog.d/1744.maintenance.md
  doc/changelog.d/1745.maintenance.md
  doc/changelog.d/1746.maintenance.md
  doc/changelog.d/1747.maintenance.md
  doc/changelog.d/1748.maintenance.md
  doc/changelog.d/1749.maintenance.md
  doc/changelog.d/1750.maintenance.md
  doc/changelog.d/1751.maintenance.md
  doc/changelog.d/1752.maintenance.md
  doc/changelog.d/1753.maintenance.md
  doc/changelog.d/1754.maintenance.md
  doc/changelog.d/1755.maintenance.md
  doc/changelog.d/1756.maintenance.md
  doc/changelog.d/1757.maintenance.md
  doc/changelog.d/1758.maintenance.md
  doc/changelog.d/1759.maintenance.md
  doc/source/changelog.rst
Labels: documentation

chore: adding changelog file 1760.maintenance.md [dependabot-skip]
  doc/changelog.d/1760.maintenance.md
Labels: documentation

chore: update CHANGELOG for v0.13.3 (#1760)
  doc/changelog.d/1700.fixed.md
  doc/changelog.d/1722.maintenance.md
  doc/changelog.d/1723.fixed.md
  doc/changelog.d/1724.maintenance.md
  doc/changelog.d/1725.maintenance.md
  doc/changelog.d/1726.documentation.md
  doc/changelog.d/1727.fixed.md
  doc/changelog.d/1728.maintenance.md
  doc/changelog.d/1729.maintenance.md
  doc/changelog.d/1730.maintenance.md
  doc/changelog.d/1731.maintenance.md
  doc/changelog.d/1733.maintenance.md
  doc/changelog.d/1735.maintenance.md
  doc/changelog.d/1736.maintenance.md
  doc/changelog.d/1737.maintenance.md
  doc/changelog.d/1738.maintenance.md
  doc/changelog.d/1739.maintenance.md
  doc/changelog.d/1740.maintenance.md
  doc/changelog.d/1741.maintenance.md
  doc/changelog.d/1742.maintenance.md
  doc/changelog.d/1743.maintenance.md
  doc/changelog.d/1744.maintenance.md
  doc/changelog.d/1745.maintenance.md
  doc/changelog.d/1746.maintenance.md
  doc/changelog.d/1747.maintenance.md
  doc/changelog.d/1748.maintenance.md
  doc/changelog.d/1749.maintenance.md
  doc/changelog.d/1750.maintenance.md
  doc/changelog.d/1751.maintenance.md
  doc/changelog.d/1752.maintenance.md
  doc/changelog.d/1753.maintenance.md
  doc/changelog.d/1754.maintenance.md
  doc/changelog.d/1755.maintenance.md
  doc/changelog.d/1756.maintenance.md
  doc/changelog.d/1757.maintenance.md
  doc/changelog.d/1758.maintenance.md
  doc/changelog.d/1759.maintenance.md
  doc/changelog.d/1760.maintenance.md
  doc/source/changelog.rst
Labels: documentation

chore: adding changelog file 1762.maintenance.md [dependabot-skip]
  doc/changelog.d/1762.maintenance.md
Labels: documentation

chore: adding changelog file 1763.maintenance.md [dependabot-skip]
  doc/changelog.d/1763.maintenance.md
Labels: documentation

chore: adding changelog file 1764.maintenance.md [dependabot-skip]
  doc/changelog.d/1764.maintenance.md
Labels: documentation

chore: adding changelog file 1765.maintenance.md [dependabot-skip]
  doc/changelog.d/1765.maintenance.md
Labels: documentation

chore: increase timeout for embedding tests from 30 to 45 minutes
  .github/workflows/tests.yml
Labels: maintenance, ci/cd

chore: adding changelog file 1766.maintenance.md [dependabot-skip]
  doc/changelog.d/1766.maintenance.md
Labels: documentation

chore: increase timeout for embedding tests from 30 to 45 minutes (#1766)
  .github/workflows/tests.yml
  doc/changelog.d/1766.maintenance.md
Labels: documentation, maintenance, ci/cd

test: cicd
  .github/workflows/tests.yml
Labels: maintenance, ci/cd

skip test
  tests/embedding/test_background.py
Labels: none

fix: Background app test
  src/ansys/mechanical/core/embedding/background.py
  tests/embedding/test_background.py
Labels: none

chore: adding changelog file 1767.fixed.md [dependabot-skip]
  doc/changelog.d/1767.fixed.md
Labels: documentation
