Repository ansys/pymechanical, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, ci/cd

format docker inspect output
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

use container sha for cache
  .github/workflows/ci_cd.yml
  .github/workflows/setup-python/action.yml
Labels: maintenance, ci/cd

uncomment sections and apply python action to other jobs
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

add verbose mode to embedding scripts pytest
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

chore: adding changelog file 1316.maintenance.md [dependabot-skip]
  doc/changelog.d/1316.maintenance.md
Labels: documentation

skip test_analytics temporarily
  .github/workflows/ci_cd.yml
  tests/embedding/test_analytics.py
Labels: maintenance, ci/cd

fix tags
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

chore: adding changelog file 1317.maintenance.md [dependabot-skip]
  doc/changelog.d/1317.maintenance.md
Labels: documentation

fix doc
  doc/changelog.d/whatsnew.yml
  doc/source/getting_started/index.rst
  doc/source/user_guide/howto/pep8.rst
  src/ansys/mechanical/core/embedding/runtime.py
Labels: documentation

chore: adding changelog file 1318.documentation.md [dependabot-skip]
  doc/changelog.d/1318.documentation.md
Labels: documentation

update link
  doc/source/getting_started/index.rst
Labels: documentation

corrected material xml file name and flake8 formating issues
  examples/01_basic/cooling_holes_thermal_analysis.py
Labels: documentation

check if cache worked & if not, do the python install
  .github/workflows/ci_cd.yml
  .github/workflows/setup-python/action.yml
Labels: maintenance, ci/cd

don't use will
  doc/source/contribute/documentarian.rst
Labels: documentation

add PYTHONHOME and PYTHONPATH env vars
  .github/workflows/setup-python/action.yml
Labels: maintenance, ci/cd

fix hash input?
  .github/workflows/setup-python/action.yml
Labels: maintenance, ci/cd

set python home and fix getting sha
  .github/workflows/ci_cd.yml
  .github/workflows/setup-python/action.yml
Labels: maintenance, ci/cd

link to installed python location
  .github/workflows/setup-python/action.yml
Labels: maintenance, ci/cd

update doc preview
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

cache pip;
  .github/workflows/setup-python/action.yml
Labels: maintenance, ci/cd

move cache step
  .github/workflows/setup-python/action.yml
Labels: maintenance, ci/cd

cache python install
  .github/workflows/setup-python/action.yml
Labels: maintenance, ci/cd

DOCS: Fix reference (#1318)
  .github/workflows/ci_cd.yml
  doc/changelog.d/1318.documentation.md
  doc/changelog.d/whatsnew.yml
  doc/source/getting_started/index.rst
  doc/source/user_guide/howto/pep8.rst
  src/ansys/mechanical/core/embedding/runtime.py
Labels: documentation, maintenance, ci/cd

review suggestions
  examples/01_basic/cooling_holes_thermal_analysis.py
Labels: documentation

FEAT: add new example (#1314)
  doc/changelog.d/1314.added.md
  doc/styles/config/vocabularies/ANSYS/accept.txt
  examples/01_basic/cooling_holes_thermal_analysis.py
Labels: documentation

cache /usr/local/ lib, bin, and include for python install
  .github/workflows/setup-python/action.yml
Labels: maintenance, ci/cd

fix if statement?
  .github/workflows/setup-python/action.yml
Labels: maintenance, ci/cd

install sqlite3
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

install sqlite3
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

install sqlite3
  .github/workflows/ci_cd.yml
  .github/workflows/setup-python/action.yml
Labels: maintenance, ci/cd

install lsb-release
  .github/workflows/setup-python/action.yml
Labels: maintenance, ci/cd

enable optimizations option and uncomment cicd
  .github/workflows/ci_cd.yml
  .github/workflows/setup-python/action.yml
Labels: maintenance, ci/cd

don't skip test_analytics
  tests/embedding/test_analytics.py
Labels: none

comment out embedding-rpc-tests
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

FEAT: Modify installation of python inside container (#1312)
  .github/workflows/ci_cd.yml
  .github/workflows/setup-python/action.yml
  doc/changelog.d/1312.added.md
  doc/source/contribute/documentarian.rst
Labels: documentation, maintenance, ci/cd

geom description
  examples/00_setup/02_geometry.py
Labels: documentation

bump to v0.11.33
  pyproject.toml
Labels: dependencies

chore: updating CHANGELOG for v0.11.33
  doc/changelog.d/1289.maintenance.md
  doc/changelog.d/1290.maintenance.md
  doc/changelog.d/1291.documentation.md
  doc/changelog.d/1292.documentation.md
  doc/changelog.d/1293.documentation.md
  doc/changelog.d/1294.maintenance.md
  doc/changelog.d/1296.maintenance.md
  doc/changelog.d/1299.documentation.md
  doc/changelog.d/1301.maintenance.md
  doc/changelog.d/1302.maintenance.md
  doc/changelog.d/1303.maintenance.md
  doc/changelog.d/1304.maintenance.md
  doc/changelog.d/1305.maintenance.md
  doc/changelog.d/1306.documentation.md
  doc/changelog.d/1309.maintenance.md
  doc/changelog.d/1310.fixed.md
  doc/changelog.d/1312.added.md
  doc/changelog.d/1314.added.md
  doc/changelog.d/1316.maintenance.md
  doc/changelog.d/1317.maintenance.md
  doc/changelog.d/1318.documentation.md
  doc/source/changelog.rst
Labels: documentation

chore: updating CHANGELOG for v0.11.33
  doc/changelog.d/1289.maintenance.md
  doc/changelog.d/1290.maintenance.md
  doc/changelog.d/1291.documentation.md
  doc/changelog.d/1292.documentation.md
  doc/changelog.d/1293.documentation.md
  doc/changelog.d/1294.maintenance.md
  doc/changelog.d/1296.maintenance.md
  doc/changelog.d/1299.documentation.md
  doc/changelog.d/1301.maintenance.md
  doc/changelog.d/1302.maintenance.md
  doc/changelog.d/1303.maintenance.md
  doc/changelog.d/1304.maintenance.md
  doc/changelog.d/1305.maintenance.md
  doc/changelog.d/1306.documentation.md
  doc/changelog.d/1309.maintenance.md
  doc/changelog.d/1310.fixed.md
  doc/changelog.d/1312.added.md
  doc/changelog.d/1314.added.md
  doc/changelog.d/1316.maintenance.md
  doc/changelog.d/1317.maintenance.md
  doc/changelog.d/1318.documentation.md
  doc/source/changelog.rst
Labels: documentation

chore: adding changelog file 1319.maintenance.md [dependabot-skip]
  doc/changelog.d/1319.maintenance.md
Labels: documentation

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/**/*', 'examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', '.pre-commit-config.yaml']

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

ci/cd:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'docker/**/*']
