Repository ansys/pymechanical, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, ci/cd

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/**/*', 'examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', '.pre-commit-config.yaml']

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

ci/cd:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'docker/**/*']

only test geometry
  examples/00_setup/02_geometry.py
  examples_save/01_setup.py
Labels: documentation

add more print statements
  examples/00_setup/02_geometry.py
Labels: documentation

add more print statements
  examples/00_setup/02_geometry.py
Labels: documentation

enable pdb debugging
  doc/Makefile
Labels: documentation

move sphinx gallery ignore
  examples/00_setup/02_geometry.py
Labels: documentation

add debugging to mechanical app
  examples/00_setup/02_geometry.py
Labels: documentation

save instead of save as
  examples/00_setup/02_geometry.py
Labels: documentation

update interactive env
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

chore: adding changelog file 1372.fixed.md [dependabot-skip]
  doc/changelog.d/1372.fixed.md
Labels: documentation

Bump version 0.11.35
  pyproject.toml
Labels: dependencies

chore: updating CHANGELOG for v0.11.35
  doc/changelog.d/1052.maintenance.md
  doc/changelog.d/1325.maintenance.md
  doc/changelog.d/1326.documentation.md
  doc/changelog.d/1329.fixed.md
  doc/changelog.d/1330.maintenance.md
  doc/changelog.d/1331.maintenance.md
  doc/changelog.d/1332.added.md
  doc/changelog.d/1333.added.md
  doc/changelog.d/1334.added.md
  doc/changelog.d/1335.maintenance.md
  doc/changelog.d/1336.fixed.md
  doc/changelog.d/1337.maintenance.md
  doc/changelog.d/1338.maintenance.md
  doc/changelog.d/1340.fixed.md
  doc/changelog.d/1345.maintenance.md
  doc/changelog.d/1346.maintenance.md
  doc/changelog.d/1347.maintenance.md
  doc/changelog.d/1349.maintenance.md
  doc/changelog.d/1350.added.md
  doc/changelog.d/1351.fixed.md
  doc/changelog.d/1352.maintenance.md
  doc/changelog.d/1353.maintenance.md
  doc/changelog.d/1354.maintenance.md
  doc/changelog.d/1355.maintenance.md
  doc/changelog.d/1356.fixed.md
  doc/changelog.d/1357.maintenance.md
  doc/changelog.d/1359.maintenance.md
  doc/changelog.d/1360.maintenance.md
  doc/changelog.d/1361.fixed.md
  doc/changelog.d/1362.fixed.md
  doc/changelog.d/1364.fixed.md
  doc/changelog.d/1365.maintenance.md
  doc/changelog.d/1366.maintenance.md
  doc/changelog.d/1368.maintenance.md
  doc/source/changelog.rst
Labels: documentation

chore: updating CHANGELOG for v0.11.35
  doc/changelog.d/1052.maintenance.md
  doc/changelog.d/1325.maintenance.md
  doc/changelog.d/1326.documentation.md
  doc/changelog.d/1329.fixed.md
  doc/changelog.d/1330.maintenance.md
  doc/changelog.d/1331.maintenance.md
  doc/changelog.d/1332.added.md
  doc/changelog.d/1333.added.md
  doc/changelog.d/1334.added.md
  doc/changelog.d/1335.maintenance.md
  doc/changelog.d/1336.fixed.md
  doc/changelog.d/1337.maintenance.md
  doc/changelog.d/1338.maintenance.md
  doc/changelog.d/1340.fixed.md
  doc/changelog.d/1345.maintenance.md
  doc/changelog.d/1346.maintenance.md
  doc/changelog.d/1347.maintenance.md
  doc/changelog.d/1349.maintenance.md
  doc/changelog.d/1350.added.md
  doc/changelog.d/1351.fixed.md
  doc/changelog.d/1352.maintenance.md
  doc/changelog.d/1353.maintenance.md
  doc/changelog.d/1354.maintenance.md
  doc/changelog.d/1355.maintenance.md
  doc/changelog.d/1356.fixed.md
  doc/changelog.d/1357.maintenance.md
  doc/changelog.d/1359.maintenance.md
  doc/changelog.d/1360.maintenance.md
  doc/changelog.d/1361.fixed.md
  doc/changelog.d/1362.fixed.md
  doc/changelog.d/1364.fixed.md
  doc/changelog.d/1365.maintenance.md
  doc/changelog.d/1366.maintenance.md
  doc/changelog.d/1368.maintenance.md
  doc/source/changelog.rst
Labels: documentation

chore: adding changelog file 1373.maintenance.md [dependabot-skip]
  doc/changelog.d/1373.maintenance.md
Labels: documentation

run all examples except 02_geometry
  examples/00_setup/01_setup.py
  examples/00_setup/03_connections.py
  examples/00_setup/04_named_selections.py
  examples/00_setup/05_mesh.py
  examples/00_setup/06_loads.py
  examples/00_setup/07_results.py
  examples/00_setup/08_tree_objects.py
  examples_save/02_geometry.py
Labels: documentation

move 04_named_selections
  examples_save/04_named_selections.py
Labels: none

chore: update CHANGELOG for v0.11.35 (#1373)
  doc/changelog.d/1052.maintenance.md
  doc/changelog.d/1325.maintenance.md
  doc/changelog.d/1326.documentation.md
  doc/changelog.d/1329.fixed.md
  doc/changelog.d/1330.maintenance.md
  doc/changelog.d/1331.maintenance.md
  doc/changelog.d/1332.added.md
  doc/changelog.d/1333.added.md
  doc/changelog.d/1334.added.md
  doc/changelog.d/1335.maintenance.md
  doc/changelog.d/1336.fixed.md
  doc/changelog.d/1337.maintenance.md
  doc/changelog.d/1338.maintenance.md
  doc/changelog.d/1340.fixed.md
  doc/changelog.d/1345.maintenance.md
  doc/changelog.d/1346.maintenance.md
  doc/changelog.d/1347.maintenance.md
  doc/changelog.d/1349.maintenance.md
  doc/changelog.d/1350.added.md
  doc/changelog.d/1351.fixed.md
  doc/changelog.d/1352.maintenance.md
  doc/changelog.d/1353.maintenance.md
  doc/changelog.d/1354.maintenance.md
  doc/changelog.d/1355.maintenance.md
  doc/changelog.d/1356.fixed.md
  doc/changelog.d/1357.maintenance.md
  doc/changelog.d/1359.maintenance.md
  doc/changelog.d/1360.maintenance.md
  doc/changelog.d/1361.fixed.md
  doc/changelog.d/1362.fixed.md
  doc/changelog.d/1364.fixed.md
  doc/changelog.d/1365.maintenance.md
  doc/changelog.d/1366.maintenance.md
  doc/changelog.d/1368.maintenance.md
  doc/changelog.d/1373.maintenance.md
  doc/source/changelog.rst
Labels: documentation

FIX: Update interactive env for doc build (#1372)
  .github/workflows/ci_cd.yml
  doc/changelog.d/1372.fixed.md
Labels: documentation, maintenance, ci/cd

add option to trigger scheduled
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

chore: adding changelog file 1375.added.md [dependabot-skip]
  doc/changelog.d/1375.added.md
Labels: documentation

chore: update CODE_OF_CONDUCT.md file
  CODE_OF_CONDUCT.md
Labels: none

chore: adding changelog file 1376.maintenance.md [dependabot-skip]
  doc/changelog.d/1376.maintenance.md
Labels: documentation

FEAT: Add option to trigger scheduled workflow (#1375)
  .github/workflows/ci_cd.yml
  doc/changelog.d/1375.added.md
Labels: documentation, maintenance, ci/cd

update runner
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

chore: adding changelog file 1377.maintenance.md [dependabot-skip]
  doc/changelog.d/1377.maintenance.md
Labels: documentation

chore: adding changelog file 1379.maintenance.md [dependabot-skip]
  doc/changelog.d/1379.maintenance.md
Labels: documentation

chore: adding changelog file 1380.maintenance.md [dependabot-skip]
  doc/changelog.d/1380.maintenance.md
Labels: documentation

chore: adding changelog file 1381.maintenance.md [dependabot-skip]
  doc/changelog.d/1381.maintenance.md
Labels: documentation

add direct path to libboost
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

change images to public ubuntu latest 8 cores for embedding tests
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

Update ipython shell
  src/ansys/mechanical/core/embedding/app.py
  src/ansys/mechanical/core/embedding/ipython_shell.py
  src/ansys/mechanical/core/embedding/shell.py
Labels: none

improve lifetime handling
  src/ansys/mechanical/core/embedding/app.py
  src/ansys/mechanical/core/embedding/ipython_shell.py
  src/ansys/mechanical/core/embedding/shell.py
Labels: none

skip backgroundapp multiple instances test
  tests/embedding/test_background.py
Labels: none

CHORE: Update runners (#1377)
  .github/workflows/ci_cd.yml
  doc/changelog.d/1377.maintenance.md
Labels: documentation, maintenance, ci/cd

chore: adding changelog file 1385.test.md [dependabot-skip]
  doc/changelog.d/1385.test.md
Labels: documentation

add <> around bare urls for codacy
  CODE_OF_CONDUCT.md
Labels: none

CHORE: Update missing or outdated files (#1376)
  CODE_OF_CONDUCT.md
  doc/changelog.d/1376.maintenance.md
Labels: documentation

add check-actions-security action
  .github/workflows/ci_cd.yml
  .github/workflows/dependabot_automerge.yml
  .github/workflows/label.yml
  .github/workflows/package_cleanup.yml
Labels: maintenance, ci/cd

first fixes
  .github/workflows/ci_cd.yml
  .github/workflows/codeql.yml
  .github/workflows/label.yml
Labels: maintenance, ci/cd

zizmor fixes 2
  .github/workflows/ci_cd.yml
  .github/workflows/codeql.yml
  .github/workflows/dependabot_automerge.yml
  .github/workflows/label.yml
  .github/workflows/package_cleanup.yml
Labels: maintenance, ci/cd

packages read for test container info
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd
