Repository ansys/pymechanical, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, ci/cd

make examples_save folder again
  doc/source/conf.py
  examples_save/02_geometry.py
Labels: documentation

uncomment filename pattern
  doc/source/conf.py
Labels: documentation

move 04 to examples_save
  examples_save/04_named_selections.py
Labels: none

move 05 to save
  examples_save/05_mesh.py
Labels: none

chore: adding changelog file 1410.maintenance.md [dependabot-skip]
  doc/changelog.d/1410.maintenance.md
Labels: documentation

chore: adding changelog file 1411.maintenance.md [dependabot-skip]
  doc/changelog.d/1411.maintenance.md
Labels: documentation

chore: adding changelog file 1412.maintenance.md [dependabot-skip]
  doc/changelog.d/1412.maintenance.md
Labels: documentation

bump version 0.11.37
  pyproject.toml
Labels: dependencies

chore: updating CHANGELOG for v0.11.37
  doc/changelog.d/1401.maintenance.md
  doc/changelog.d/1402.maintenance.md
  doc/changelog.d/1403.maintenance.md
  doc/changelog.d/1404.maintenance.md
  doc/changelog.d/1405.maintenance.md
  doc/changelog.d/1407.added.md
  doc/changelog.d/1408.maintenance.md
  doc/changelog.d/1410.maintenance.md
  doc/changelog.d/1411.maintenance.md
  doc/changelog.d/1412.maintenance.md
  doc/source/changelog.rst
Labels: documentation

chore: updating CHANGELOG for v0.11.37
  doc/changelog.d/1401.maintenance.md
  doc/changelog.d/1402.maintenance.md
  doc/changelog.d/1403.maintenance.md
  doc/changelog.d/1404.maintenance.md
  doc/changelog.d/1405.maintenance.md
  doc/changelog.d/1407.added.md
  doc/changelog.d/1408.maintenance.md
  doc/changelog.d/1410.maintenance.md
  doc/changelog.d/1411.maintenance.md
  doc/changelog.d/1412.maintenance.md
  doc/source/changelog.rst
Labels: documentation

chore: adding changelog file 1413.maintenance.md [dependabot-skip]
  doc/changelog.d/1413.maintenance.md
Labels: documentation

chore: update CHANGELOG for v0.11.37 (#1413)
  doc/changelog.d/1401.maintenance.md
  doc/changelog.d/1402.maintenance.md
  doc/changelog.d/1403.maintenance.md
  doc/changelog.d/1404.maintenance.md
  doc/changelog.d/1405.maintenance.md
  doc/changelog.d/1407.added.md
  doc/changelog.d/1408.maintenance.md
  doc/changelog.d/1410.maintenance.md
  doc/changelog.d/1411.maintenance.md
  doc/changelog.d/1412.maintenance.md
  doc/changelog.d/1413.maintenance.md
  doc/source/changelog.rst
Labels: documentation

ignore cooling holes example
  doc/source/conf.py
Labels: documentation

ignore everything except docs
  .github/workflows/ci_cd.yml
  .pre-commit-config.yaml
  doc/source/conf.py
Labels: documentation, maintenance, ci/cd

comment out bolt presentation
  doc/source/conf.py
Labels: documentation

ignore harmonic_acoustics
  doc/source/conf.py
Labels: documentation

chore: adding changelog file 1421.maintenance.md [dependabot-skip]
  doc/changelog.d/1421.maintenance.md
Labels: documentation

ignore modal acoustics
  doc/source/conf.py
Labels: documentation

change ignore pattern to multiline
  .github/workflows/ci_cd.yml
  .pre-commit-config.yaml
  doc/source/conf.py
Labels: documentation, maintenance, ci/cd

chore: adding changelog file 1422.maintenance.md [dependabot-skip]
  doc/changelog.d/1422.maintenance.md
Labels: documentation

uncomment everything and skip ruff long line warning
  doc/source/conf.py
Labels: documentation

chore: adding changelog file 1423.maintenance.md [dependabot-skip]
  doc/changelog.d/1423.maintenance.md
Labels: documentation

CI: Temporarily ignore examples (#1423)
  doc/changelog.d/1423.maintenance.md
  doc/source/conf.py
Labels: documentation

update start_license
  src/ansys/mechanical/core/embedding/app.py
Labels: none

chore: adding changelog file 1424.added.md [dependabot-skip]
  doc/changelog.d/1424.added.md
Labels: documentation

add test
  tests/embedding/test_app.py
  tests/scripts/run_embedded_app.py
Labels: none

Fix the meshing issue with Cooling holes thermal use case using Ansys v26R1
  examples/01_basic/cooling_holes_thermal_analysis.py
Labels: documentation

update mesh settings
  examples/01_basic/cooling_holes_thermal_analysis.py
Labels: documentation

chore: adding changelog file 1426.fixed.md [dependabot-skip]
  doc/changelog.d/1426.fixed.md
Labels: documentation

remove cooling holes example from ignored list
  doc/source/conf.py
Labels: documentation

FIX: Meshing issue with Cooling holes thermal use case (#1426)
  doc/changelog.d/1426.fixed.md
  doc/source/conf.py
  examples/01_basic/cooling_holes_thermal_analysis.py
Labels: documentation

chore: adding changelog file 1427.maintenance.md [dependabot-skip]
  doc/changelog.d/1427.maintenance.md
Labels: documentation

chore: adding changelog file 1428.maintenance.md [dependabot-skip]
  doc/changelog.d/1428.maintenance.md
Labels: documentation

chore: adding changelog file 1429.maintenance.md [dependabot-skip]
  doc/changelog.d/1429.maintenance.md
Labels: documentation

chore: adding changelog file 1430.maintenance.md [dependabot-skip]
  doc/changelog.d/1430.maintenance.md
Labels: documentation

fix error from zizmor
  .github/dependabot.yml
  .github/workflows/ci_cd.yml
  .github/workflows/codeql.yml
  .github/workflows/dependabot_automerge.yml
  .github/workflows/label.yml
  .github/workflows/package_cleanup.yml
Labels: maintenance, ci/cd

chore: adding changelog file 1431.fixed.md [dependabot-skip]
  doc/changelog.d/1431.fixed.md
Labels: documentation

support grpc
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

fix
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

chore: adding changelog file 1433.test.md [dependabot-skip]
  doc/changelog.d/1433.test.md
Labels: documentation

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/**/*', 'examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', '.pre-commit-config.yaml']

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

ci/cd:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'docker/**/*']
