Repository ansys/pymechanical, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, ci/cd

chore: adding changelog file 1505.maintenance.md [dependabot-skip]
  doc/changelog.d/1505.maintenance.md
Labels: documentation

add helper methods
  src/ansys/mechanical/core/embedding/app.py
  src/ansys/mechanical/core/embedding/helpers.py
  src/ansys/mechanical/core/embedding/utils.py
Labels: none

chore: adding changelog file 1507.added.md [dependabot-skip]
  doc/changelog.d/1507.added.md
Labels: documentation

update string format
  src/ansys/mechanical/core/embedding/helpers.py
Labels: none

update more methods
  src/ansys/mechanical/core/embedding/app.py
  src/ansys/mechanical/core/embedding/helpers.py
Labels: none

udpate examples
  doc/source/conf.py
  examples/01_basic/bolt_pretension.py
  examples/01_basic/cooling_holes_thermal_analysis.py
Labels: documentation

udpate more examples
  examples/01_basic/fracture_analysis_contact_debonding.py
  examples/01_basic/harmonic_acoustics.py
  src/ansys/mechanical/core/embedding/helpers.py
Labels: documentation

udpate rest of the examples
  examples/01_basic/steady_state_thermal_analysis.py
  examples/01_basic/topology_optimization_cantilever_beam.py
  examples/01_basic/valve.py
Labels: documentation

last example update
  examples/01_basic/steady_state_thermal_analysis.py
Labels: documentation

update modal acoustics
  examples/01_basic/cooling_holes_thermal_analysis.py
  examples/01_basic/fracture_analysis_contact_debonding.py
  examples/01_basic/harmonic_acoustics.py
  examples/01_basic/modal_acoustics_analysis.py
  examples/01_basic/valve.py
Labels: documentation

update gif
  examples/01_basic/bolt_pretension.py
  examples/01_basic/topology_optimization_cantilever_beam.py
Labels: documentation

add linkcheck_ignore
  doc/source/conf.py
Labels: documentation

add tests
  doc/source/user_guide/howto/helpers.rst
  doc/source/user_guide/index.rst
  tests/embedding/test_helper.py
Labels: documentation

whatsnew
  doc/changelog.d/whatsnew.yml
Labels: documentation

remove duplicate tests
  tests/embedding/test_graphics_export.py
Labels: none

add matplotlib for pytests
  pyproject.toml
Labels: dependencies

add periods
  README.rst
Labels: none

add link check ignore
  doc/source/conf.py
Labels: documentation

update autocomplete doc
  doc/source/user_guide/index.rst
Labels: documentation

update autocomplete doc
  doc/source/user_guide/howto/autocomplete.rst
Labels: documentation

feat: add more information in readme (#1501)
  README.rst
  doc/changelog.d/1501.added.md
  doc/source/conf.py
  doc/source/user_guide/howto/autocomplete.rst
  doc/source/user_guide/index.rst
Labels: documentation

remove prrint_tree
  doc/changelog.d/whatsnew.yml
  src/ansys/mechanical/core/embedding/helpers.py
  tests/embedding/test_helper.py
Labels: documentation

update whatsnew
  doc/source/user_guide/howto/helpers.rst
Labels: documentation

chore: adding changelog file 1509.maintenance.md [dependabot-skip]
  doc/changelog.d/1509.maintenance.md
Labels: documentation

chore: adding changelog file 1511.maintenance.md [dependabot-skip]
  doc/changelog.d/1511.maintenance.md
Labels: documentation

chore: adding changelog file 1512.maintenance.md [dependabot-skip]
  doc/changelog.d/1512.maintenance.md
Labels: documentation

chore: adding changelog file 1510.maintenance.md [dependabot-skip]
  doc/changelog.d/1510.maintenance.md
Labels: documentation

update
  src/ansys/mechanical/core/embedding/app.py
Labels: none

mech-env improve
  mechanical-env
Labels: none

update doc
  doc/source/user_guide/howto/helpers.rst
  src/ansys/mechanical/core/embedding/helpers.py
  tests/embedding/test_helper.py
Labels: documentation

Improve command-line handling
  mechanical-env
Labels: none

refactor embedding code
  src/ansys/mechanical/core/embedding/app.py
  src/ansys/mechanical/core/embedding/app_libraries.py
  src/ansys/mechanical/core/embedding/appdata.py
  src/ansys/mechanical/core/embedding/background.py
  src/ansys/mechanical/core/embedding/enum_importer.py
  src/ansys/mechanical/core/embedding/global_importer.py
  src/ansys/mechanical/core/embedding/imports.py
  src/ansys/mechanical/core/embedding/initializer.py
  src/ansys/mechanical/core/embedding/ipython_shell.py
  src/ansys/mechanical/core/embedding/license_manager.py
  src/ansys/mechanical/core/embedding/messages.py
  src/ansys/mechanical/core/embedding/ui.py
  src/ansys/mechanical/core/embedding/utils.py
Labels: none

chore: adding changelog file 1514.miscellaneous.md [dependabot-skip]
  doc/changelog.d/1514.miscellaneous.md
Labels: documentation

add nightly to use 271 image
  .github/copilot-instructions.md
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

remove instrucitons
  .github/copilot-instructions.md
Labels: maintenance, ci/cd

chore: adding changelog file 1515.maintenance.md [dependabot-skip]
  doc/changelog.d/1515.maintenance.md
Labels: documentation

chore: adding changelog file 1513.added.md [dependabot-skip]
  doc/changelog.d/1513.added.md
Labels: documentation

chore: adding changelog file 1516.maintenance.md [dependabot-skip]
  doc/changelog.d/1516.maintenance.md
Labels: documentation

chore: adding changelog file 1509.maintenance.md [dependabot-skip]
  doc/changelog.d/1509.maintenance.md
Labels: documentation

remove unnecessary sphinx_design dep
  pyproject.toml
Labels: dependencies

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/**/*', 'examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', '.pre-commit-config.yaml']

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

ci/cd:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'docker/**/*']
