Repository ansys/pymechanical, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, ci/cd

replace version dynamically in docs
  doc/source/conf.py
  doc/source/faq.rst
  doc/source/getting_started/docker.rst
  doc/source/getting_started/installation.rst
  doc/source/getting_started/running_mechanical.rst
  doc/source/getting_started/troubleshooting.rst
  doc/source/user_guide/cli/mechanical-env.rst
  doc/source/user_guide/embedding/autocomplete.rst
  doc/source/user_guide/embedding/libraries.rst
  doc/source/user_guide/embedding/licensing.rst
  doc/source/user_guide/embedding/overview.rst
  doc/source/user_guide/remote_session/overview.rst
  doc/source/user_guide/remote_session/pool.rst
  doc/source/user_guide/remote_session/server-launcher.rst
Labels: documentation

replace version dynamically in docs
  .pre-commit-config.yaml
  doc/changelog.d/1626.fixed.md
  doc/changelog.d/1627.maintenance.md
  doc/source/conf.py
  doc/source/contribute/developer.rst
  doc/source/faq.rst
  doc/source/getting_started/running_mechanical.rst
  doc/source/user_guide/embedding/configuration.rst
  doc/source/user_guide/embedding/helpers.rst
  doc/source/user_guide/embedding/logging.rst
  doc/source/user_guide/remote_session/overview.rst
  doc/source/user_guide/remote_session/pool.rst
  doc/source/user_guide/remote_session/server-launcher.rst
Labels: documentation, maintenance

chore: adding changelog file 1628.added.md [dependabot-skip]
  doc/changelog.d/1628.added.md
Labels: documentation

remove latex config
  doc/source/conf.py
Labels: documentation

chore: adding changelog file 1629.maintenance.md [dependabot-skip]
  doc/changelog.d/1629.maintenance.md
Labels: documentation

chore: adding changelog file 1630.maintenance.md [dependabot-skip]
  doc/changelog.d/1630.maintenance.md
Labels: documentation

chore: Remove tox dependency (#1625)
  doc/changelog.d/1625.maintenance.md
  doc/source/contribute/developer.rst
  doc/source/contribute/documentarian.rst
  doc/source/links.rst
  pyproject.toml
Labels: documentation, dependencies

feat: dynamic version update in docs (#1628)
  doc/changelog.d/1628.added.md
  doc/source/conf.py
  doc/source/faq.rst
  doc/source/getting_started/docker.rst
  doc/source/getting_started/installation.rst
  doc/source/getting_started/running_mechanical.rst
  doc/source/getting_started/troubleshooting.rst
  doc/source/user_guide/cli/mechanical-env.rst
  doc/source/user_guide/embedding/autocomplete.rst
  doc/source/user_guide/embedding/libraries.rst
  doc/source/user_guide/embedding/licensing.rst
  doc/source/user_guide/embedding/overview.rst
  doc/source/user_guide/remote_session/overview.rst
  doc/source/user_guide/remote_session/pool.rst
  doc/source/user_guide/remote_session/server-launcher.rst
Labels: documentation

refactor: rename global variables for consistency
  src/ansys/mechanical/core/embedding/app.py
  src/ansys/mechanical/core/embedding/global_importer.py
Labels: none

debug
  tests/embedding/test_analytics.py
Labels: none

fix analytics test
  tests/embedding/test_analytics.py
Labels: none

chore: adding changelog file 1634.fixed.md [dependabot-skip]
  doc/changelog.d/1634.fixed.md
Labels: documentation

fix: update analytics test to enable data analytics only for version 252
  tests/embedding/test_analytics.py
Labels: none

fix: add **kwargs to _run_cell_in_thread signature
  src/ansys/mechanical/core/embedding/ipython_shell.py
Labels: none

chore: adding changelog file 1635.fixed.md [dependabot-skip]
  doc/changelog.d/1635.fixed.md
Labels: documentation

fix: prevent duplicate atexit registration for embedded app
  src/ansys/mechanical/core/embedding/app.py
Labels: none

fix: analytics test (#1634)
  doc/changelog.d/1634.fixed.md
  tests/embedding/test_analytics.py
Labels: documentation

chore: adding changelog file 1636.maintenance.md [dependabot-skip]
  doc/changelog.d/1636.maintenance.md
Labels: documentation

chore: adding changelog file 1637.maintenance.md [dependabot-skip]
  doc/changelog.d/1637.maintenance.md
Labels: documentation

feat: upgrade clr-loader, add geometry check for plotting, and improve message manager
  pyproject.toml
  src/ansys/mechanical/core/embedding/app.py
  src/ansys/mechanical/core/embedding/loader.py
  src/ansys/mechanical/core/embedding/messages.py
  src/ansys/mechanical/core/logging.py
  tests/embedding/test_messages.py
Labels: dependencies

chore: adding changelog file 1638.added.md [dependabot-skip]
  doc/changelog.d/1638.added.md
Labels: documentation

fix: add **kwargs to _run_cell_in_thread signature (#1635)
  doc/changelog.d/1635.fixed.md
  src/ansys/mechanical/core/embedding/ipython_shell.py
Labels: documentation

Bump verison 0.12.9
  pyproject.toml
Labels: dependencies

chore: updating CHANGELOG for v0.12.9
  doc/changelog.d/1621.maintenance.md
  doc/changelog.d/1623.maintenance.md
  doc/changelog.d/1625.maintenance.md
  doc/changelog.d/1626.fixed.md
  doc/changelog.d/1627.maintenance.md
  doc/changelog.d/1628.added.md
  doc/changelog.d/1629.maintenance.md
  doc/changelog.d/1630.maintenance.md
  doc/changelog.d/1634.fixed.md
  doc/changelog.d/1635.fixed.md
  doc/changelog.d/1636.maintenance.md
  doc/changelog.d/1637.maintenance.md
  doc/source/changelog.rst
Labels: documentation

chore: updating CHANGELOG for v0.12.9
  doc/changelog.d/1621.maintenance.md
  doc/changelog.d/1623.maintenance.md
  doc/changelog.d/1625.maintenance.md
  doc/changelog.d/1626.fixed.md
  doc/changelog.d/1627.maintenance.md
  doc/changelog.d/1628.added.md
  doc/changelog.d/1629.maintenance.md
  doc/changelog.d/1630.maintenance.md
  doc/changelog.d/1634.fixed.md
  doc/changelog.d/1635.fixed.md
  doc/changelog.d/1636.maintenance.md
  doc/changelog.d/1637.maintenance.md
  doc/source/changelog.rst
Labels: documentation

chore: adding changelog file 1639.maintenance.md [dependabot-skip]
  doc/changelog.d/1639.maintenance.md
Labels: documentation

chore: update CHANGELOG for v0.12.9 (#1639)
  doc/changelog.d/1621.maintenance.md
  doc/changelog.d/1623.maintenance.md
  doc/changelog.d/1625.maintenance.md
  doc/changelog.d/1626.fixed.md
  doc/changelog.d/1627.maintenance.md
  doc/changelog.d/1628.added.md
  doc/changelog.d/1629.maintenance.md
  doc/changelog.d/1630.maintenance.md
  doc/changelog.d/1634.fixed.md
  doc/changelog.d/1635.fixed.md
  doc/changelog.d/1636.maintenance.md
  doc/changelog.d/1637.maintenance.md
  doc/changelog.d/1639.maintenance.md
  doc/source/changelog.rst
Labels: documentation

update contents
  doc/source/conf.py
Labels: documentation

chore: adding changelog file 1640.test.md [dependabot-skip]
  doc/changelog.d/1640.test.md
Labels: documentation

chore: adding changelog file 1641.maintenance.md [dependabot-skip]
  doc/changelog.d/1641.maintenance.md
Labels: documentation

chore: adding changelog file 1643.maintenance.md [dependabot-skip]
  doc/changelog.d/1643.maintenance.md
Labels: documentation

update test-analytics test
  tests/scripts/run_analytics.py
Labels: none

chore: adding changelog file 1644.fixed.md [dependabot-skip]
  doc/changelog.d/1644.fixed.md
Labels: documentation

fix: update test-analytics test (#1644)
  doc/changelog.d/1644.fixed.md
  tests/scripts/run_analytics.py
Labels: documentation

fix lock file
  src/ansys/mechanical/core/embedding/app.py
  tests/embedding/test_app_save_as.py
Labels: none

chore: adding changelog file 1646.fixed.md [dependabot-skip]
  doc/changelog.d/1646.fixed.md
Labels: documentation

refactor
  src/ansys/mechanical/core/embedding/app.py
Labels: none

update test
  tests/embedding/test_app_save_as.py
Labels: none

update contribute doc
  doc/source/contribute/developer.rst
  doc/source/links.rst
Labels: documentation

fix: set MWSUB_SPACE variable on linux to better support multiple parallel instances of pyMechanical and fix frequent memory issues during Mechanical startup
  mechanical-env
Labels: none

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/**/*', 'examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', '.pre-commit-config.yaml']

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

ci/cd:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'docker/**/*']
