Repository ansys/pymechanical, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, CI/CD

Improving CI
  .github/workflows/ci_cd.yml
  .gitignore
  pyproject.toml
Labels: maintenance, dependencies, CI/CD

Typo in name
  .github/workflows/ci_cd.yml
Labels: maintenance, CI/CD

Missing req for build_docs job
  .github/workflows/ci_cd.yml
Labels: maintenance, CI/CD

Version issues
  src/ansys/mechanical/core/__init__.py
  src/ansys/mechanical/core/mechanical.py
Labels: none

Implement vale
  doc/.vale.ini
  doc/styles/.gitignore
  doc/styles/Vocab/ANSYS/accept.txt
  doc/styles/Vocab/ANSYS/reject.txt
Labels: documentation

Solve issue with badge
  README.rst
Labels: none

Implement vale (#11)
  README.rst
  doc/.vale.ini
  doc/styles/.gitignore
  doc/styles/Vocab/ANSYS/accept.txt
  doc/styles/Vocab/ANSYS/reject.txt
Labels: documentation

.github/labeler.yml:

documentation:
- doc/**/*
- examples/**/*
maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- .codespellrc
- .pre-commit-config.yaml
- pyproject.toml
- pytest.ini
- tox.ini
dependencies:
- pyproject.toml
- requirements/*
CI/CD:
- .github/**/*
- .ci/**/*
