Repository ansys/pymechanical, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, ci/cd

fix vale warning
  doc/source/architecture.rst
  doc/source/examples/advanced_examples/index.rst
  doc/source/getting_started/choose_your_mode.rst
  doc/source/getting_started/docker.rst
  doc/source/getting_started/installation.rst
  doc/source/getting_started/wsl.rst
  doc/source/kil/mechanical.rst
  doc/source/links.rst
  doc/source/user_guide/embedding/helpers.rst
  doc/source/user_guide/embedding/libraries.rst
  doc/source/user_guide/embedding/licensing.rst
  doc/source/user_guide/embedding/logging.rst
  doc/source/user_guide/embedding/overview.rst
  doc/source/user_guide/remote_session/grpc_security.rst
  doc/source/user_guide/remote_session/overview.rst
  doc/source/user_guide/remote_session/pool.rst
  doc/source/user_guide/scripting/overview.rst
  doc/source/user_guide/scripting/threading.rst
Labels: documentation

fix link
  doc/source/getting_started/wsl.rst
  doc/source/links.rst
Labels: documentation

feat: add max-length message display (#1638)
  doc/changelog.d/1638.added.md
  doc/source/architecture.rst
  doc/source/contribute.rst
  doc/source/examples/advanced_examples/index.rst
  doc/source/getting_started/choose_your_mode.rst
  doc/source/getting_started/docker.rst
  doc/source/getting_started/installation.rst
  doc/source/getting_started/wsl.rst
  doc/source/kil/mechanical.rst
  doc/source/user_guide/embedding/helpers.rst
  doc/source/user_guide/embedding/libraries.rst
  doc/source/user_guide/embedding/licensing.rst
  doc/source/user_guide/embedding/logging.rst
  doc/source/user_guide/embedding/overview.rst
  doc/source/user_guide/remote_session/grpc_security.rst
  doc/source/user_guide/remote_session/overview.rst
  doc/source/user_guide/remote_session/pool.rst
  doc/source/user_guide/scripting/overview.rst
  doc/source/user_guide/scripting/threading.rst
  pyproject.toml
  src/ansys/mechanical/core/embedding/app.py
  src/ansys/mechanical/core/embedding/messages.py
  src/ansys/mechanical/core/logging.py
  tests/embedding/test_messages.py
Labels: documentation, dependencies

chore: update SECURITY.md file
  SECURITY.md
Labels: none

chore: adding changelog file 1711.maintenance.md [dependabot-skip]
  doc/changelog.d/1711.maintenance.md
Labels: documentation

test: doc new
  doc/source/_static/css/banner.css
  doc/source/conf.py
  doc/source/index.rst
Labels: documentation

CHORE: Update missing or outdated files (#1711)
  SECURITY.md
  doc/changelog.d/1711.maintenance.md
Labels: documentation

chore: adding changelog file 1712.test.md [dependabot-skip]
  doc/changelog.d/1712.test.md
Labels: documentation

bump ansys actions to v10.3.6
  .github/workflows/ci_cd.yml
  .github/workflows/label.yml
  .github/workflows/package_cleanup.yml
  .github/workflows/smoke-tests.yml
  .github/workflows/style.yml
  .github/workflows/tests.yml
Labels: maintenance, ci/cd

chore: adding changelog file 1713.maintenance.md [dependabot-skip]
  doc/changelog.d/1713.maintenance.md
Labels: documentation

ci: Bump ansys/actions to v10.3.6 (#1713)
  .github/workflows/ci_cd.yml
  .github/workflows/label.yml
  .github/workflows/package_cleanup.yml
  .github/workflows/smoke-tests.yml
  .github/workflows/style.yml
  .github/workflows/tests.yml
  doc/changelog.d/1713.maintenance.md
Labels: documentation, maintenance, ci/cd

add toctree
  doc/source/index.rst
Labels: documentation

add js
  doc/source/_static/css/banner.css
  doc/source/_static/js/swiper-init.js
  doc/source/conf.py
  doc/source/index.rst
Labels: documentation

chore: adding changelog file 1715.maintenance.md [dependabot-skip]
  doc/changelog.d/1715.maintenance.md
Labels: documentation

chore: adding changelog file 1716.maintenance.md [dependabot-skip]
  doc/changelog.d/1716.maintenance.md
Labels: documentation

chore: adding changelog file 1717.maintenance.md [dependabot-skip]
  doc/changelog.d/1717.maintenance.md
Labels: documentation

add sidebar css
  doc/source/_static/css/blog.css
  doc/source/conf.py
Labels: documentation

feat: add auto-approve and auto-merge steps for pre-commit CI PRs
  .github/workflows/label-pre-commit-pr.yml
Labels: maintenance, ci/cd

chore: adding changelog file 1718.added.md [dependabot-skip]
  doc/changelog.d/1718.added.md
Labels: documentation

fix doc
  doc/source/blog/linux-mechanical-docker-cicd.rst
Labels: documentation

udpate date
  doc/source/blog/linux-mechanical-docker-cicd.rst
Labels: documentation

feat: add auto-approve and auto-merge steps for pre-commit CI PRs (#1718)
  .github/workflows/label-pre-commit-pr.yml
  doc/changelog.d/1718.added.md
Labels: documentation, maintenance, ci/cd

docs: add blog section and autoapi custom index template (#1710)
  doc/changelog.d/1710.documentation.md
  doc/source/_static/css/blog.css
  doc/source/_templates/autoapi/index.rst
  doc/source/blog/index.rst
  doc/source/blog/linux-mechanical-docker-cicd.rst
  doc/source/conf.py
  doc/source/index.rst
  doc/source/links.rst
  doc/source/navbar.yml
  pyproject.toml
Labels: documentation, dependencies

bump version 0.13.1
  pyproject.toml
Labels: dependencies

chore: updating CHANGELOG for v0.13.1
  doc/changelog.d/1609.added.md
  doc/changelog.d/1638.added.md
  doc/changelog.d/1696.maintenance.md
  doc/changelog.d/1697.fixed.md
  doc/changelog.d/1698.maintenance.md
  doc/changelog.d/1702.added.md
  doc/changelog.d/1703.fixed.md
  doc/changelog.d/1704.added.md
  doc/changelog.d/1705.maintenance.md
  doc/changelog.d/1706.maintenance.md
  doc/changelog.d/1707.maintenance.md
  doc/changelog.d/1708.maintenance.md
  doc/changelog.d/1709.fixed.md
  doc/changelog.d/1710.documentation.md
  doc/changelog.d/1711.maintenance.md
  doc/changelog.d/1713.maintenance.md
  doc/changelog.d/1715.maintenance.md
  doc/changelog.d/1716.maintenance.md
  doc/changelog.d/1717.maintenance.md
  doc/changelog.d/1718.added.md
  doc/source/changelog.rst
Labels: documentation

chore: updating CHANGELOG for v0.13.1
  doc/changelog.d/1609.added.md
  doc/changelog.d/1638.added.md
  doc/changelog.d/1696.maintenance.md
  doc/changelog.d/1697.fixed.md
  doc/changelog.d/1698.maintenance.md
  doc/changelog.d/1702.added.md
  doc/changelog.d/1703.fixed.md
  doc/changelog.d/1704.added.md
  doc/changelog.d/1705.maintenance.md
  doc/changelog.d/1706.maintenance.md
  doc/changelog.d/1707.maintenance.md
  doc/changelog.d/1708.maintenance.md
  doc/changelog.d/1709.fixed.md
  doc/changelog.d/1710.documentation.md
  doc/changelog.d/1711.maintenance.md
  doc/changelog.d/1713.maintenance.md
  doc/changelog.d/1715.maintenance.md
  doc/changelog.d/1716.maintenance.md
  doc/changelog.d/1717.maintenance.md
  doc/changelog.d/1718.added.md
  doc/source/changelog.rst
Labels: documentation

chore: adding changelog file 1719.maintenance.md [dependabot-skip]
  doc/changelog.d/1719.maintenance.md
Labels: documentation

chore: bump version to 0.13.dev0 and update pyupgrade to py312-plus
  .pre-commit-config.yaml
  pyproject.toml
Labels: maintenance, dependencies

chore: update CHANGELOG for v0.13.1 (#1719)
  doc/changelog.d/1609.added.md
  doc/changelog.d/1638.added.md
  doc/changelog.d/1696.maintenance.md
  doc/changelog.d/1697.fixed.md
  doc/changelog.d/1698.maintenance.md
  doc/changelog.d/1702.added.md
  doc/changelog.d/1703.fixed.md
  doc/changelog.d/1704.added.md
  doc/changelog.d/1705.maintenance.md
  doc/changelog.d/1706.maintenance.md
  doc/changelog.d/1707.maintenance.md
  doc/changelog.d/1708.maintenance.md
  doc/changelog.d/1709.fixed.md
  doc/changelog.d/1710.documentation.md
  doc/changelog.d/1711.maintenance.md
  doc/changelog.d/1713.maintenance.md
  doc/changelog.d/1715.maintenance.md
  doc/changelog.d/1716.maintenance.md
  doc/changelog.d/1717.maintenance.md
  doc/changelog.d/1718.added.md
  doc/changelog.d/1719.maintenance.md
  doc/source/changelog.rst
Labels: documentation

chore: adding changelog file 1720.maintenance.md [dependabot-skip]
  doc/changelog.d/1720.maintenance.md
Labels: documentation

fix: python matrix cicd
  .github/workflows/docs.yml
  .github/workflows/tests.yml
Labels: maintenance, ci/cd

chore: adding changelog file 1721.fixed.md [dependabot-skip]
  doc/changelog.d/1721.fixed.md
Labels: documentation

remove python 3.11
  .github/workflows/tests.yml
Labels: maintenance, ci/cd

update asyncio
  src/ansys/mechanical/core/run.py
Labels: none

chore: bump version to 0.13.dev0 and update pyupgrade to py312-plus (#1720)
  .pre-commit-config.yaml
  doc/changelog.d/1720.maintenance.md
  pyproject.toml
Labels: documentation, maintenance, dependencies

update navbar and cards order
  doc/source/index.rst
  doc/source/navbar.yml
Labels: documentation

fix: python matrix cicd (#1721)
  .github/workflows/docs.yml
  .github/workflows/tests.yml
  doc/changelog.d/1721.fixed.md
  doc/source/index.rst
  doc/source/navbar.yml
  src/ansys/mechanical/core/run.py
Labels: documentation, maintenance, ci/cd

bump version 0.13.2
  pyproject.toml
Labels: dependencies

chore: updating CHANGELOG for v0.13.2
  doc/changelog.d/1719.maintenance.md
  doc/changelog.d/1720.maintenance.md
  doc/changelog.d/1721.fixed.md
  doc/source/changelog.rst
Labels: documentation

chore: updating CHANGELOG for v0.13.2
  doc/changelog.d/1719.maintenance.md
  doc/changelog.d/1720.maintenance.md
  doc/changelog.d/1721.fixed.md
  doc/source/changelog.rst
Labels: documentation

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/**/*', 'examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', '.pre-commit-config.yaml']

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

ci/cd:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'docker/**/*']
