Repository ansys/pymechanical, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, ci/cd

ci: refactor cicd (#1611)
  .github/workflows/ci_cd.yml
  .github/workflows/coverage.yml
  .github/workflows/docs.yml
  .github/workflows/revn-config.yml
  .github/workflows/smoke-tests.yml
  .github/workflows/style.yml
  .github/workflows/tests.yml
  doc/changelog.d/1611.maintenance.md
Labels: documentation, maintenance, ci/cd

feat: Add doc skill and fix documentation (#1609)
  .github/skills/doc/SKILL.md
  doc/changelog.d/1609.added.md
  doc/source/contribute/user.rst
  doc/source/faq.rst
  doc/source/getting_started/running_mechanical.rst
  doc/source/kil/index.rst
  doc/source/kil/mechanical.rst
  doc/source/kil/pymechanical.rst
  doc/source/user_guide/embedding/libraries.rst
  doc/source/user_guide/embedding/licensing.rst
  doc/source/user_guide/embedding/overview.rst
  doc/source/user_guide/remote_session/grpc_security.rst
  doc/source/user_guide/remote_session/overview.rst
  doc/source/user_guide/remote_session/server-launcher.rst
  doc/source/user_guide/scripting/threading.rst
  src/ansys/mechanical/core/mechanical.py
  tests/test_mechanical.py
Labels: documentation, maintenance, ci/cd

update python 3.14
  .github/workflows/tests.yml
  README.rst
  doc/source/getting_started/installation.rst
  pyproject.toml
  tests/embedding/test_app.py
Labels: documentation, maintenance, dependencies, ci/cd

chore: adding changelog file 1620.added.md [dependabot-skip]
  doc/changelog.d/1620.added.md
Labels: documentation

feat: Add πthon support (#1620)
  .github/workflows/tests.yml
  README.rst
  doc/changelog.d/1620.added.md
  doc/source/getting_started/installation.rst
  pyproject.toml
  tests/embedding/test_app.py
Labels: documentation, maintenance, dependencies, ci/cd

bump version 0.12.8
  pyproject.toml
Labels: dependencies

chore: updating CHANGELOG for v0.12.8
  doc/changelog.d/1566.maintenance.md
  doc/changelog.d/1569.added.md
  doc/changelog.d/1574.documentation.md
  doc/changelog.d/1601.fixed.md
  doc/changelog.d/1607.maintenance.md
  doc/changelog.d/1608.maintenance.md
  doc/changelog.d/1609.added.md
  doc/changelog.d/1610.fixed.md
  doc/changelog.d/1611.maintenance.md
  doc/changelog.d/1615.fixed.md
  doc/changelog.d/1616.maintenance.md
  doc/changelog.d/1617.maintenance.md
  doc/changelog.d/1619.fixed.md
  doc/changelog.d/1620.added.md
  doc/source/changelog.rst
Labels: documentation

chore: updating CHANGELOG for v0.12.8
  doc/changelog.d/1566.maintenance.md
  doc/changelog.d/1569.added.md
  doc/changelog.d/1574.documentation.md
  doc/changelog.d/1601.fixed.md
  doc/changelog.d/1607.maintenance.md
  doc/changelog.d/1608.maintenance.md
  doc/changelog.d/1609.added.md
  doc/changelog.d/1610.fixed.md
  doc/changelog.d/1611.maintenance.md
  doc/changelog.d/1615.fixed.md
  doc/changelog.d/1616.maintenance.md
  doc/changelog.d/1617.maintenance.md
  doc/changelog.d/1619.fixed.md
  doc/changelog.d/1620.added.md
  doc/source/changelog.rst
Labels: documentation

chore: adding changelog file 1621.maintenance.md [dependabot-skip]
  doc/changelog.d/1621.maintenance.md
Labels: documentation

chore: update CHANGELOG for v0.12.8 (#1621)
  doc/changelog.d/1566.maintenance.md
  doc/changelog.d/1569.added.md
  doc/changelog.d/1574.documentation.md
  doc/changelog.d/1601.fixed.md
  doc/changelog.d/1607.maintenance.md
  doc/changelog.d/1608.maintenance.md
  doc/changelog.d/1609.added.md
  doc/changelog.d/1610.fixed.md
  doc/changelog.d/1611.maintenance.md
  doc/changelog.d/1615.fixed.md
  doc/changelog.d/1616.maintenance.md
  doc/changelog.d/1617.maintenance.md
  doc/changelog.d/1619.fixed.md
  doc/changelog.d/1620.added.md
  doc/changelog.d/1621.maintenance.md
  doc/source/changelog.rst
Labels: documentation

feat: add initialization flag to manage app state
  src/ansys/mechanical/core/embedding/app.py
Labels: none

chore: adding changelog file 1622.added.md [dependabot-skip]
  doc/changelog.d/1622.added.md
Labels: documentation

ci: update action versions to v10.3.1 across workflows
  .github/workflows/ci_cd.yml
  .github/workflows/label.yml
  .github/workflows/package_cleanup.yml
  .github/workflows/smoke-tests.yml
  .github/workflows/style.yml
  .github/workflows/tests.yml
Labels: maintenance, ci/cd

chore: adding changelog file 1623.maintenance.md [dependabot-skip]
  doc/changelog.d/1623.maintenance.md
Labels: documentation

add setup python action
  .github/actions/setup-python-env/action.yml
  .github/workflows/tests.yml
Labels: maintenance, ci/cd

update gitignore
  .gitignore
Labels: none

add coverage action
  .github/actions/upload-coverage/action.yml
  .github/workflows/tests.yml
Labels: maintenance, ci/cd

add more actions
  .github/actions/setup-python-env/action.yml
  .github/actions/status-check/action.yml
  .github/workflows/ci_cd.yml
  .github/workflows/docs.yml
  .github/workflows/revn-config.yml
  .github/workflows/tests.yml
Labels: maintenance, ci/cd

add debian non interactive
  .github/actions/setup-python-env/action.yml
  .github/workflows/docs.yml
Labels: maintenance, ci/cd

move env to top
  .github/workflows/tests.yml
Labels: maintenance, ci/cd

move doc cname to env var
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

add lsb-release to extra apt packages for embedding scripts tests
  .github/workflows/tests.yml
Labels: maintenance, ci/cd

remove tox depedency
  doc/source/contribute/developer.rst
  doc/source/contribute/documentarian.rst
  doc/source/links.rst
  pyproject.toml
Labels: documentation, dependencies

chore: adding changelog file 1625.maintenance.md [dependabot-skip]
  doc/changelog.d/1625.maintenance.md
Labels: documentation

chore: adding changelog file 1625.maintenance.md [dependabot-skip]
  doc/changelog.d/1625.maintenance.md
Labels: documentation

ci: update action versions across workflows (#1623)
  .github/actions/setup-python-env/action.yml
  .github/actions/status-check/action.yml
  .github/actions/upload-coverage/action.yml
  .github/workflows/ci_cd.yml
  .github/workflows/docs.yml
  .github/workflows/label.yml
  .github/workflows/package_cleanup.yml
  .github/workflows/revn-config.yml
  .github/workflows/smoke-tests.yml
  .github/workflows/style.yml
  .github/workflows/tests.yml
  .gitignore
  doc/changelog.d/1623.maintenance.md
Labels: documentation, maintenance, ci/cd

chore: adding changelog file 1625.maintenance.md [dependabot-skip]
  doc/changelog.d/1625.maintenance.md
Labels: documentation

chore: adding changelog file 1625.maintenance.md [dependabot-skip]
  doc/changelog.d/1625.maintenance.md
Labels: documentation

chore: adding changelog file 1625.maintenance.md [dependabot-skip]
  doc/changelog.d/1625.maintenance.md
Labels: documentation

chore: adding changelog file 1625.maintenance.md [dependabot-skip]
  doc/changelog.d/1625.maintenance.md
Labels: documentation

chore: adding changelog file 1625.maintenance.md [dependabot-skip]
  doc/changelog.d/1625.maintenance.md
Labels: documentation

chore: adding changelog file 1625.maintenance.md [dependabot-skip]
  doc/changelog.d/1625.maintenance.md
Labels: documentation

review suggestions
  src/ansys/mechanical/core/embedding/app.py
  src/ansys/mechanical/core/embedding/global_importer.py
Labels: none

fix doc issues
  doc/source/contribute/developer.rst
  doc/source/contribute/documentarian.rst
  doc/source/examples/advanced_examples/index.rst
  doc/source/examples/remote_examples/index.rst
  doc/source/getting_started/docker.rst
  doc/source/getting_started/installation.rst
  doc/source/user_guide/embedding/overview.rst
  doc/source/user_guide/remote_session/pool.rst
Labels: documentation

chore: adding changelog file 1626.fixed.md [dependabot-skip]
  doc/changelog.d/1626.fixed.md
Labels: documentation

fix intersphinx
  doc/source/conf.py
  doc/source/contribute/developer.rst
  doc/source/faq.rst
  doc/source/getting_started/running_mechanical.rst
  doc/source/user_guide/embedding/configuration.rst
  doc/source/user_guide/embedding/helpers.rst
  doc/source/user_guide/embedding/logging.rst
  doc/source/user_guide/remote_session/overview.rst
  doc/source/user_guide/remote_session/pool.rst
  doc/source/user_guide/remote_session/server-launcher.rst
Labels: documentation

fix methods
  doc/source/user_guide/remote_session/pool.rst
Labels: documentation

fix ideconfig
  src/ansys/mechanical/core/ide_config.py
  tests/test_cli.py
Labels: none

chore: adding changelog file 1627.maintenance.md [dependabot-skip]
  doc/changelog.d/1627.maintenance.md
Labels: documentation

fix: Multiple doc issues (#1626)
  doc/changelog.d/1626.fixed.md
  doc/source/conf.py
  doc/source/contribute/developer.rst
  doc/source/contribute/documentarian.rst
  doc/source/examples/advanced_examples/index.rst
  doc/source/examples/remote_examples/index.rst
  doc/source/faq.rst
  doc/source/getting_started/docker.rst
  doc/source/getting_started/installation.rst
  doc/source/getting_started/running_mechanical.rst
  doc/source/user_guide/embedding/configuration.rst
  doc/source/user_guide/embedding/helpers.rst
  doc/source/user_guide/embedding/logging.rst
  doc/source/user_guide/embedding/overview.rst
  doc/source/user_guide/remote_session/overview.rst
  doc/source/user_guide/remote_session/pool.rst
  doc/source/user_guide/remote_session/server-launcher.rst
Labels: documentation

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/**/*', 'examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', '.pre-commit-config.yaml']

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

ci/cd:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'docker/**/*']
