Repository ansys/pymechanical, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, ci/cd

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/**/*', 'examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', '.pre-commit-config.yaml']

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

ci/cd:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'docker/**/*']

add more package read permissions
  .github/workflows/ci_cd.yml
  .github/workflows/dependabot_automerge.yml
  .github/workflows/label.yml
Labels: maintenance, ci/cd

FIX: LS-Dyna test (#1367)
  doc/changelog.d/1367.fixed.md
  tests/embedding/test_dyna.py
Labels: documentation

add zizmor ignore and use gh token
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

add zizmor ignore
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

move zizmor ignore statement
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

chore: adding changelog file 1387.added.md [dependabot-skip]
  doc/changelog.d/1387.added.md
Labels: documentation

chore: adding changelog file 1387.maintenance.md [dependabot-skip]
  doc/changelog.d/1387.maintenance.md
Labels: documentation

give write permissions in prs for doc-deploy-pr
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

skip backgroundapp mult instances only on windows
  tests/embedding/test_background.py
Labels: none

CI: Add `check-actions-security` action (#1387)
  .github/workflows/ci_cd.yml
  .github/workflows/codeql.yml
  .github/workflows/dependabot_automerge.yml
  .github/workflows/label.yml
  .github/workflows/package_cleanup.yml
  doc/changelog.d/1387.maintenance.md
Labels: documentation, maintenance, ci/cd

chore: adding changelog file 1390.added.md [dependabot-skip]
  doc/changelog.d/1390.added.md
Labels: documentation

chore: adding changelog file 1391.maintenance.md [dependabot-skip]
  doc/changelog.d/1391.maintenance.md
Labels: documentation

chore: adding changelog file 1392.maintenance.md [dependabot-skip]
  doc/changelog.d/1392.maintenance.md
Labels: documentation

chore: adding changelog file 1393.maintenance.md [dependabot-skip]
  doc/changelog.d/1393.maintenance.md
Labels: documentation

chore: adding changelog file 1394.maintenance.md [dependabot-skip]
  doc/changelog.d/1394.maintenance.md
Labels: documentation

TEST: Temporarily comment out background app multiple instances test (#1385)
  doc/changelog.d/1385.test.md
  tests/embedding/test_background.py
Labels: documentation

style
  src/ansys/mechanical/core/embedding/app.py
  src/ansys/mechanical/core/embedding/ipython_shell.py
  src/ansys/mechanical/core/embedding/shell.py
  src/ansys/mechanical/core/embedding/utils.py
Labels: none

change self.interactive to self._intereactive_mode
  src/ansys/mechanical/core/embedding/app.py
Labels: none

move interactive mode before building_gallery
  src/ansys/mechanical/core/embedding/app.py
Labels: none

fix some issue
  src/ansys/mechanical/core/embedding/app.py
  src/ansys/mechanical/core/embedding/ipython_shell.py
Labels: none

fix
  src/ansys/mechanical/core/embedding/app.py
  src/ansys/mechanical/core/embedding/shell.py
Labels: none

fix
  src/ansys/mechanical/core/embedding/shell.py
Labels: none

try
  src/ansys/mechanical/core/embedding/ipython_shell.py
Labels: none

try
  src/ansys/mechanical/core/embedding/ipython_shell.py
Labels: none

fix
  src/ansys/mechanical/core/embedding/ipython_shell.py
Labels: none

try
  src/ansys/mechanical/core/embedding/ipython_shell.py
Labels: none

fix
  .codacy.yaml
  src/ansys/mechanical/core/embedding/ipython_shell.py
Labels: none

FEAT: Embedding with UI (#1390)
  .codacy.yaml
  doc/changelog.d/1390.added.md
  src/ansys/mechanical/core/embedding/app.py
  src/ansys/mechanical/core/embedding/ipython_shell.py
  src/ansys/mechanical/core/embedding/shell.py
  src/ansys/mechanical/core/embedding/utils.py
Labels: documentation

add enum
  src/ansys/mechanical/core/embedding/enum_importer.py
Labels: none

chore: adding changelog file 1395.added.md [dependabot-skip]
  doc/changelog.d/1395.added.md
Labels: documentation

FEAT: Add enum (#1395)
  doc/changelog.d/1395.added.md
  src/ansys/mechanical/core/embedding/enum_importer.py
Labels: documentation

bump version 0.11.36
  pyproject.toml
Labels: dependencies

chore: updating CHANGELOG for v0.11.36
  doc/changelog.d/1367.fixed.md
  doc/changelog.d/1369.maintenance.md
  doc/changelog.d/1372.fixed.md
  doc/changelog.d/1373.maintenance.md
  doc/changelog.d/1375.added.md
  doc/changelog.d/1376.maintenance.md
  doc/changelog.d/1377.maintenance.md
  doc/changelog.d/1379.maintenance.md
  doc/changelog.d/1380.maintenance.md
  doc/changelog.d/1381.maintenance.md
  doc/changelog.d/1385.test.md
  doc/changelog.d/1387.maintenance.md
  doc/changelog.d/1390.added.md
  doc/changelog.d/1392.maintenance.md
  doc/changelog.d/1394.maintenance.md
  doc/changelog.d/1395.added.md
  doc/source/changelog.rst
Labels: documentation

chore: updating CHANGELOG for v0.11.36
  doc/changelog.d/1367.fixed.md
  doc/changelog.d/1369.maintenance.md
  doc/changelog.d/1372.fixed.md
  doc/changelog.d/1373.maintenance.md
  doc/changelog.d/1375.added.md
  doc/changelog.d/1376.maintenance.md
  doc/changelog.d/1377.maintenance.md
  doc/changelog.d/1379.maintenance.md
  doc/changelog.d/1380.maintenance.md
  doc/changelog.d/1381.maintenance.md
  doc/changelog.d/1385.test.md
  doc/changelog.d/1387.maintenance.md
  doc/changelog.d/1390.added.md
  doc/changelog.d/1392.maintenance.md
  doc/changelog.d/1394.maintenance.md
  doc/changelog.d/1395.added.md
  doc/source/changelog.rst
Labels: documentation

chore: adding changelog file 1396.maintenance.md [dependabot-skip]
  doc/changelog.d/1396.maintenance.md
Labels: documentation

chore: update CHANGELOG for v0.11.36 (#1396)
  doc/changelog.d/1367.fixed.md
  doc/changelog.d/1369.maintenance.md
  doc/changelog.d/1372.fixed.md
  doc/changelog.d/1373.maintenance.md
  doc/changelog.d/1375.added.md
  doc/changelog.d/1376.maintenance.md
  doc/changelog.d/1377.maintenance.md
  doc/changelog.d/1379.maintenance.md
  doc/changelog.d/1380.maintenance.md
  doc/changelog.d/1381.maintenance.md
  doc/changelog.d/1385.test.md
  doc/changelog.d/1387.maintenance.md
  doc/changelog.d/1390.added.md
  doc/changelog.d/1392.maintenance.md
  doc/changelog.d/1394.maintenance.md
  doc/changelog.d/1395.added.md
  doc/changelog.d/1396.maintenance.md
  doc/source/changelog.rst
Labels: documentation

add 01_setup
  examples/00_setup/01_setup.py
Labels: documentation

Revert "chore: update CHANGELOG for v0.11.36 (#1396)"
  doc/changelog.d/1367.fixed.md
  doc/changelog.d/1369.maintenance.md
  doc/changelog.d/1372.fixed.md
  doc/changelog.d/1373.maintenance.md
  doc/changelog.d/1375.added.md
  doc/changelog.d/1376.maintenance.md
  doc/changelog.d/1377.maintenance.md
  doc/changelog.d/1379.maintenance.md
  doc/changelog.d/1380.maintenance.md
  doc/changelog.d/1381.maintenance.md
  doc/changelog.d/1385.test.md
  doc/changelog.d/1387.maintenance.md
  doc/changelog.d/1390.added.md
  doc/changelog.d/1392.maintenance.md
  doc/changelog.d/1394.maintenance.md
  doc/changelog.d/1395.added.md
  doc/changelog.d/1396.maintenance.md
  doc/source/changelog.rst
Labels: documentation

chore: adding changelog file 1397.maintenance.md [dependabot-skip]
  doc/changelog.d/1397.maintenance.md
Labels: documentation

fix remote-connect
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd
