Repository ansys/pymechanical, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, ci/cd

fix test
  tests/test_cli_transport.py
Labels: none

update comment
  src/ansys/mechanical/core/mechanical.py
Labels: none

fix: Logging with instance logger (#1458)
  doc/changelog.d/1458.fixed.md
  src/ansys/mechanical/core/logging.py
Labels: documentation

chore: adding changelog file 1462.maintenance.md [dependabot-skip]
  doc/changelog.d/1462.maintenance.md
Labels: documentation

chore: adding changelog file 1463.maintenance.md [dependabot-skip]
  doc/changelog.d/1463.maintenance.md
Labels: documentation

chore: adding changelog file 1464.maintenance.md [dependabot-skip]
  doc/changelog.d/1464.maintenance.md
Labels: documentation

integrate with cyberchannel
  src/ansys/mechanical/core/mechanical.py
Labels: none

refactor ci/cd
  .github/actions/docker-login/action.yml
  .github/actions/launch-mechanical/action.yml
  .github/actions/setup-python-container/action.yml
  .github/actions/setup-test-env/action.yml
  .github/actions/upload-coverage/action.yml
Labels: maintenance, ci/cd

chore: adding changelog file 1465.miscellaneous.md [dependabot-skip]
  doc/changelog.d/1465.miscellaneous.md
Labels: documentation

refactor ci/cd workflow
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

fix quarto
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

add pre-c-hooks
  .github/dependabot.yml
  .pre-commit-config.yaml
  pyproject.toml
Labels: maintenance, dependencies, ci/cd

chore: adding changelog file 1466.added.md [dependabot-skip]
  doc/changelog.d/1466.added.md
Labels: documentation

FIX: gRPC changes (#1455)
  .github/workflows/ci_cd.yml
  doc/changelog.d/1455.fixed.md
  doc/source/user_guide/index.rst
  doc/source/user_guide/remote_session/grpc_security.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
  src/ansys/mechanical/core/launcher.py
  src/ansys/mechanical/core/mechanical.py
  src/ansys/mechanical/core/misc.py
  src/ansys/mechanical/core/run.py
  tests/conftest.py
  tests/test_cli.py
  tests/test_cli_transport.py
  tests/test_mechanical.py
Labels: documentation, maintenance, ci/cd

feat: add more pre-commit-hooks (#1466)
  .github/dependabot.yml
  .pre-commit-config.yaml
  doc/changelog.d/1466.added.md
  pyproject.toml
Labels: documentation, maintenance, dependencies, ci/cd

chore: adding changelog file 1461.maintenance.md [dependabot-skip]
  doc/changelog.d/1461.maintenance.md
Labels: documentation

chore: adding changelog file 1460.maintenance.md [dependabot-skip]
  doc/changelog.d/1460.maintenance.md
Labels: documentation

update version for minor 0.12.0
  pyproject.toml
Labels: dependencies

chore: updating CHANGELOG for v0.12.0
  doc/changelog.d/1428.maintenance.md
  doc/changelog.d/1436.maintenance.md
  doc/changelog.d/1437.maintenance.md
  doc/changelog.d/1438.fixed.md
  doc/changelog.d/1439.maintenance.md
  doc/changelog.d/1440.maintenance.md
  doc/changelog.d/1441.maintenance.md
  doc/changelog.d/1447.maintenance.md
  doc/changelog.d/1448.maintenance.md
  doc/changelog.d/1449.maintenance.md
  doc/changelog.d/1450.maintenance.md
  doc/changelog.d/1451.maintenance.md
  doc/changelog.d/1454.maintenance.md
  doc/changelog.d/1455.fixed.md
  doc/changelog.d/1456.maintenance.md
  doc/changelog.d/1457.fixed.md
  doc/changelog.d/1458.fixed.md
  doc/changelog.d/1462.maintenance.md
  doc/changelog.d/1463.maintenance.md
  doc/changelog.d/1464.maintenance.md
  doc/changelog.d/1466.added.md
  doc/source/changelog.rst
Labels: documentation

chore: updating CHANGELOG for v0.12.0
  doc/changelog.d/1428.maintenance.md
  doc/changelog.d/1436.maintenance.md
  doc/changelog.d/1437.maintenance.md
  doc/changelog.d/1438.fixed.md
  doc/changelog.d/1439.maintenance.md
  doc/changelog.d/1440.maintenance.md
  doc/changelog.d/1441.maintenance.md
  doc/changelog.d/1447.maintenance.md
  doc/changelog.d/1448.maintenance.md
  doc/changelog.d/1449.maintenance.md
  doc/changelog.d/1450.maintenance.md
  doc/changelog.d/1451.maintenance.md
  doc/changelog.d/1454.maintenance.md
  doc/changelog.d/1455.fixed.md
  doc/changelog.d/1456.maintenance.md
  doc/changelog.d/1457.fixed.md
  doc/changelog.d/1458.fixed.md
  doc/changelog.d/1462.maintenance.md
  doc/changelog.d/1463.maintenance.md
  doc/changelog.d/1464.maintenance.md
  doc/changelog.d/1466.added.md
  doc/source/changelog.rst
Labels: documentation

chore: adding changelog file 1468.maintenance.md [dependabot-skip]
  doc/changelog.d/1468.maintenance.md
Labels: documentation

chore: update CHANGELOG for v0.12.0 (#1468)
  doc/changelog.d/1428.maintenance.md
  doc/changelog.d/1436.maintenance.md
  doc/changelog.d/1437.maintenance.md
  doc/changelog.d/1438.fixed.md
  doc/changelog.d/1439.maintenance.md
  doc/changelog.d/1440.maintenance.md
  doc/changelog.d/1441.maintenance.md
  doc/changelog.d/1447.maintenance.md
  doc/changelog.d/1448.maintenance.md
  doc/changelog.d/1449.maintenance.md
  doc/changelog.d/1450.maintenance.md
  doc/changelog.d/1451.maintenance.md
  doc/changelog.d/1454.maintenance.md
  doc/changelog.d/1455.fixed.md
  doc/changelog.d/1456.maintenance.md
  doc/changelog.d/1457.fixed.md
  doc/changelog.d/1458.fixed.md
  doc/changelog.d/1462.maintenance.md
  doc/changelog.d/1463.maintenance.md
  doc/changelog.d/1464.maintenance.md
  doc/changelog.d/1466.added.md
  doc/changelog.d/1468.maintenance.md
  doc/source/changelog.rst
Labels: documentation

update whatsnew and banner
  doc/changelog.d/whatsnew.yml
  doc/source/conf.py
Labels: documentation

chore: adding changelog file 1469.maintenance.md [dependabot-skip]
  doc/changelog.d/1469.maintenance.md
Labels: documentation

fix doc build warning
  doc/changelog.d/whatsnew.yml
  doc/source/conf.py
  doc/source/index.rst
  src/ansys/mechanical/core/embedding/find_mechanical.py
  src/ansys/mechanical/core/embedding/logger/__init__.py
  src/ansys/mechanical/core/embedding/transaction.py
  src/ansys/mechanical/core/ide_config.py
  src/ansys/mechanical/core/mechanical.py
  src/ansys/mechanical/core/run.py
Labels: documentation

add autocomplete in toctree
  doc/source/user_guide/index.rst
Labels: documentation

test templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/question.yml
  .github/PULL_REQUEST_TEMPLATE.md
Labels: maintenance, ci/cd

test examples
  doc/source/conf.py
Labels: documentation

re add old fragments
  doc/changelog.d/whatsnew.yml
  doc/source/conf.py
  doc/source/user_guide/remote_session/grpc_security.rst
Labels: documentation

review suggestions
  doc/source/user_guide/remote_session/grpc_security.rst
Labels: documentation

chore: adding changelog file 1469.maintenance.md [dependabot-skip]
  doc/changelog.d/1469.maintenance.md
Labels: documentation

add option for starting license
  src/ansys/mechanical/core/mechanical.py
Labels: none

chore: adding changelog file 1474.added.md [dependabot-skip]
  doc/changelog.d/1474.added.md
Labels: documentation

update docs
  doc/source/user_guide/howto/licensing.rst
  doc/source/user_guide/index.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
Labels: documentation

add warning instead of breaking workflow
  doc/source/user_guide/remote_session/grpc_security.rst
  src/ansys/mechanical/core/__init__.py
  src/ansys/mechanical/core/launcher.py
Labels: documentation

inhibit launch if no server cert found
  src/ansys/mechanical/core/launcher.py
  src/ansys/mechanical/core/misc.py
Labels: none

re org func
  src/ansys/mechanical/core/misc.py
Labels: none

update func name
  src/ansys/mechanical/core/launcher.py
  src/ansys/mechanical/core/misc.py
Labels: none

update breaking change in doc
  doc/source/user_guide/remote_session/grpc_security.rst
Labels: documentation

chore: adding changelog file 1475.maintenance.md [dependabot-skip]
  doc/changelog.d/1475.maintenance.md
Labels: documentation

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/**/*', 'examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', '.pre-commit-config.yaml']

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

ci/cd:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'docker/**/*']
