Repository ansys/pymechanical, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, dependencies, ci/cd

CHORE: Update license metadata in pyproject.toml (#1598)
  doc/changelog.d/1598.maintenance.md
  pyproject.toml
Labels: documentation, dependencies

chore: adding changelog file 1599.maintenance.md [dependabot-skip]
  doc/changelog.d/1599.maintenance.md
Labels: documentation

chore: adding changelog file 1600.maintenance.md [dependabot-skip]
  doc/changelog.d/1600.maintenance.md
Labels: documentation

Make the AWP_ROOT### env variable check more explicit
  src/ansys/mechanical/core/embedding/initializer.py
Labels: none

Guard against empty mechanical path
  src/ansys/mechanical/core/embedding/find_mechanical.py
Labels: none

Fix syntax error
  src/ansys/mechanical/core/embedding/find_mechanical.py
Labels: none

Print explicit AWP_ROOT check message
  src/ansys/mechanical/core/embedding/find_mechanical.py
Labels: none

chore: adding changelog file 1601.fixed.md [dependabot-skip]
  doc/changelog.d/1601.fixed.md
Labels: documentation

update the error message
  src/ansys/mechanical/core/embedding/find_mechanical.py
Labels: none

update the error message for initializer
  src/ansys/mechanical/core/embedding/initializer.py
Labels: none

update accept.txt
  doc/styles/config/vocabularies/ANSYS/accept.txt
Labels: documentation

add default locations
  src/ansys/mechanical/core/embedding/find_mechanical.py
Labels: none

fix strings
  src/ansys/mechanical/core/embedding/app_libraries.py
  src/ansys/mechanical/core/embedding/graphics/embedding_plotter.py
  src/ansys/mechanical/core/embedding/graphics/utils.py
  src/ansys/mechanical/core/embedding/helpers.py
  src/ansys/mechanical/core/embedding/initializer.py
  src/ansys/mechanical/core/embedding/logger/__init__.py
  src/ansys/mechanical/core/embedding/logger/environ.py
  src/ansys/mechanical/core/embedding/logger/linux_api.py
  src/ansys/mechanical/core/embedding/logger/windows_api.py
  src/ansys/mechanical/core/embedding/rpc/client.py
  src/ansys/mechanical/core/embedding/rpc/default_server.py
  src/ansys/mechanical/core/embedding/rpc/server.py
Labels: none

chore: adding changelog file 1602.fixed.md [dependabot-skip]
  doc/changelog.d/1602.fixed.md
Labels: documentation

update print for mechanical-env
  src/ansys/mechanical/core/embedding/find_mechanical.py
Labels: none

use click warning to print
  src/ansys/mechanical/core/embedding/find_mechanical.py
Labels: none

fix: docstrings (#1602)
  doc/changelog.d/1602.fixed.md
  src/ansys/mechanical/core/embedding/app_libraries.py
  src/ansys/mechanical/core/embedding/graphics/embedding_plotter.py
  src/ansys/mechanical/core/embedding/graphics/utils.py
  src/ansys/mechanical/core/embedding/helpers.py
  src/ansys/mechanical/core/embedding/initializer.py
  src/ansys/mechanical/core/embedding/logger/__init__.py
  src/ansys/mechanical/core/embedding/logger/environ.py
  src/ansys/mechanical/core/embedding/logger/linux_api.py
  src/ansys/mechanical/core/embedding/logger/windows_api.py
  src/ansys/mechanical/core/embedding/rpc/client.py
  src/ansys/mechanical/core/embedding/rpc/default_server.py
  src/ansys/mechanical/core/embedding/rpc/server.py
Labels: documentation

chore: adding changelog file 1603.maintenance.md [dependabot-skip]
  doc/changelog.d/1603.maintenance.md
Labels: documentation

chore: adding changelog file 1604.maintenance.md [dependabot-skip]
  doc/changelog.d/1604.maintenance.md
Labels: documentation

fix userguide index
  doc/source/user_guide/index.rst
Labels: documentation

chore: adding changelog file 1606.documentation.md [dependabot-skip]
  doc/changelog.d/1606.documentation.md
Labels: documentation

docs: fix user guide (#1606)
  doc/changelog.d/1606.documentation.md
  doc/source/user_guide/index.rst
Labels: documentation

bump version 0.12.7
  pyproject.toml
Labels: dependencies

chore: updating CHANGELOG for v0.12.7
  doc/changelog.d/1594.maintenance.md
  doc/changelog.d/1595.maintenance.md
  doc/changelog.d/1596.maintenance.md
  doc/changelog.d/1598.maintenance.md
  doc/changelog.d/1599.maintenance.md
  doc/changelog.d/1600.maintenance.md
  doc/changelog.d/1602.fixed.md
  doc/changelog.d/1603.maintenance.md
  doc/changelog.d/1604.maintenance.md
  doc/changelog.d/1606.documentation.md
  doc/source/changelog.rst
Labels: documentation

chore: updating CHANGELOG for v0.12.7
  doc/changelog.d/1594.maintenance.md
  doc/changelog.d/1595.maintenance.md
  doc/changelog.d/1596.maintenance.md
  doc/changelog.d/1598.maintenance.md
  doc/changelog.d/1599.maintenance.md
  doc/changelog.d/1600.maintenance.md
  doc/changelog.d/1602.fixed.md
  doc/changelog.d/1603.maintenance.md
  doc/changelog.d/1604.maintenance.md
  doc/changelog.d/1606.documentation.md
  doc/source/changelog.rst
Labels: documentation

chore: adding changelog file 1607.maintenance.md [dependabot-skip]
  doc/changelog.d/1607.maintenance.md
Labels: documentation

chore: update CHANGELOG for v0.12.7 (#1607)
  doc/changelog.d/1594.maintenance.md
  doc/changelog.d/1595.maintenance.md
  doc/changelog.d/1596.maintenance.md
  doc/changelog.d/1598.maintenance.md
  doc/changelog.d/1599.maintenance.md
  doc/changelog.d/1600.maintenance.md
  doc/changelog.d/1602.fixed.md
  doc/changelog.d/1603.maintenance.md
  doc/changelog.d/1604.maintenance.md
  doc/changelog.d/1606.documentation.md
  doc/changelog.d/1607.maintenance.md
  doc/source/changelog.rst
Labels: documentation

fix doc build
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

fix: awp root error (#1601)
  .github/workflows/ci_cd.yml
  doc/changelog.d/1601.fixed.md
  src/ansys/mechanical/core/embedding/find_mechanical.py
  src/ansys/mechanical/core/embedding/initializer.py
Labels: documentation, maintenance, ci/cd

feat: add conditional skipping for tests and coverage based on PR labels
  .github/workflows/ci_cd.yml
Labels: maintenance, ci/cd

feat: add skip-doc and skip-test labels for CI workflows
  .github/labels.yml
  .github/workflows/ci_cd.yml
  .github/workflows/label-pre-commit-pr.yml
Labels: maintenance, ci/cd

chore: adding changelog file 1566.maintenance.md [dependabot-skip]
  doc/changelog.d/1566.maintenance.md
Labels: documentation

ci: skip-doc label to skipping doc build (#1566)
  .github/workflows/ci_cd.yml
  .github/workflows/label-pre-commit-pr.yml
  doc/changelog.d/1566.maintenance.md
Labels: documentation, maintenance, ci/cd

Update doc/source/user_guide/cli/mechanical-env.rst
  doc/source/user_guide/cli/mechanical-env.rst
Labels: documentation

chore: adding changelog file 1608.maintenance.md [dependabot-skip]
  doc/changelog.d/1608.maintenance.md
Labels: documentation

fix doc
  .github/skills/doc/SKILL.md
  doc/source/contribute/developer.rst
  doc/source/contribute/user.rst
  doc/source/faq.rst
  doc/source/getting_started/docker.rst
  doc/source/getting_started/installation.rst
  doc/source/getting_started/running_mechanical.rst
  doc/source/kil/index.rst
  doc/source/kil/mechanical.rst
  doc/source/kil/pymechanical.rst
  doc/source/user_guide/embedding/libraries.rst
  doc/source/user_guide/embedding/licensing.rst
  doc/source/user_guide/embedding/overview.rst
  doc/source/user_guide/remote_session/grpc_security.rst
  doc/source/user_guide/remote_session/server-launcher.rst
  doc/source/user_guide/scripting/threading.rst
Labels: documentation, maintenance, ci/cd

chore: adding changelog file 1609.added.md [dependabot-skip]
  doc/changelog.d/1609.added.md
Labels: documentation

revert codeblock
  doc/source/contribute/developer.rst
  doc/source/getting_started/docker.rst
  doc/source/getting_started/installation.rst
Labels: documentation

Apply suggestion from @PipKat
  doc/source/user_guide/scripting/threading.rst
Labels: documentation

Apply suggestion from @PipKat
  .github/skills/doc/SKILL.md
Labels: maintenance, ci/cd

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/**/*', 'examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', '.pre-commit-config.yaml']

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

ci/cd:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'docker/**/*']
