Repository ansys/pymechanical, pull requests merged in 2023-04, with the labels that each got.

#191 DOCS: Removing caution message
  README.rst
Labels: bug

#192 Simplify readme
  .github/workflows/ci_cd.yml
  README.rst
  doc/source/conf.py
  doc/source/contributing.rst
  doc/styles/Vocab/ANSYS/accept.txt
  pyproject.toml
Labels: documentation, maintenance, CI/CD, dependencies

#193 change runner
  .github/workflows/ci_cd.yml
Labels: bug, maintenance, CI/CD

#203 fix doc
  doc/source/user_guide_embedding/globals.rst
Labels: documentation

#205 Remove jscript references from tests/ folder
  .pre-commit-config.yaml
  examples/00_basic/example_02_capture_images.py
  tests/scripts/api.py
  tests/scripts/mech_workflow.py
  tests/test_mechanical.py
Labels: bug, documentation, maintenance

#206 cleanup docker ignore file
  docker/232/.dockerignore
Labels: bug

#214 Fixes the windows executable path for standalone mechanical
  .github/workflows/ci_cd.yml
  doc/source/getting_started/running_mechanical.rst
Labels: bug, documentation, maintenance, CI/CD

#213 Update contributing.rst
  doc/source/contributing.rst
  docker/231/Dockerfile
  docker/232/Dockerfile
Labels: documentation

#220 FIX: not necessary anymore to update apt-get
  .github/workflows/ci_cd.yml
Labels: bug, maintenance, CI/CD

#224 Fix/script return value
  CHANGELOG.md
  examples/00_basic/example_01_simple_structural_solve.py
  examples/00_basic/example_02_capture_images.py
  examples/01_tips_n_tricks/example_01_run_python_script_output.py
  src/ansys/mechanical/core/mechanical.py
  src/ansys/mechanical/core/pool.py
  tests/test_mechanical.py
Labels: bug, documentation
