Repository ansys/pymechanical, pull requests merged in 2023-07, with the labels that each got.

#286 Updated pythonnet warning message
  src/ansys/mechanical/core/embedding/initializer.py
Labels: maintenance

#292 bump patch version
  pyproject.toml
Labels: maintenance, dependencies

#299 added import logging to doc file
  doc/source/user_guide_embedding/logging.rst
Labels: bug, documentation

#297 Add console-script
  CHANGELOG.md
  doc/source/getting_started/ANSYS_Inc._Licensing_Guide.pdf
  doc/source/getting_started/running_mechanical.rst
  pyproject.toml
  src/ansys/mechanical/core/run.py
Labels: documentation, maintenance, dependencies

#300 remove pkg-resources and importlib_metadata
  CHANGELOG.md
  pyproject.toml
  src/ansys/mechanical/core/embedding/loader.py
Labels: maintenance, dependencies

#302 Fix version issue running "ansys-mechanical -r {revn} -g"
  CHANGELOG.md
  src/ansys/mechanical/core/run.py
Labels: bug

#303 Update wording in running_mechanical.rst
  doc/source/getting_started/running_mechanical.rst
Labels: bug, documentation
