Repository ansys/pymechanical, pull requests merged in 2023-09, with the labels that each got.

#373 Add license headers to files in src
  .pre-commit-config.yaml
  .reuse/dep5
  .reuse/templates/ansys.jinja2
  CHANGELOG.md
  src/ansys/mechanical/core/__init__.py
  src/ansys/mechanical/core/_version.py
  src/ansys/mechanical/core/embedding/__init__.py
  src/ansys/mechanical/core/embedding/addins.py
  src/ansys/mechanical/core/embedding/app.py
  src/ansys/mechanical/core/embedding/appdata.py
  src/ansys/mechanical/core/embedding/imports.py
  src/ansys/mechanical/core/embedding/initializer.py
  src/ansys/mechanical/core/embedding/loader.py
  src/ansys/mechanical/core/embedding/logger/__init__.py
  src/ansys/mechanical/core/embedding/logger/environ.py
  src/ansys/mechanical/core/embedding/logger/linux_api.py
  src/ansys/mechanical/core/embedding/logger/sinks.py
  src/ansys/mechanical/core/embedding/logger/windows_api.py
  src/ansys/mechanical/core/embedding/resolver.py
  src/ansys/mechanical/core/embedding/runtime.py
  src/ansys/mechanical/core/embedding/shims.py
  src/ansys/mechanical/core/errors.py
  src/ansys/mechanical/core/examples/__init__.py
  src/ansys/mechanical/core/examples/downloads.py
  src/ansys/mechanical/core/launcher.py
  src/ansys/mechanical/core/logging.py
  src/ansys/mechanical/core/mechanical.py
  src/ansys/mechanical/core/misc.py
  src/ansys/mechanical/core/pool.py
  src/ansys/mechanical/core/run.py
Labels: maintenance

#381 Remove API doc references
  CHANGELOG.md
  doc/source/user_guide_scripting/index.rst
Labels: documentation

#385 Set up daily run for 241 testing and added manual inputs for workflow dispatch
  .github/workflows/ci_cd.yml
  CHANGELOG.md
Labels: enhancement, maintenance, CI/CD

#393 Adding python version 3.8 - 3.11 coverage for embedding tests
  .github/workflows/ci_cd.yml
  CHANGELOG.md
Labels: maintenance, CI/CD

#397 fix broken link
  CHANGELOG.md
  doc/source/links.rst
Labels: bug, documentation

#394 add option to include enums in global variables
  CHANGELOG.md
  doc/source/user_guide_embedding/globals.rst
  src/ansys/mechanical/core/embedding/enum_importer.py
  src/ansys/mechanical/core/embedding/imports.py
  tests/embedding/test_qk_eng_wb2.py
Labels: documentation

#400 Adding Test case for export off screen image from Mechanical
  CHANGELOG.md
  tests/embedding/test_qk_eng_wb2.py
Labels: maintenance, CI/CD

#411 minor doc correction
  CHANGELOG.md
  src/ansys/mechanical/core/mechanical.py
Labels: documentation

#412 doc fix
  CHANGELOG.md
  doc/source/user_guide_embedding/globals.rst
  doc/source/user_guide_embedding/libraries.rst
Labels: documentation

#421 Fix enum printout
  CHANGELOG.md
  pyproject.toml
Labels: maintenance, dependencies

#423 Add codeql.yml for security checks
  .github/workflows/codeql.yml
  CHANGELOG.md
Labels: enhancement, maintenance, CI/CD
