Repository ansys/pymechanical, pull requests merged in 2023-11, with the labels that each got.

#484 Bump : python version from 3.8 to 3.9
  .github/workflows/ci_cd.yml
  AUTHORS.md
  CHANGELOG.md
  doc/source/getting_started/index.rst
  pyproject.toml
  tox.ini
Labels: documentation, maintenance, CI/CD, dependencies

#496 Remove .reuse and LICENSES directories & bump add-license-header version
  .pre-commit-config.yaml
  .reuse/dep5
  .reuse/templates/ansys.jinja2
  CHANGELOG.md
  LICENSES/MIT.txt
  src/ansys/mechanical/core/logging.py
Labels: maintenance

#498 Fix hanging embedding tests
  .github/workflows/ci_cd.yml
  CHANGELOG.md
  tests/embedding/test_app.py
  tests/test_mechanical.py
Labels: bug, maintenance, CI/CD

#508 Add pymeilisearch
  .github/workflows/ci_cd.yml
  CHANGELOG.md
  doc/source/conf.py
Labels: documentation, enhancement, maintenance, CI/CD

#506 Add cheetsheat template and improve example visibility
  CHANGELOG.md
  doc/source/_templates/cheatsheet_sidebar.html
  doc/source/conf.py
  doc/source/index.rst
Labels: documentation, enhancement, maintenance, CI/CD
