Repository ansys/pymechanical, pull requests merged in 2023-12, with the labels that each got.

#519 Add 242 to scheduled nightly run
  .github/workflows/ci_cd.yml
  CHANGELOG.md
Labels: maintenance, CI/CD

#516 Fix ansys-mechanical for finding path
  CHANGELOG.md
  doc/source/api/helper.rst
  doc/source/api/index.rst
  doc/source/api/logging.rst
  doc/source/api/mechanical.rst
  doc/source/api/path.rst
  doc/source/api/pool.rst
  doc/source/getting_started/index.rst
  docker/make_container.rst
  src/ansys/mechanical/core/run.py
Labels: bug, documentation

#521 Add mechanical-env to workflow
  .github/workflows/ci_cd.yml
  CHANGELOG.md
  pyproject.toml
Labels: maintenance, CI/CD, dependencies

#529 Add doc pdf build to workflow
  .github/workflows/ci_cd.yml
  CHANGELOG.md
Labels: maintenance, CI/CD

#522 Replace workbench_lite with mechanical-env in the docs
  CHANGELOG.md
  doc/source/getting_started/index.rst
  doc/source/getting_started/running_mechanical.rst
  pyproject.toml
  src/ansys/mechanical/core/embedding/initializer.py
Labels: documentation, maintenance, CI/CD, dependencies

#530 Update changelog for 0.10.5 release
  CHANGELOG.md
Labels: maintenance

#538 fix: pymeilisearch name typo and favicon
  CHANGELOG.md
  doc/source/conf.py
  doc/source/favicon.png
Labels: bug, documentation

#540 Update the gif to reduce the whitespace
  CHANGELOG.md
  doc/source/images/gmech_scripting_recording.gif
Labels: documentation

#541 ci: update ansys/actions to v5
  .github/workflows/ci_cd.yml
  CHANGELOG.md
Labels: maintenance, CI/CD
