Repository ansys/pymechanical, pull requests merged in 2023-10, with the labels that each got.

#425 fix appdata tests
  .github/workflows/ci_cd.yml
  CHANGELOG.md
  tests/scripts/run_embedded_app.py
Labels: bug, maintenance, CI/CD

#432 remove version limit for protobuf
  CHANGELOG.md
  pyproject.toml
Labels: maintenance, dependencies

#434 unset all logging environment variables
  CHANGELOG.md
  tests/embedding/test_logger.py
Labels: bug

#444 Update ansys_mechanical_api to 0.1.1
  CHANGELOG.md
  doc/.vale.ini
  pyproject.toml
Labels: maintenance, dependencies

#439 pytest --ansys-version dependent on existing install
  CHANGELOG.md
  tests/conftest.py
Labels: bug

#450 Update examples page
  .github/workflows/ci_cd.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  doc/source/conf.py
  doc/source/examples/index.rst
  doc/source/examples/pymechanical_embedding_examples_repo/index.rst
  doc/source/examples/pymechanical_examples_repo/index.rst
  examples/00_basic/README.txt
  examples/00_basic/example_01_simple_structural_solve.py
  examples/00_basic/example_02_capture_images.py
  examples/00_basic/example_03_show_object_properties.py
  examples/01_tips_n_tricks/README.txt
  examples/01_tips_n_tricks/example_01_run_python_script_output.py
  examples/01_tips_n_tricks/example_02_run_python_script_scope.py
  examples/embedding_n_remote/README.txt
  examples/embedding_n_remote/embedding_remote.py
  pyproject.toml
Labels: documentation, maintenance, CI/CD, dependencies

#459 Flexible version for embedding & remote example
  CHANGELOG.md
  examples/embedding_n_remote/embedding_remote.py
Labels: bug, documentation

#461 Update obsolete api in quick workbench testing - embedding
  CHANGELOG.md
  tests/embedding/test_qk_eng_wb2.py
Labels: bug

#458 Updated wording for revn-variations section
  .github/workflows/ci_cd.yml
  CHANGELOG.md
Labels: bug, maintenance, CI/CD

#466 Update temporary file creation in test_app
  CHANGELOG.md
  tests/embedding/test_app.py
Labels: maintenance

#472 Bump add-license-headers from v0.1.3 to v0.2.0
  .pre-commit-config.yaml
  .reuse/dep5
  CHANGELOG.md
  LICENSES/MIT.txt
  examples/embedding_n_remote/embedding_remote.py
  tests/conftest.py
  tests/embedding/__init__.py
  tests/embedding/test_app.py
  tests/embedding/test_logger.py
  tests/embedding/test_qk_eng_wb2.py
  tests/scripts/api.py
  tests/scripts/embedding_log_test.py
  tests/scripts/log_message.py
  tests/scripts/run_embedded_app.py
  tests/scripts/run_python_error.py
  tests/scripts/run_python_success.py
  tests/scripts/run_remote_session.py
  tests/test_examples_downloads.py
  tests/test_launcher.py
  tests/test_logging.py
  tests/test_mechanical.py
  tests/test_misc.py
  tests/test_pool.py
Labels: documentation, maintenance

#474 Fix private appdata environment variables and folder layout
  CHANGELOG.md
  src/ansys/mechanical/core/embedding/appdata.py
Labels: bug
