Repository ansys/pymechanical, pull requests merged in 2023-06, with the labels that each got.

#265 Logger implementation and tests
  .github/workflows/ci_cd.yml
  doc/source/examples/pymechanical_examples_repo/index.rst
  doc/source/user_guide_embedding/index.rst
  doc/source/user_guide_embedding/logging.rst
  doc/styles/Vocab/ANSYS/accept.txt
  src/ansys/mechanical/core/embedding/__init__.py
  src/ansys/mechanical/core/embedding/app.py
  src/ansys/mechanical/core/embedding/initializer.py
  src/ansys/mechanical/core/embedding/logger/__init__.py
  src/ansys/mechanical/core/embedding/logger/environ.py
  src/ansys/mechanical/core/embedding/logger/linux_api.py
  src/ansys/mechanical/core/embedding/logger/sinks.py
  src/ansys/mechanical/core/embedding/logger/windows_api.py
  src/ansys/mechanical/core/embedding/logging.py
  tests/conftest.py
  tests/embedding/test_app.py
  tests/embedding/test_logger.py
  tests/scripts/embedding_log_test.py
  tests/test_mechanical.py
Labels: bug, documentation, maintenance, CI/CD

#280 Use updated ansys-tools-path.
  CHANGELOG.md
  pyproject.toml
Labels: bug, maintenance, dependencies

#285 Added private AppData functionality to embedding
  CHANGELOG.md
  src/ansys/mechanical/core/embedding/app.py
  src/ansys/mechanical/core/embedding/initializer.py
  tests/embedding/test_app.py
  tests/scripts/run_embedded_app.py
Labels: enhancement
