Repository ansys/pymechanical, pull requests merged in 2023-08, with the labels that each got.

#317 fix: broken links
  CHANGELOG.md
  doc/source/conf.py
  doc/source/getting_started/docker.rst
  doc/source/getting_started/faq.rst
  doc/source/getting_started/wsl.rst
Labels: bug, documentation

#319 Added warning for ansys-mechanical when provided an input script
  CHANGELOG.md
  src/ansys/mechanical/core/run.py
Labels: bug

#323 Added version check for ansys-mechanical warning message
  CHANGELOG.md
  src/ansys/mechanical/core/run.py
Labels: bug

#322 Add changelog check to CI/CD
  .github/workflows/ci_cd.yml
  CHANGELOG.md
Labels: enhancement, maintenance, CI/CD

#326 Fixed warning message for ansys-mechanical
  CHANGELOG.md
  src/ansys/mechanical/core/run.py
Labels: bug

#320 Remove project lock file on close
  CHANGELOG.md
  src/ansys/mechanical/core/embedding/app.py
  tests/embedding/test_app.py
Labels: bug

#308 addin configuration and tests
  CHANGELOG.md
  doc/source/user_guide_embedding/configuration.rst
  doc/source/user_guide_embedding/index.rst
  pyproject.toml
  src/ansys/mechanical/core/embedding/__init__.py
  src/ansys/mechanical/core/embedding/addins.py
  src/ansys/mechanical/core/embedding/app.py
  src/ansys/mechanical/core/embedding/config.py
  tests/conftest.py
  tests/embedding/test_logger.py
  tests/scripts/embedding_log_test.py
Labels: documentation, maintenance, dependencies

#332 Added TempPathFactory to test_app_save_open
  CHANGELOG.md
  tests/embedding/test_app.py
Labels: bug

#333 Update python minimum requirement from 3.7 to 3.8
  CHANGELOG.md
  pyproject.toml
Labels: bug, maintenance, dependencies

#335 Minor private appdata updates
  .github/workflows/ci_cd.yml
  CHANGELOG.md
  pyproject.toml
  src/ansys/mechanical/core/embedding/initializer.py
  src/ansys/mechanical/core/embedding/loader.py
  tests/embedding/test_app.py
  tests/embedding/test_logger.py
  tests/scripts/run_embedded_app.py
Labels: maintenance, CI/CD, dependencies

#339 update clr-loader dependency
  CHANGELOG.md
  pyproject.toml
  src/ansys/mechanical/core/embedding/app.py
  src/ansys/mechanical/core/embedding/loader.py
  src/ansys/mechanical/core/embedding/runtime.py
Labels: maintenance, dependencies

#343 New features for `ansys-mechanical` console script
  CHANGELOG.md
  doc/source/getting_started/running_mechanical.rst
  src/ansys/mechanical/core/embedding/app.py
  src/ansys/mechanical/core/embedding/appdata.py
  src/ansys/mechanical/core/embedding/initializer.py
  src/ansys/mechanical/core/run.py
Labels: documentation

#341 Max parallel 2 for embedding tests - ci_cd.yml
  .github/workflows/ci_cd.yml
  CHANGELOG.md
Labels: enhancement, maintenance, CI/CD

#345 fix: issues with PyPIM object.inv
  CHANGELOG.md
  doc/source/conf.py
Labels: bug, documentation

#347 Add links for doc and cheat sheet
  CHANGELOG.md
  README.rst
  doc/source/index.rst
Labels: documentation

#359 cicd: follow up of dependabot automated changelog
  .github/workflows/ci_cd.yml
  CHANGELOG.md
Labels: maintenance, CI/CD
