Repository ansys/pymechanical, pull requests merged in 2024-04, with the labels that each got.

#672 add windows library loader util
  doc/changelog.d/672.added.md
  src/ansys/mechanical/core/embedding/utils.py
Labels: documentation, enhancement

#674 Maint: Auto approve and merge dependabot PR
  .github/workflows/dependabot_automerge.yml
  doc/changelog.d/674.changed.md
Labels: documentation, maintenance, CI/CD

#677 Fix: Assign ci bot for dependabot PR
  .github/dependabot.yml
  doc/changelog.d/677.fixed.md
Labels: bug, documentation, maintenance, CI/CD

#681 Fix: Add matrix python in embedding test
  .github/workflows/ci_cd.yml
  doc/changelog.d/681.fixed.md
Labels: bug, documentation, maintenance, CI/CD

#683 fix transformation matrix
  doc/changelog.d/683.fixed.md
  src/ansys/mechanical/core/embedding/viz/pyvista_plotter.py
Labels: bug, documentation

#682 Fix: Remove warning message test for remote session launch
  .github/workflows/ci_cd.yml
  doc/changelog.d/682.fixed.md
  tests/test_mechanical.py
Labels: bug, documentation, maintenance, CI/CD

#688 Fix: Modify retrieving path of Mechanical in tests
  doc/changelog.d/688.fixed.md
  tests/conftest.py
  tests/test_mechanical.py
Labels: bug, documentation

#693 Feat: Add link check
  .github/workflows/ci_cd.yml
  doc/changelog.d/693.added.md
Labels: documentation, enhancement, maintenance, CI/CD

#695 work around instability in 2024R1
  doc/changelog.d/695.fixed.md
  src/ansys/mechanical/core/embedding/initializer.py
Labels: bug, documentation

#692 Maint: Add code cov report
  .github/workflows/ci_cd.yml
  codecov.yml
  doc/changelog.d/692.changed.md
Labels: documentation, maintenance, CI/CD

#690 Feat: Add reports for remote connect tests
  .github/workflows/ci_cd.yml
  doc/changelog.d/690.added.md
  pyproject.toml
Labels: documentation, enhancement, maintenance, CI/CD, dependencies

#662 Add embedding_scripts marker
  .github/workflows/ci_cd.yml
  doc/changelog.d/662.added.md
  pyproject.toml
  tests/conftest.py
  tests/embedding/test_app.py
  tests/embedding/test_logger.py
Labels: documentation, enhancement, maintenance, CI/CD, dependencies

#701 add open-usd exporter
  doc/changelog.d/701.dependencies.md
  pyproject.toml
  src/ansys/mechanical/core/embedding/viz/usd_converter.py
Labels: documentation, dependencies

#708 Feat: `mechanical-env` check before running embedding
  codecov.yml
  doc/changelog.d/708.added.md
  pyproject.toml
  src/ansys/mechanical/core/embedding/initializer.py
Labels: documentation, enhancement, maintenance, dependencies

#707 Feat: Update `get_mechanical_path`
  codecov.yml
  doc/changelog.d/707.added.md
  src/ansys/mechanical/core/run.py
Labels: documentation, enhancement, maintenance

#711 update graphics based on backend changes
  doc/changelog.d/711.miscellaneous.md
  src/ansys/mechanical/core/embedding/viz/pyvista_plotter.py
  src/ansys/mechanical/core/embedding/viz/usd_converter.py
Labels: documentation

#712 Maint: Modify nightly run
  .github/workflows/ci_cd.yml
  doc/changelog.d/712.changed.md
Labels: documentation, maintenance, CI/CD

#718 Split pyvista into two methods and remove the stability workaround for 242
  doc/changelog.d/718.miscellaneous.md
  src/ansys/mechanical/core/embedding/initializer.py
  src/ansys/mechanical/core/embedding/viz/pyvista_plotter.py
Labels: documentation

#720 fix: merging coverage step in ci_cd
  .github/workflows/ci_cd.yml
  doc/changelog.d/720.fixed.md
Labels: bug, documentation, maintenance, CI/CD

#721 fix: Publish coverage for remote connect
  .github/workflows/ci_cd.yml
  doc/changelog.d/721.fixed.md
Labels: bug, documentation, maintenance, CI/CD

#723 Update conf.py
  doc/changelog.d/723.miscellaneous.md
  doc/source/conf.py
Labels: documentation
