Repository ansys/pymechanical, pull requests merged in 2024-02, with the labels that each got.

#583 MAINT: Bump ```ansys.mechanical.env``` from 0.1.2 to 0.1.3
  .github/workflows/ci_cd.yml
  CHANGELOG.md
  pyproject.toml
Labels: maintenance, CI/CD, dependencies

#590 Update workflow versions to run 241 and 242
  .github/workflows/ci_cd.yml
  CHANGELOG.md
Labels: maintenance, CI/CD

#592 Add PyMechanical logo
  CHANGELOG.md
  README.rst
  doc/.vale.ini
  doc/source/conf.py
  doc/source/images/pymechanical-logo-light.png
  doc/source/index.rst
  doc/styles/Vocab/ANSYS/accept.txt
Labels: documentation, enhancement

#601 Fix : Add logo for dark theme
  CHANGELOG.md
  README.rst
  doc/source/_static/logo/pymechanical-logo-dark.png
  doc/source/_static/logo/pymechanical-logo-light.png
  doc/source/index.rst
Labels: bug, documentation, maintenance, CI/CD

#613 MAINT: Update vale version 3.1.0
  .github/workflows/ci_cd.yml
  CHANGELOG.md
  doc/.vale.ini
  doc/styles/.gitignore
  doc/styles/config/vocabularies/ANSYS/accept.txt
  doc/styles/config/vocabularies/ANSYS/reject.txt
Labels: documentation, maintenance, CI/CD

#621 Put remote example before embedding example
  .github/workflows/ci_cd.yml
  CHANGELOG.md
  examples/embedding_n_remote/embedding_remote.py
Labels: bug, documentation, maintenance, CI/CD
