Repository ansys/pymechanical, pull requests merged in 2024-10, with the labels that each got.

#927 CHORE: Use static search
  .github/workflows/ci_cd.yml
  .github/workflows/label.yml
  .github/workflows/package_cleanup.yml
  doc/changelog.d/927.maintenance.md
  doc/source/cheatsheet/cheat_sheet.qmd
  doc/source/conf.py
  pyproject.toml
Labels: documentation, maintenance, dependencies, ci/cd

#908 CHORE: Remove unnecessary dependencies
  .github/workflows/ci_cd.yml
  doc/changelog.d/908.maintenance.md
Labels: documentation, maintenance, ci/cd

#929 fix: update AUTHORS file
  AUTHORS
  doc/changelog.d/929.fixed.md
Labels: bug, documentation

#936 FEAT: Automatically update pre-commit ci PR with prefix
  .pre-commit-config.yaml
  doc/changelog.d/936.added.md
Labels: documentation, enhancement, maintenance

#709 ci: Add vulnerability check
  .github/workflows/ci_cd.yml
  doc/changelog.d/709.maintenance.md
Labels: documentation, enhancement, maintenance, ci/cd

#937 chore: Code maintenance
  doc/changelog.d/937.maintenance.md
  src/ansys/mechanical/core/embedding/initializer.py
  src/ansys/mechanical/core/embedding/viz/utils.py
  src/ansys/mechanical/core/mechanical.py
  src/ansys/mechanical/core/pool.py
  src/ansys/mechanical/core/run.py
Labels: documentation, maintenance

#935 feat: `ansys-mechanical-ideconfig` command
  doc/changelog.d/935.added.md
  pyproject.toml
  src/ansys/mechanical/core/ide_config.py
  tests/test_cli.py
Labels: documentation, enhancement, dependencies

#926 refactor: use embedding clr host in version 251
  doc/changelog.d/926.miscellaneous.md
  src/ansys/mechanical/core/embedding/initializer.py
Labels: documentation

#942 fix: Warning for multiple version
  doc/changelog.d/942.fixed.md
  src/ansys/mechanical/core/embedding/initializer.py
Labels: bug, documentation

#947 chore: code maintenance
  doc/changelog.d/947.maintenance.md
  pyproject.toml
  src/ansys/mechanical/core/embedding/background.py
  src/ansys/mechanical/core/examples/downloads.py
  src/ansys/mechanical/core/pool.py
  tests/embedding/test_background.py
Labels: bug, documentation, dependencies

#948 feat: add `ansys-mechanical-stubs` as a dependency
  doc/changelog.d/948.added.md
  pyproject.toml
  src/ansys/mechanical/core/embedding/app.py
  src/ansys/mechanical/core/ide_config.py
Labels: documentation, enhancement, dependencies

#956 chore: bump `ansys-mechanical-stubs` to v0.1.4
  doc/changelog.d/956.maintenance.md
  pyproject.toml
Labels: documentation, maintenance, dependencies

#957 feat: add typehints to ExtAPI, Tree, and Graphics
  doc/changelog.d/957.added.md
  src/ansys/mechanical/core/embedding/app.py
Labels: documentation, enhancement

#951 feat: Add overwrite option for `App.save_as()`
  doc/changelog.d/951.added.md
  src/ansys/mechanical/core/embedding/app.py
  tests/embedding/test_app.py
Labels: bug, documentation

#952 fix: stubs CLI test
  doc/changelog.d/952.fixed.md
  pyproject.toml
  src/ansys/mechanical/core/ide_config.py
  tests/conftest.py
  tests/test_cli.py
Labels: bug, documentation, dependencies

#950 fix: bandit warnings
  doc/changelog.d/950.fixed.md
  src/ansys/mechanical/core/embedding/background.py
  src/ansys/mechanical/core/embedding/ui.py
  src/ansys/mechanical/core/launcher.py
Labels: bug, documentation
