Repository ansys/pymechanical, pull requests merged in 2024-08, with the labels that each got.

#846 Feat: Integrate ansys visualization tool
  doc/changelog.d/846.added.md
  pyproject.toml
  src/ansys/mechanical/core/embedding/app.py
  src/ansys/mechanical/core/embedding/viz/embedding_plotter.py
Labels: documentation, enhancement, dependencies

#848 Maint: Update qk07
  doc/changelog.d/848.fixed.md
  src/ansys/mechanical/core/embedding/app.py
  tests/assets/longbar.sat
  tests/assets/longbar_sat_m.x_t
  tests/embedding/test_qk_eng_wb2.py
Labels: bug, documentation, dependencies

#849 add background app class
  doc/changelog.d/849.documentation.md
  src/ansys/mechanical/core/embedding/background.py
  tests/embedding/test_background.py
  tests/embedding/test_logger.py
  tests/scripts/background_app_test.py
Labels: documentation

#852 Maint: Update qk5
  doc/changelog.d/852.documentation.md
  tests/embedding/test_qk_eng_wb2.py
Labels: documentation, maintenance

#854 use "OnWorkbenchReady" to update globals
  doc/changelog.d/854.fixed.md
  src/ansys/mechanical/core/embedding/app.py
Labels: bug, documentation

#855 fix: underline issue with changelog.rst section generation
  doc/changelog.d/855.fixed.md
  pyproject.toml
Labels: bug, documentation, dependencies

#857 Feat: add a layer to load into an existing stage
  doc/changelog.d/857.fixed.md
  src/ansys/mechanical/core/embedding/viz/usd_converter.py
Labels: bug, documentation

#858 Refactor usd export
  doc/changelog.d/858.fixed.md
  src/ansys/mechanical/core/embedding/viz/embedding_plotter.py
  src/ansys/mechanical/core/embedding/viz/usd_converter.py
  src/ansys/mechanical/core/embedding/viz/utils.py
Labels: bug, documentation

#860 FIX: App plot None check
  doc/changelog.d/860.documentation.md
  docker/docker-compose.yml
  src/ansys/mechanical/core/embedding/app.py
Labels: documentation, maintenance, ci/cd

#863 MAINT: update ansys-sphinx-theme
  doc/changelog.d/863.documentation.md
  doc/source/conf.py
  pyproject.toml
Labels: documentation, maintenance, dependencies

#871 MAINT: Cheat sheet
  doc/changelog.d/871.documentation.md
  doc/source/cheatsheet/cheat_sheet.qmd
  doc/source/conf.py
Labels: documentation, maintenance

#878 DOCS: Refactor
  README.rst
  doc/changelog.d/878.documentation.md
  doc/source/_static/logo/pymechanical-logo-dark.png
  doc/source/_static/logo/pymechanical-logo-light.png
  doc/source/conf.py
  doc/source/contributing.rst
  doc/source/examples/index.rst
  doc/source/faq.rst
  doc/source/getting_started/faq.rst
  doc/source/getting_started/index.rst
  doc/source/getting_started/installation.rst
  doc/source/getting_started/running_mechanical.rst
  doc/source/index.rst
  doc/source/kil/index.rst
  doc/source/links.rst
  doc/source/user_guide_embedding/index.rst
  doc/source/user_guide_session/index.rst
Labels: documentation

#885 DOCS: Minor changes
  README.rst
  doc/changelog.d/885.documentation.md
  doc/source/_static/logo/pymechanical-logo.png
  doc/source/_templates/layout.html
  doc/source/architecture.rst
  doc/source/conf.py
  doc/source/contributing.rst
  doc/source/getting_started/index.rst
  doc/source/index.rst
  doc/source/user_guide_embedding/index.rst
  doc/source/user_guide_scripting/index.rst
  doc/source/user_guide_session/index.rst
  doc/styles/.gitignore
  doc/styles/config/vocabularies/ANSYS/accept.txt
Labels: documentation

#888 DOCS: Fix doc layout
  doc/changelog.d/888.documentation.md
  doc/source/conf.py
Labels: documentation
