Repository ansys/pymechanical, pull requests merged in 2024-03, with the labels that each got.

#626 Fix: Add MechanicalEnums
  CHANGELOG.md
  src/ansys/mechanical/core/embedding/imports.py
  tests/embedding/test_globals.py
Labels: bug

#628 Fix : Update Release action to use Stable version of Mechanical
  .github/workflows/ci_cd.yml
  CHANGELOG.md
Labels: bug, maintenance, CI/CD

#584 Add LS Dyna unit test
  .codespellrc
  CHANGELOG.md
  pyproject.toml
  tests/conftest.py
  tests/embedding/test_dyna.py
  tests/embedding/test_qk_eng_wb2.py
Labels: enhancement, maintenance, CI/CD, dependencies, future

#636 Maint: Update nightly run image version
  .github/workflows/ci_cd.yml
  CHANGELOG.md
Labels: maintenance, CI/CD

#631 Maint: update timeout for actions
  .github/workflows/ci_cd.yml
  CHANGELOG.md
Labels: maintenance, CI/CD

#638 feat: Update cheat sheet with ansys-sphinx-theme
  .gitignore
  CHANGELOG.md
  doc/source/_templates/cheatsheet_sidebar.html
  doc/source/conf.py
  pyproject.toml
Labels: documentation, enhancement, maintenance, CI/CD, dependencies

#640 Fix: Update logo without slash
  CHANGELOG.md
  doc/source/_static/logo/pymechanical-logo-dark.png
  doc/source/_static/logo/pymechanical-logo-light.png
Labels: bug, documentation

#618 Minor updates to Architecture doc
  .github/workflows/ci_cd.yml
  CHANGELOG.md
  doc/source/architecture.rst
  doc/source/conf.py
  examples/embedding_n_remote/embedding_remote.py
  tests/conftest.py
Labels: documentation, maintenance, CI/CD

#652 Fix: Make pdf action in doc build
  .github/workflows/ci_cd.yml
  CHANGELOG.md
Labels: maintenance, CI/CD

#650 Doc: Add usage of cli under embedding
  CHANGELOG.md
  doc/source/user_guide_embedding/index.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
Labels: documentation

#647 Feat: Block 32 bit python for embedding
  CHANGELOG.md
  src/ansys/mechanical/core/embedding/initializer.py
Labels: enhancement

#664 Test : pdf action
  CHANGELOG.md
  doc/source/conf.py
Labels: bug, documentation

#663 DOC: Improve documentation for the embedded instances.
  doc/changelog.d/663.miscellaneous.md
  doc/source/user_guide_embedding/index.rst
Labels: documentation

#656 Doc: fix docs and vale warning
  .github/workflows/ci_cd.yml
  doc/changelog.d/656.changed.md
  doc/source/architecture.rst
  doc/source/getting_started/wsl.rst
  doc/source/user_guide_embedding/index.rst
  doc/source/user_guide_embedding/libraries.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
Labels: documentation, maintenance, CI/CD

#666 FEAT: Group dependabot alerts
  .github/CODEOWNERS
  .github/dependabot.yml
  .github/labeler.yml
  doc/changelog.d/666.added.md
Labels: documentation, enhancement, maintenance, CI/CD
