Repository ansys/pymechanical, pull requests merged in 2024-05, with the labels that each got.

#727 Fix: add return for poster
  doc/changelog.d/727.fixed.md
  src/ansys/mechanical/core/embedding/poster.py
  tests/embedding/test_app.py
Labels: bug, documentation

#733 catch the mono version warning
  doc/changelog.d/733.miscellaneous.md
  src/ansys/mechanical/core/embedding/loader.py
Labels: documentation

#734 set mono trace env vars before loading mono
  doc/changelog.d/734.changed.md
  src/ansys/mechanical/core/embedding/loader.py
Labels: documentation, maintenance, CI/CD

#729 feat: Add tests for animation exports
  doc/changelog.d/729.added.md
  tests/conftest.py
  tests/embedding/test_graphics_export.py
  tests/embedding/test_qk_eng_wb2.py
Labels: documentation, enhancement

#735 add feature flags to ansys-mechanical cli
  .github/workflows/ci_cd.yml
  doc/changelog.d/735.added.md
  doc/source/getting_started/running_mechanical.rst
  pyproject.toml
  src/ansys/mechanical/core/embedding/appdata.py
  src/ansys/mechanical/core/feature_flags.py
  src/ansys/mechanical/core/run.py
  tests/conftest.py
  tests/test_cli.py
Labels: documentation, enhancement, maintenance, CI/CD, dependencies

#739 feat: Add test for deprecation warning
  doc/changelog.d/739.added.md
  tests/embedding/test_app.py
Labels: documentation, enhancement

#740 fix: adding mechanical libraries
  doc/changelog.d/740.fixed.md
  doc/source/user_guide_embedding/libraries.rst
  src/ansys/mechanical/core/embedding/app_libraries.py
  tests/embedding/test_app.py
  tests/embedding/test_app_libraries.py
Labels: bug, documentation

#746 fix: Display image and build info only for scheduled run
  .github/workflows/ci_cd.yml
  doc/changelog.d/746.fixed.md
Labels: bug, documentation, maintenance, CI/CD

#744 feat: Add more coverage on logging
  doc/changelog.d/744.fixed.md
  tests/scripts/embedding_log_test.py
Labels: bug, documentation

#748 fix: upload coverage files only for latest stable version on release workflow
  .github/workflows/ci_cd.yml
  doc/changelog.d/748.fixed.md
Labels: bug, documentation, maintenance, CI/CD

#753 feat: raise an exception if port or input script aren't provided in batch mode
  doc/changelog.d/753.added.md
  src/ansys/mechanical/core/run.py
  tests/test_cli.py
Labels: documentation, enhancement
