Repository ansys/pymechanical, pull requests merged in 2024-11, with the labels that each got.

#971 CI: Update docs build action container
  .github/workflows/ci_cd.yml
  doc/changelog.d/971.maintenance.md
Labels: documentation, maintenance, ci/cd

#965 CI: Modify how job success is verified for CI/CD
  .github/workflows/ci_cd.yml
  doc/changelog.d/965.maintenance.md
Labels: documentation, maintenance, ci/cd

#974 FIX: Update embedding script tests
  doc/changelog.d/974.fixed.md
  tests/conftest.py
  tests/embedding/test_background.py
  tests/embedding/test_logger.py
Labels: documentation, maintenance

#972 docs: add Mechanical API link to Mechanical Scripting page
  doc/changelog.d/972.documentation.md
  doc/source/links.rst
  doc/source/user_guide_scripting/index.rst
Labels: documentation, enhancement

#980 FEAT: Adding new method for connecting to Mechanical instance
  doc/changelog.d/980.added.md
  doc/source/cheatsheet/cheat_sheet.qmd
  src/ansys/mechanical/core/__init__.py
  src/ansys/mechanical/core/mechanical.py
  tests/conftest.py
Labels: documentation, enhancement

#986 FEAT: Update private app data creation and add tests
  doc/changelog.d/986.added.md
  src/ansys/mechanical/core/embedding/app.py
  src/ansys/mechanical/core/embedding/appdata.py
  src/ansys/mechanical/core/run.py
  tests/embedding/test_app.py
  tests/embedding/test_appdata.py
  tests/scripts/run_embedded_app.py
Labels: documentation, enhancement
