Repository ansys/pymechanical, pull requests merged in 2024-06, with the labels that each got.

#750 MAINT: Delete the apt-get lists after installing packages
  doc/changelog.d/750.changed.md
  docker/231/Dockerfile
  docker/232/Dockerfile
  docker/241/Dockerfile
Labels: documentation, maintenance, CI/CD

#758 Doc: Add embedding api references
  doc/changelog.d/758.added.md
  doc/source/api/embedding.rst
  doc/source/api/index.rst
Labels: documentation, enhancement

#757 feat: use changelog.rst instead of CHANGELOG.md for release notes
  CHANGELOG.md
  doc/changelog.d/757.added.md
  doc/changelog.d/changelog_template.jinja
  doc/source/changelog.rst
  doc/source/conf.py
  doc/source/index.rst
  pyproject.toml
Labels: documentation, enhancement, dependencies

#762 MAINT: Update files as per pyansys standards
  .codespellrc
  .flake8
  .github/codecov.yml
  .github/labeler.yml
  .pre-commit-config.yaml
  AUTHORS.md
  CONTRIBUTING.md
  README.rst
  doc/changelog.d/762.dependencies.md
  doc/styles/config/vocabularies/ANSYS/accept.txt
  pyproject.toml
  tox.ini
Labels: documentation, maintenance, CI/CD, dependencies

#763 FIX: Modify pre-commit hook
  .pre-commit-config.yaml
  doc/changelog.d/763.fixed.md
Labels: bug, documentation, maintenance

#767 add method to update globals
  doc/changelog.d/767.miscellaneous.md
  doc/source/user_guide_embedding/globals.rst
  doc/source/user_guide_embedding/index.rst
  doc/source/user_guide_embedding/libraries.rst
  examples/embedding_n_remote/embedding_remote.py
  src/ansys/mechanical/core/embedding/app.py
  tests/conftest.py
  tests/embedding/test_dyna.py
  tests/embedding/test_globals.py
  tests/embedding/test_graphics_export.py
  tests/embedding/test_qk_eng_wb2.py
Labels: documentation

#772 fix pythonnet issue
  doc/changelog.d/772.fixed.md
  src/ansys/mechanical/core/embedding/app.py
  tests/conftest.py
Labels: bug, documentation, maintenance, CI/CD

#761 feat: implement autoapi
  CHANGELOG.md
  doc/changelog.d/761.added.md
  doc/source/_templates/autoapi/index.rst
  doc/source/_templates/autoapi/python/class.rst
  doc/source/_templates/autoapi/python/module.rst
  doc/source/api/embedding.rst
  doc/source/api/helper.rst
  doc/source/api/index.rst
  doc/source/api/logging.rst
  doc/source/api/mechanical.rst
  doc/source/api/path.rst
  doc/source/api/pool.rst
  doc/source/architecture.rst
  doc/source/conf.py
  doc/source/getting_started/faq.rst
  doc/source/getting_started/installation.rst
  doc/source/getting_started/running_mechanical.rst
  doc/source/user_guide_embedding/configuration.rst
  doc/source/user_guide_embedding/index.rst
  doc/source/user_guide_embedding/logging.rst
  doc/source/user_guide_session/index.rst
  doc/source/user_guide_session/mechanical.rst
  doc/source/user_guide_session/pool.rst
  doc/source/user_guide_session/server-launcher.rst
  pyproject.toml
  src/ansys/mechanical/core/__init__.py
  src/ansys/mechanical/core/_version.py
  src/ansys/mechanical/core/embedding/app.py
  src/ansys/mechanical/core/embedding/initializer.py
  src/ansys/mechanical/core/embedding/logger/__init__.py
  src/ansys/mechanical/core/errors.py
  src/ansys/mechanical/core/logging.py
  src/ansys/mechanical/core/mechanical.py
  src/ansys/mechanical/core/run.py
Labels: documentation, enhancement, dependencies

#776 Fix: Remove disable sec check
  .gitignore
  doc/changelog.d/776.fixed.md
  doc/source/_templates/autoapi/index.rst
  doc/source/api/path.rst
  src/ansys/mechanical/core/embedding/initializer.py
  tests/embedding/test_remote_solve.py
Labels: bug, documentation

#771 Test specific version
  .github/workflows/ci_cd.yml
  doc/changelog.d/771.changed.md
Labels: documentation, maintenance, CI/CD

#782 chore: bump add-license-headers version to 0.3.2
  .pre-commit-config.yaml
  doc/changelog.d/782.changed.md
Labels: documentation, maintenance

#779 FEAT: Add an App method to print project tree for embedding scenario
  doc/changelog.d/779.added.md
  src/ansys/mechanical/core/embedding/app.py
  tests/embedding/test_app.py
Labels: documentation, enhancement, maintenance

#784 fix sharing app instances, clarify contract
  doc/changelog.d/784.fixed.md
  src/ansys/mechanical/core/embedding/app.py
Labels: bug, documentation

#790 FEAT: Add graphics and globals
  doc/changelog.d/790.added.md
  src/ansys/mechanical/core/embedding/app.py
  src/ansys/mechanical/core/embedding/imports.py
  tests/embedding/test_globals.py
Labels: documentation, enhancement

#787 FEAT: Add test for building gallery
  doc/changelog.d/787.added.md
  tests/embedding/test_app.py
  tests/scripts/build_gallery_test.py
Labels: documentation, enhancement

#796 docs: update architecture.rst
  doc/changelog.d/796.miscellaneous.md
  doc/source/architecture.rst
Labels: documentation
