Repository ansys/pymechanical, pull requests merged in 2024-01, with the labels that each got.

#548 Update LICENSE
  CHANGELOG.md
  LICENSE
Labels: maintenance

#549 Bump `add-license-headers` from 0.2.2 to 0.2.4
  .pre-commit-config.yaml
  CHANGELOG.md
  pyproject.toml
Labels: maintenance, dependencies

#550 Fix cli find mechanical
  CHANGELOG.md
  src/ansys/mechanical/core/run.py
Labels: bug

#542 Adding transaction for embedding
  CHANGELOG.md
  doc/source/user_guide_embedding/globals.rst
  doc/source/user_guide_scripting/index.rst
  src/ansys/mechanical/core/embedding/imports.py
  tests/embedding/test_globals.py
Labels: bug, documentation

#556 Update license headers and package versions
  .pre-commit-config.yaml
  CHANGELOG.md
  examples/embedding_n_remote/embedding_remote.py
  pyproject.toml
  src/ansys/mechanical/core/__init__.py
  src/ansys/mechanical/core/_version.py
  src/ansys/mechanical/core/embedding/__init__.py
  src/ansys/mechanical/core/embedding/addins.py
  src/ansys/mechanical/core/embedding/app.py
  src/ansys/mechanical/core/embedding/app_libraries.py
  src/ansys/mechanical/core/embedding/appdata.py
  src/ansys/mechanical/core/embedding/enum_importer.py
  src/ansys/mechanical/core/embedding/imports.py
  src/ansys/mechanical/core/embedding/initializer.py
  src/ansys/mechanical/core/embedding/loader.py
  src/ansys/mechanical/core/embedding/logger/__init__.py
  src/ansys/mechanical/core/embedding/logger/environ.py
  src/ansys/mechanical/core/embedding/logger/linux_api.py
  src/ansys/mechanical/core/embedding/logger/sinks.py
  src/ansys/mechanical/core/embedding/logger/windows_api.py
  src/ansys/mechanical/core/embedding/resolver.py
  src/ansys/mechanical/core/embedding/runtime.py
  src/ansys/mechanical/core/embedding/shims.py
  src/ansys/mechanical/core/embedding/utils.py
  src/ansys/mechanical/core/embedding/warnings.py
  src/ansys/mechanical/core/errors.py
  src/ansys/mechanical/core/examples/__init__.py
  src/ansys/mechanical/core/examples/downloads.py
  src/ansys/mechanical/core/launcher.py
  src/ansys/mechanical/core/logging.py
  src/ansys/mechanical/core/mechanical.py
  src/ansys/mechanical/core/misc.py
  src/ansys/mechanical/core/pool.py
  src/ansys/mechanical/core/run.py
  tests/conftest.py
  tests/embedding/__init__.py
  tests/embedding/test_app.py
  tests/embedding/test_globals.py
  tests/embedding/test_logger.py
  tests/embedding/test_qk_eng_wb2.py
  tests/scripts/api.py
  tests/scripts/embedding_log_test.py
  tests/scripts/log_message.py
  tests/scripts/run_embedded_app.py
  tests/scripts/run_python_error.py
  tests/scripts/run_python_success.py
  tests/scripts/run_remote_session.py
  tests/test_examples_downloads.py
  tests/test_launcher.py
  tests/test_logging.py
  tests/test_mechanical.py
  tests/test_misc.py
  tests/test_pool.py
Labels: documentation, maintenance, dependencies

#558 Update changelog for 0.10.6 release
  CHANGELOG.md
Labels: maintenance

#561 Update getting started page
  .pre-commit-config.yaml
  CHANGELOG.md
  doc/Makefile
  doc/source/404.rst
  doc/source/api/helper.rst
  doc/source/api/index.rst
  doc/source/api/logging.rst
  doc/source/api/mechanical.rst
  doc/source/api/path.rst
  doc/source/contributing.rst
  doc/source/examples/index.rst
  doc/source/getting_started/docker.rst
  doc/source/getting_started/faq.rst
  doc/source/getting_started/index.rst
  doc/source/getting_started/installation.rst
  doc/source/getting_started/running_mechanical.rst
  doc/source/getting_started/versioning.rst
  doc/source/getting_started/wsl.rst
  doc/source/index.rst
  doc/source/links.rst
  doc/source/user_guide_embedding/configuration.rst
  doc/source/user_guide_embedding/globals.rst
  doc/source/user_guide_embedding/index.rst
  doc/source/user_guide_embedding/libraries.rst
  doc/source/user_guide_embedding/logging.rst
  doc/source/user_guide_scripting/index.rst
  doc/source/user_guide_scripting/threading.rst
  doc/source/user_guide_session/index.rst
  doc/source/user_guide_session/mechanical.rst
  doc/source/user_guide_session/pool.rst
  doc/source/user_guide_session/server-launcher.rst
Labels: documentation, maintenance

#566 Update 232 to 241 in docs, docstrings, examples, and tests
  CHANGELOG.md
  doc/source/getting_started/running_mechanical.rst
  doc/source/user_guide_embedding/index.rst
  doc/source/user_guide_embedding/libraries.rst
  examples/embedding_n_remote/embedding_remote.py
  src/ansys/mechanical/core/_version.py
  src/ansys/mechanical/core/run.py
  tests/conftest.py
Labels: documentation, maintenance

#575 Add pre-commit hooks
  .github/labels.yml
  .github/workflows/ci_cd.yml
  .github/workflows/label.yml
  .pre-commit-config.yaml
  CHANGELOG.md
  README.rst
  doc/source/contributing.rst
  doc/source/examples/index.rst
  doc/source/getting_started/faq.rst
  doc/source/getting_started/installation.rst
  doc/source/getting_started/wsl.rst
  doc/source/index.rst
  doc/source/user_guide_session/server-launcher.rst
  docker/231/Dockerfile
  docker/232/.dockerignore
  docker/232/Dockerfile
  docker/241/.dockerignore
  docker/241/Dockerfile
  docker/docker-compose.license_server.yml
  docker/docker-compose.local.yml
  docker/docker-compose.yml
  docker/make_container.rst
Labels: bug, documentation, maintenance, CI/CD
