Repository ansys/pymechanical, pull requests merged in 2024-07, with the labels that each got.

#800 Fix sentence in architecture file
  doc/changelog.d/800.fixed.md
  doc/source/architecture.rst
Labels: bug, documentation

#803 MAINT: Update nightly runs for 251
  .github/workflows/ci_cd.yml
  doc/changelog.d/803.changed.md
Labels: documentation, maintenance, CI/CD

#802 feat: add --script-args argument to ansys-mechanical
  doc/changelog.d/802.added.md
  src/ansys/mechanical/core/run.py
  tests/test_cli.py
Labels: documentation, enhancement

#804 FEAT: Update print_tree method
  doc/changelog.d/804.added.md
  src/ansys/mechanical/core/embedding/app.py
  tests/embedding/test_app.py
Labels: documentation, enhancement

#806 MAINT: Refactor CICD
  .github/workflows/ci_cd.yml
  doc/changelog.d/806.changed.md
Labels: documentation, maintenance, CI/CD

#812 fix exception when plotting a model with any line bodies
  doc/changelog.d/812.miscellaneous.md
  src/ansys/mechanical/core/embedding/viz/pyvista_plotter.py
  src/ansys/mechanical/core/embedding/viz/usd_converter.py
Labels: documentation

#814 MAINT: Update dev version of pymechanical
  doc/changelog.d/814.dependencies.md
  pyproject.toml
Labels: documentation, maintenance, dependencies

#815 Update ACT API Reference Guide link
  doc/changelog.d/815.changed.md
  doc/source/links.rst
Labels: documentation, maintenance

#760 FEAT: Add known issues and limitation section
  .gitignore
  doc/changelog.d/760.added.md
  doc/source/conf.py
  doc/source/index.rst
  doc/source/kil/index.rst
  doc/source/kil/mechanical.rst
  doc/source/kil/pymechanical.rst
  doc/source/links.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
  src/ansys/mechanical/core/embedding/imports.py
  src/ansys/mechanical/core/misc.py
Labels: documentation, enhancement

#810 MAINT: Update for 24R2
  .github/workflows/ci_cd.yml
  README.rst
  doc/changelog.d/810.changed.md
  doc/source/getting_started/docker.rst
  doc/source/getting_started/installation.rst
  doc/source/getting_started/running_mechanical.rst
  doc/source/links.rst
  doc/source/user_guide_embedding/index.rst
  doc/source/user_guide_embedding/libraries.rst
  doc/source/user_guide_session/pool.rst
  doc/source/user_guide_session/server-launcher.rst
  docker/make_container.rst
  src/ansys/mechanical/core/_version.py
  src/ansys/mechanical/core/embedding/initializer.py
  src/ansys/mechanical/core/embedding/logger/__init__.py
  src/ansys/mechanical/core/mechanical.py
  src/ansys/mechanical/core/misc.py
  src/ansys/mechanical/core/pool.py
  src/ansys/mechanical/core/run.py
  tests/conftest.py
  tests/embedding/test_app.py
  tests/test_mechanical.py
Labels: documentation, maintenance, CI/CD

#821 MAINT: Update pymech-env
  doc/changelog.d/821.dependencies.md
  doc/source/kil/index.rst
  pyproject.toml
Labels: documentation, maintenance, dependencies

#822 MAINT: Updates for 242
  .github/workflows/package_cleanup.yml
  README.rst
  doc/changelog.d/822.changed.md
  doc/source/conf.py
  doc/source/getting_started/index.rst
  doc/source/getting_started/installation.rst
  doc/source/getting_started/running_mechanical.rst
  doc/source/getting_started/versioning.rst
  doc/source/index.rst
  doc/source/kil/index.rst
  doc/source/user_guide_embedding/index.rst
  src/ansys/mechanical/core/embedding/resolver.py
  src/ansys/mechanical/core/mechanical.py
  src/ansys/mechanical/core/pool.py
  tests/conftest.py
  tests/test_cli.py
  tests/test_pool.py
Labels: documentation, maintenance, CI/CD

#830 Feat: Add option for generating docs without examples
  doc/Makefile
  doc/changelog.d/830.added.md
  doc/make.bat
Labels: documentation, enhancement, maintenance, CI/CD

#831 DOC: Add documentation for ``launch_mechanical``
  .gitignore
  doc/changelog.d/831.miscellaneous.md
  doc/source/user_guide_session/index.rst
Labels: documentation

#829 DOC: Update known issues and limitations
  doc/changelog.d/829.added.md
  doc/source/kil/mechanical.rst
Labels: documentation, enhancement

#833 Maint: Update qk_07 test
  doc/changelog.d/833.fixed.md
  pyproject.toml
  tests/conftest.py
  tests/embedding/test_qk_eng_wb2.py
Labels: bug, documentation, dependencies

#836 Maint: Update new labels
  .github/labels.yml
  doc/changelog.d/836.changed.md
Labels: documentation, maintenance, ci/cd

#837 MAINT: Update ``shims.material_import``
  doc/changelog.d/837.changed.md
  src/ansys/mechanical/core/embedding/shims.py
  tests/embedding/test_app.py
  tests/embedding/test_qk_eng_wb2.py
Labels: documentation, maintenance
