Repository ansys/pymechanical, pull requests merged in 2024-09, with the labels that each got.

#895 FIX: Adapting braking change for upload action
  .github/workflows/ci_cd.yml
  doc/changelog.d/895.fixed.md
Labels: bug, documentation, maintenance, ci/cd

#894 FIX: Update ``execute_script`` method
  doc/changelog.d/894.fixed.md
  src/ansys/mechanical/core/embedding/app.py
  tests/embedding/test_app.py
Labels: bug, documentation

#897 docs: remove ``thispagetitle`` metatag
  doc/changelog.d/897.documentation.md
  doc/source/_templates/layout.html
  doc/source/index.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
Labels: documentation

#901 FIX: Remove Python class reference.
  doc/changelog.d/901.fixed.md
  doc/source/user_guide_session/index.rst
Labels: documentation

#902 FEAT: Add method to execute script from file for embedding
  doc/changelog.d/902.added.md
  src/ansys/mechanical/core/embedding/app.py
  tests/embedding/test_app.py
Labels: documentation, enhancement

#882 feat: launch_gui command
  doc/changelog.d/882.added.md
  pyproject.toml
  src/ansys/mechanical/core/embedding/app.py
  src/ansys/mechanical/core/embedding/cleanup_gui.py
  src/ansys/mechanical/core/embedding/ui.py
  src/ansys/mechanical/core/run.py
  tests/conftest.py
  tests/embedding/test_app.py
  tests/embedding/test_background.py
  tests/embedding/test_logger.py
Labels: documentation, enhancement, dependencies

#909 feat: add warning for x11 loaded before init on 25.1+
  doc/changelog.d/909.added.md
  src/ansys/mechanical/core/embedding/initializer.py
Labels: documentation

#904 CHORE: Drop python 3.9
  .github/workflows/ci_cd.yml
  doc/changelog.d/904.maintenance.md
  doc/source/getting_started/installation.rst
  pyproject.toml
Labels: documentation, maintenance, dependencies, ci/cd

#911 fix: documentation links
  doc/changelog.d/911.fixed.md
  doc/source/links.rst
Labels: bug, documentation

#920 FIX: Use "lite" CLR host on windows for 251+
  doc/changelog.d/920.fixed.md
  src/ansys/mechanical/core/embedding/addins.py
  src/ansys/mechanical/core/embedding/initializer.py
  tests/embedding/test_dyna.py
Labels: documentation

#917 FIX: Throw value error for unsupported version of Mechanical
  doc/changelog.d/917.fixed.md
  doc/source/conf.py
  src/ansys/mechanical/core/embedding/initializer.py
Labels: bug, documentation
