Repository ansys/pymechanical, pull requests merged in 2025-08, with the labels that each got.

#1267 FIX: Update latest release action
  .github/workflows/ci_cd.yml
  doc/changelog.d/1267.fixed.md
Labels: documentation, maintenance, ci/cd

#1268 FEAT: Add plot option for mesh
  doc/changelog.d/1268.added.md
  src/ansys/mechanical/core/embedding/app.py
  src/ansys/mechanical/core/embedding/graphics/embedding_plotter.py
  src/ansys/mechanical/core/embedding/graphics/usd_converter.py
  src/ansys/mechanical/core/embedding/graphics/utils.py
Labels: documentation

#1256 feat: New python script option
  doc/changelog.d/1256.added.md
  src/ansys/mechanical/core/embedding/rpc/client.py
  src/ansys/mechanical/core/mechanical.py
  tests/test_mechanical.py
Labels: documentation

#1278 FIX: Update windows store python workaround
  doc/changelog.d/1278.fixed.md
  src/ansys/mechanical/core/embedding/initializer.py
Labels: bug, documentation

#1282 DOCS: Update docstring
  doc/changelog.d/1282.documentation.md
  doc/source/user_guide_embedding/pep8.rst
  src/ansys/mechanical/core/embedding/license_manager.py
Labels: documentation

#1288 CHORE: Increase timeout for tests
  .github/workflows/ci_cd.yml
  doc/changelog.d/1288.maintenance.md
Labels: documentation, maintenance, ci/cd

#1286 CHORE: Move `mechanical-env` script to PyMechanical
  doc/changelog.d/1286.maintenance.md
  mechanical-env
  pyproject.toml
  src/ansys/mechanical/core/embedding/find_mechanical.py
Labels: documentation, dependencies
