Repository ansys/pymechanical, pull requests merged in 2025-02, with the labels that each got.

#1082 CHORE: Upgrade `ansys-sphinx-theme`
  doc/changelog.d/1082.maintenance.md
  pyproject.toml
Labels: documentation, maintenance, dependencies

#1083 CHORE: update clr loader version
  doc/changelog.d/1083.maintenance.md
  pyproject.toml
Labels: documentation, maintenance, dependencies

#1057 feat: Add "what's new" sections to changelog
  doc/changelog.d/1057.added.md
  doc/changelog.d/whatsnew.yml
  doc/source/conf.py
  pyproject.toml
Labels: documentation, enhancement, dependencies

#1068 FEAT: Add a Message Manager for App
  doc/changelog.d/1068.added.md
  src/ansys/mechanical/core/embedding/app.py
  src/ansys/mechanical/core/embedding/messages.py
  tests/embedding/test_messages.py
Labels: bug, documentation, dependencies

#1088 FIX: Embedding rpc server shutdown
  doc/changelog.d/1088.fixed.md
  src/ansys/mechanical/core/embedding/rpc/client.py
  src/ansys/mechanical/core/embedding/rpc/server.py
  tests/conftest.py
Labels: bug, documentation

#1085 CHORE: Integrate uv in CI/CD
  .github/workflows/ci_cd.yml
  doc/changelog.d/1085.maintenance.md
Labels: documentation, maintenance, ci/cd

#1096 docs: Add "what's new" fragment for the globals parameter in App
  doc/changelog.d/1096.documentation.md
  doc/changelog.d/whatsnew.yml
Labels: documentation, maintenance

#1098 DOCS: Fix typo for remote session documentation.
  doc/changelog.d/1098.documentation.md
  doc/source/user_guide_session/index.rst
Labels: documentation

#1099 DOCS: Update documentation for Mechanical container.
  doc/changelog.d/1099.documentation.md
  doc/source/getting_started/index.rst
Labels: documentation

#1090 FIX: Remove unnecessary prints from embedding rpc
  doc/changelog.d/1090.fixed.md
  src/ansys/mechanical/core/embedding/rpc/client.py
  src/ansys/mechanical/core/embedding/rpc/server.py
  src/ansys/mechanical/core/embedding/rpc/utils.py
Labels: bug, documentation

#1104 CHORE: Change main python version in CI/CD
  .github/workflows/ci_cd.yml
  doc/changelog.d/1104.maintenance.md
Labels: documentation, maintenance, ci/cd

#1105 CI: Upload coverage to codacy
  .github/workflows/ci_cd.yml
  doc/changelog.d/1105.maintenance.md
Labels: documentation, enhancement, maintenance, ci/cd

#1101 FEAT: Add rpyc option in `launch_mechanical`
  doc/changelog.d/1101.added.md
  src/ansys/mechanical/core/embedding/rpc/client.py
  src/ansys/mechanical/core/mechanical.py
Labels: documentation, enhancement
