Repository ansys/pymechanical, pull requests merged in 2025-01, with the labels that each got.

#1015 chore: Bump ``ansys-mechanical-stubs`` to 0.1.5 and add typehint to DataModel
  doc/changelog.d/1015.maintenance.md
  pyproject.toml
  src/ansys/mechanical/core/embedding/app.py
Labels: documentation, maintenance, dependencies

#1016 CHORE: Follow pythonic standard for comparison to None.
  doc/changelog.d/1016.maintenance.md
  src/ansys/mechanical/core/embedding/app.py
  src/ansys/mechanical/core/embedding/background.py
  src/ansys/mechanical/core/embedding/logger/__init__.py
  src/ansys/mechanical/core/mechanical.py
  tests/conftest.py
Labels: documentation, maintenance

#1029 fix: Process return code
  doc/changelog.d/1029.fixed.md
  tests/conftest.py
  tests/embedding/test_logger.py
Labels: documentation

#1022 FEAT: Add project directory property
  doc/changelog.d/1022.added.md
  src/ansys/mechanical/core/embedding/app.py
  src/ansys/mechanical/core/embedding/ui.py
  tests/embedding/test_app.py
Labels: documentation, enhancement

#1030 FIX: Background App initialization
  doc/changelog.d/1026.fixed.md
  doc/changelog.d/1030.fixed.md
  src/ansys/mechanical/core/embedding/background.py
  src/ansys/mechanical/core/embedding/initializer.py
  tests/embedding/test_background.py
Labels: documentation

#997 CHORE: Support python 3.13
  .github/workflows/ci_cd.yml
  doc/changelog.d/997.maintenance.md
  doc/source/getting_started/installation.rst
  pyproject.toml
Labels: documentation, enhancement, maintenance, dependencies, ci/cd

#1038 feat: add poster method that raises an exception
  doc/changelog.d/1038.added.md
  src/ansys/mechanical/core/embedding/poster.py
  tests/embedding/test_app.py
Labels: documentation

#1037 FEAT: Update enum and globals
  doc/changelog.d/1037.added.md
  src/ansys/mechanical/core/embedding/enum_importer.py
  src/ansys/mechanical/core/embedding/imports.py
Labels: documentation, enhancement

#1044 chore: Bump `ansys-mechanical-stubs` from 0.1.5 to 0.1.6
  doc/changelog.d/1044.maintenance.md
  pyproject.toml
Labels: documentation, maintenance, dependencies

#1048 CHORE: Bump `ansys-mechanical-env` version from `0.1.8` to `0.1.9`
  doc/changelog.d/1048.maintenance.md
  pyproject.toml
Labels: documentation, maintenance, dependencies

#1042 FEAT: docker and ci/cd change for 25R1
  .github/workflows/ci_cd.yml
  doc/changelog.d/1042.added.md
  doc/source/getting_started/docker.rst
  docker/251/Dockerfile
  docker/251/dockerignore
  docker/docker-compose.yml
  docker/make_container.rst
Labels: documentation, maintenance, ci/cd

#1045 CHORE: Update default product version to 25R1
  README.rst
  doc/changelog.d/1045.maintenance.md
  doc/source/cheatsheet/cheat_sheet.qmd
  doc/source/faq.rst
  doc/source/getting_started/docker.rst
  doc/source/getting_started/installation.rst
  doc/source/getting_started/running_mechanical.rst
  doc/source/getting_started/wsl.rst
  doc/source/index.rst
  doc/source/links.rst
  doc/source/user_guide_embedding/index.rst
  doc/source/user_guide_embedding/libraries.rst
  doc/source/user_guide_session/index.rst
  doc/source/user_guide_session/pool.rst
  doc/source/user_guide_session/server-launcher.rst
  docker/make_container.rst
  src/ansys/mechanical/core/_version.py
  src/ansys/mechanical/core/embedding/app.py
  src/ansys/mechanical/core/embedding/initializer.py
  src/ansys/mechanical/core/embedding/logger/__init__.py
  src/ansys/mechanical/core/embedding/resolver.py
  src/ansys/mechanical/core/ide_config.py
  src/ansys/mechanical/core/mechanical.py
  src/ansys/mechanical/core/misc.py
  src/ansys/mechanical/core/pool.py
  src/ansys/mechanical/core/run.py
  tests/conftest.py
  tests/test_cli.py
  tests/test_mechanical.py
Labels: documentation, maintenance, ci/cd

#1049 FEAT: Add CPython feature flag for `ansys-mechanical` cli
  doc/changelog.d/1049.added.md
  doc/source/getting_started/running_mechanical.rst
  src/ansys/mechanical/core/feature_flags.py
  tests/test_cli.py
Labels: documentation, enhancement

#1061 docs: Clarify support guidelines
  README.rst
  doc/changelog.d/1061.documentation.md
  doc/source/conf.py
  doc/source/kil/index.rst
  doc/source/user_guide_scripting/index.rst
Labels: documentation, maintenance

#1060 feat: Create option for PyPIM to be installed separately
  doc/changelog.d/1060.added.md
  pyproject.toml
  src/ansys/mechanical/core/mechanical.py
  src/ansys/mechanical/core/pool.py
Labels: documentation, enhancement, maintenance, dependencies

#1058 FIX: Add explicit interface support
  doc/changelog.d/1058.fixed.md
  src/ansys/mechanical/core/embedding/app.py
  src/ansys/mechanical/core/embedding/runtime.py
  tests/embedding/test_app.py
Labels: bug, documentation

#1065 test: update poster test
  doc/changelog.d/1065.test.md
  pyproject.toml
  tests/embedding/test_app.py
Labels: documentation, dependencies

#1072 FIX: Disable app poster test
  doc/changelog.d/1072.fixed.md
  tests/embedding/test_app.py
Labels: bug, documentation

#1069 CHORE: Add gitattributes and renormalize files
  .gitattributes
  README.rst
  doc/changelog.d/1069.maintenance.md
  doc/source/cheatsheet/cheat_sheet.qmd
  doc/source/kil/index.rst
  doc/source/links.rst
  doc/source/user_guide_embedding/index.rst
  doc/source/user_guide_embedding/libraries.rst
  doc/source/user_guide_session/index.rst
  doc/source/user_guide_session/pool.rst
  doc/source/user_guide_session/server-launcher.rst
  docker/docker-compose.yml
  src/ansys/mechanical/core/_version.py
  src/ansys/mechanical/core/embedding/app.py
  src/ansys/mechanical/core/embedding/logger/__init__.py
  src/ansys/mechanical/core/embedding/resolver.py
  src/ansys/mechanical/core/ide_config.py
  src/ansys/mechanical/core/mechanical.py
  src/ansys/mechanical/core/misc.py
  src/ansys/mechanical/core/pool.py
  src/ansys/mechanical/core/run.py
  tests/test_cli.py
  tests/test_mechanical.py
Labels: bug, documentation, ci/cd

#1055 FEAT: Rpyc integration
  .github/workflows/ci_cd.yml
  doc/changelog.d/1055.added.md
  pyproject.toml
  src/ansys/mechanical/core/embedding/background.py
  src/ansys/mechanical/core/embedding/rpc/__init__.py
  src/ansys/mechanical/core/embedding/rpc/client.py
  src/ansys/mechanical/core/embedding/rpc/server.py
  src/ansys/mechanical/core/embedding/rpc/utils.py
  src/ansys/mechanical/core/mechanical.py
  tests/conftest.py
  tests/scripts/rpc_server_embedded.py
  tests/test_mechanical.py
Labels: documentation, enhancement, maintenance, dependencies, ci/cd

#1062 chore: Raise error if Ansys has no attribute Mechanical
  .github/workflows/ci_cd.yml
  doc/changelog.d/1062.maintenance.md
  src/ansys/mechanical/core/embedding/resolver.py
  tests/embedding/test_app.py
Labels: bug, documentation, maintenance, ci/cd
