Repository ansys/pymechanical, pull requests merged in 2025-09, with the labels that each got.

#1299 DOCS: Address vale warnings
  doc/changelog.d/1299.documentation.md
  doc/source/examples/advanced_examples/index.rst
  doc/source/kil/index.rst
  doc/source/kil/pymechanical.rst
  doc/source/user_guide/howto/autocomplete.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
Labels: bug, documentation

#1306 DOCS: Add pep8 in whatsnew
  doc/changelog.d/1306.documentation.md
  doc/changelog.d/whatsnew.yml
Labels: documentation

#1293 DOCS: Update contribute section
  doc/changelog.d/1293.documentation.md
  doc/source/contribute.rst
  doc/source/contribute/developer.rst
  doc/source/contribute/documentarian.rst
  doc/source/contribute/user.rst
  doc/source/index.rst
  doc/source/links.rst
Labels: documentation

#1320 CHORE: Update qt version
  doc/changelog.d/1320.maintenance.md
  doc/source/kil/index.rst
  doc/source/kil/mechanical.rst
  mechanical-env
Labels: documentation

#1321 CHORE: Combine Python cache step into one and confirm Python is installed
  .github/workflows/setup-python/action.yml
  doc/changelog.d/1321.maintenance.md
Labels: documentation, maintenance, ci/cd

#1324 FIX: Add `mechanical-env` in wheel
  doc/changelog.d/1324.fixed.md
  pyproject.toml
Labels: bug, documentation, dependencies

#1334 feat: Notify maintainers when scheduled run fails
  .github/workflows/ci_cd.yml
  doc/changelog.d/1334.added.md
Labels: bug, documentation, maintenance, ci/cd
