Repository ansys/pymechanical, pull requests merged in 2025-06, with the labels that each got.

#1188 chore: Update docker image version for nightly run
  .github/workflows/ci_cd.yml
  doc/changelog.d/1188.maintenance.md
Labels: documentation, maintenance, ci/cd

#1187 fix: Consider multiple `site-packages` folders
  doc/changelog.d/1187.fixed.md
  src/ansys/mechanical/core/ide_config.py
Labels: bug, documentation

#1196 docs: add physics meta tag
  doc/changelog.d/1196.documentation.md
  doc/source/conf.py
  doc/source/index.rst
Labels: documentation

#1197 DOCS: Update `launch_mechanical` api usage examples
  doc/changelog.d/1197.documentation.md
  doc/source/getting_started/running_mechanical.rst
  doc/source/user_guide_session/server-launcher.rst
  src/ansys/mechanical/core/mechanical.py
Labels: bug, documentation

#1200 ci: upload docs using the bot's token
  .github/workflows/ci_cd.yml
  doc/changelog.d/1200.maintenance.md
Labels: documentation, maintenance, ci/cd

#1204 docs: update the meta tag typo
  doc/changelog.d/1204.documentation.md
  doc/source/conf.py
Labels: documentation

#1208 fix: add more versions to lite host
  doc/changelog.d/1208.fixed.md
  src/ansys/mechanical/core/embedding/initializer.py
  tests/embedding/test_app_libraries.py
Labels: documentation
