Repository ansys/pymechanical, pull requests merged in 2025-03, with the labels that each got.

#1091 FEAT: add logging for app
  doc/changelog.d/1091.added.md
  src/ansys/mechanical/core/__init__.py
  src/ansys/mechanical/core/embedding/app.py
  src/ansys/mechanical/core/embedding/initializer.py
Labels: documentation, enhancement

#1100 docs: Adjust globals documentation
  doc/changelog.d/1100.documentation.md
  doc/changelog.d/whatsnew.yml
  doc/source/cheatsheet/cheat_sheet.qmd
  doc/source/conf.py
  doc/source/user_guide_embedding/globals.rst
  doc/source/user_guide_embedding/index.rst
Labels: documentation

#1074 FIX: Add option on rpc server for accepting multiple services
  doc/changelog.d/1074.fixed.md
  src/ansys/mechanical/core/embedding/rpc/server.py
Labels: bug, documentation

#1106 CHORE: Add solution status assert in example
  .github/workflows/ci_cd.yml
  doc/changelog.d/1106.maintenance.md
  examples/embedding_n_remote/embedding_remote.py
Labels: documentation, maintenance, ci/cd

#1117 test: enable poster test
  doc/changelog.d/1117.test.md
  tests/embedding/test_app.py
Labels: documentation

#1122 feat: Rpc bg switch
  doc/changelog.d/1122.added.md
  src/ansys/mechanical/core/embedding/rpc/__init__.py
  src/ansys/mechanical/core/embedding/rpc/client.py
  src/ansys/mechanical/core/embedding/rpc/default_server.py
  src/ansys/mechanical/core/embedding/rpc/server.py
  src/ansys/mechanical/core/embedding/rpc/utils.py
  src/ansys/mechanical/core/mechanical.py
  tests/conftest.py
  tests/test_mechanical.py
Labels: documentation, maintenance, ci/cd

#1129 docs: add cheatsheet env and update theme
  doc/changelog.d/1129.documentation.md
  doc/source/conf.py
  pyproject.toml
Labels: documentation, dependencies
