Repository ansys/pymechanical, pull requests merged in 2025-07, with the labels that each got.

#1219 chore: Add security file
  SECURITY.md
  doc/changelog.d/1219.maintenance.md
Labels: documentation

#1223 fix(doc): remove duplication of metatag
  doc/changelog.d/1223.fixed.md
  doc/source/conf.py
Labels: bug, documentation

#1232 fix: Add important section to script helpers page for clarification
  doc/changelog.d/1232.fixed.md
  doc/source/user_guide_scripting/helper_scripts.rst
Labels: bug, documentation

#1237 CI: Update ci/cd to use 25R2
  .github/workflows/ci_cd.yml
  doc/changelog.d/1237.maintenance.md
Labels: documentation, maintenance, ci/cd

#1238 CHORE: Update docker files
  doc/changelog.d/1238.maintenance.md
  docker/232/.dockerignore
  docker/241/Dockerfile
  docker/251/Dockerfile
  docker/252/Dockerfile
  docker/252/dockerignore
  docker/make_container.rst
Labels: documentation, ci/cd

#1246 feat: Add stale issue label
  .github/labels.yml
  doc/changelog.d/1246.added.md
Labels: documentation, enhancement, maintenance, ci/cd

#1249 DOCS: Add pep8 aliases documentation
  doc/changelog.d/1249.documentation.md
  doc/source/user_guide_embedding/index.rst
  doc/source/user_guide_embedding/pep8.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
Labels: documentation

#1233 FEAT: Add lock option removal for `save_as` method
  doc/changelog.d/1233.added.md
  src/ansys/mechanical/core/embedding/app.py
  tests/embedding/test_app.py
Labels: documentation, enhancement

#1259 fix: Remove workaround for Documents folder
  .github/workflows/ci_cd.yml
  doc/changelog.d/1259.fixed.md
Labels: documentation, maintenance, ci/cd
