Repository ansys/pymechanical, pull requests merged in 2025-05, with the labels that each got.

#1152 fix: Appdata test maintenance and pyvista deprecation warning
  .github/workflows/ci_cd.yml
  doc/changelog.d/1152.fixed.md
  src/ansys/mechanical/core/embedding/app.py
  src/ansys/mechanical/core/embedding/appdata.py
  src/ansys/mechanical/core/embedding/graphics/embedding_plotter.py
  tests/scripts/run_embedded_app.py
Labels: documentation, maintenance, ci/cd

#1153 fix: add workaround for windows store
  doc/changelog.d/1153.fixed.md
  src/ansys/mechanical/core/embedding/initializer.py
Labels: documentation

#1156 test: add test case for analytics capture
  doc/changelog.d/1156.test.md
  tests/embedding/test_analytics.py
  tests/embedding/test_logger.py
  tests/scripts/run_analytics.py
Labels: documentation

#1162 fix: Add token for release to github ansys/actions v9
  .github/workflows/ci_cd.yml
  doc/changelog.d/1162.fixed.md
Labels: bug, documentation, maintenance, ci/cd

#1171 fix: Add `self._messages` to BUILDING_GALLERY section in app initialization
  doc/changelog.d/1171.fixed.md
  src/ansys/mechanical/core/embedding/app.py
  tests/embedding/test_globals.py
  tests/scripts/run_embedded_app.py
Labels: bug, documentation

#1178 chore: Update the branch name to main
  doc/changelog.d/1178.maintenance.md
  src/ansys/mechanical/core/examples/downloads.py
Labels: documentation, maintenance
